Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

chore: adding changelog file 3918.fixed.md [dependabot-skip]
  doc/changelog.d/3918.fixed.md
Labels: none

style: update custom.css and index.rst for navbar background and section header formatting
  doc/source/_static/custom.css
  doc/source/user_guide/index.rst
Labels: documentation

style: remove background style for back-to-top button in custom.css since it does not affect. Waiting for ansys-sphinx-theme release
  doc/source/_static/custom.css
Labels: documentation

build: update action versions in CI workflows to latest stable releases
  .github/workflows/ci.yml
  .github/workflows/docker_clean_untagged.yml
  .github/workflows/label.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3920.maintenance.md [dependabot-skip]
  doc/changelog.d/3920.maintenance.md
Labels: none

build: update action versions in CI workflows to latest stable releases (#3920)
  .github/workflows/ci.yml
  .github/workflows/docker_clean_untagged.yml
  .github/workflows/label.yml
  doc/changelog.d/3920.maintenance.md
Labels: maintenance, CI/CD

fix: add Stack Overflow links to linkcheck ignore list
  doc/source/conf.py
Labels: documentation

fix: documentation html looks (#3918)
  doc/changelog.d/3918.fixed.md
  doc/source/_static/custom.css
  doc/source/conf.py
  doc/source/index.rst
  doc/source/user_guide/index.rst
Labels: documentation

chore: adding changelog file 3922.fixed.md [dependabot-skip]
  doc/changelog.d/3922.fixed.md
Labels: none

fix: specify platform as linux/amd64 for all services in docker-compose
  docker/docker-compose.yml
Labels: CI/CD

release: update project version to 0.70.1
  pyproject.toml
Labels: maintenance, dependencies

chore: updating CHANGELOG for v0.70.1
  doc/changelog.d/3905.maintenance.md
  doc/changelog.d/3907.added.md
  doc/changelog.d/3909.maintenance.md
  doc/changelog.d/3910.dependencies.md
  doc/changelog.d/3911.dependencies.md
  doc/changelog.d/3913.added.md
  doc/changelog.d/3915.fixed.md
  doc/changelog.d/3918.fixed.md
  doc/changelog.d/3920.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.70.1
  doc/changelog.d/3905.maintenance.md
  doc/changelog.d/3907.added.md
  doc/changelog.d/3909.maintenance.md
  doc/changelog.d/3910.dependencies.md
  doc/changelog.d/3911.dependencies.md
  doc/changelog.d/3913.added.md
  doc/changelog.d/3915.fixed.md
  doc/changelog.d/3918.fixed.md
  doc/changelog.d/3920.maintenance.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 3923.added.md [dependabot-skip]
  doc/changelog.d/3923.added.md
Labels: none

chore: adding changelog file 3924.maintenance.md [dependabot-skip]
  doc/changelog.d/3924.maintenance.md
Labels: none

fix: update DPF Docker image tag to remove platform specification and use rocky version
  .github/workflows/test-remote.yml
Labels: maintenance, CI/CD

chore: update CHANGELOG for v0.70.1 (#3923)
  doc/changelog.d/3905.maintenance.md
  doc/changelog.d/3907.added.md
  doc/changelog.d/3909.maintenance.md
  doc/changelog.d/3910.dependencies.md
  doc/changelog.d/3911.dependencies.md
  doc/changelog.d/3913.added.md
  doc/changelog.d/3915.fixed.md
  doc/changelog.d/3918.fixed.md
  doc/changelog.d/3920.maintenance.md
  doc/changelog.d/3923.added.md
  doc/source/changelog.rst
Labels: documentation

fix: add environment variable to accept DPF license agreement during server activation
  .github/workflows/test-remote.yml
Labels: maintenance, CI/CD

fix: comment out DPF port waiting logic in waiting_services.sh
  .ci/waiting_services.sh
Labels: CI/CD

fix: add Stack Overflow links to linkcheck ignore list (#3922)
  doc/changelog.d/3922.fixed.md
  doc/source/conf.py
Labels: documentation

fix: correct PID logging for MAPDL service launch and add environment variable for DPF server
  .github/workflows/test-remote.yml
Labels: maintenance, CI/CD

fix: uncomment DPF port waiting logic in waiting_services.sh
  .ci/waiting_services.sh
Labels: CI/CD

fix: correct DPF Docker image tag in documentation build workflow
  .github/workflows/doc-build.yml
Labels: maintenance, CI/CD

fix: missing env var
  .github/workflows/doc-build.yml
Labels: maintenance, CI/CD

fix: update DPF Docker image tag to use rocky variant in workflows
  .github/workflows/doc-build.yml
  .github/workflows/test-remote.yml
Labels: maintenance, CI/CD

ci: use own DPF standalone Docker image reference in workflows (#3882)
  .ci/collect_mapdl_logs_remote.sh
  .github/workflows/doc-build.yml
  .github/workflows/test-remote.yml
  doc/changelog.d/3882.dependencies.md
  docker/docker-compose.yml
  pyproject.toml
  tests/test_dpf.py
Labels: maintenance, dependencies, CI/CD

chore: adding changelog file 3927.dependencies.md [dependabot-skip]
  doc/changelog.d/3927.dependencies.md
Labels: none

fix: update geometry import tests to use upload method for CAD files
  tests/test_importing_geometries.py
Labels: none

chore: adding changelog file 3930.added.md [dependabot-skip]
  doc/changelog.d/3930.added.md
Labels: none

fix: streamline IGES file reading by removing unnecessary upload calls
  tests/test_importing_geometries.py
Labels: none

fix: add migration modes to workflow and enhance conflict resolution logic
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update conflict resolution command syntax in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: rename environment variable for clarity in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update migrator workflow to remove mode input and use comment body for operation
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update migrator workflow to enhance clarity and functionality
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update base branch naming convention in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: specify branch reference for repo checkout in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3936.added.md [dependabot-skip]
  doc/changelog.d/3936.added.md
Labels: none

fix: enhance git configuration and conflict resolution logging in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update migrator workflow documentation and adjust base branch naming convention
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']
