Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']

revert: py313 changes
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/examples.yml
  .github/workflows/ci.yml
  doc/changelog.d/3605.added.md
  doc/source/getting_started/install_pymapdl.rst
  doc/source/user_guide/upf.rst
  pyproject.toml
  tox.ini
Labels: documentation, maintenance, dependencies, CI/CD

revert: not updating an example requirements
  doc/source/examples/extended_examples/gui/requirements.txt
Labels: documentation

revert: not updating example
  doc/source/examples/extended_examples/hpc/requirements.txt
Labels: documentation

chore: adding changelog file 3767.dependencies.md [dependabot-skip]
  doc/changelog.d/3767.dependencies.md
Labels: none

build: downgrade vtk to 9.3.1
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  doc/source/examples/extended_examples/gui/requirements.txt
  doc/source/examples/extended_examples/hpc/requirements.txt
  pyproject.toml
Labels: documentation, maintenance, dependencies, CI/CD

build: update ansys-tools-visualization-interface
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
Labels: maintenance, CI/CD

revert: not changing examples requirements
  doc/source/examples/extended_examples/gui/requirements.txt
  doc/source/examples/extended_examples/hpc/requirements.txt
Labels: documentation

build: downgrade vtk
  pyproject.toml
Labels: maintenance, dependencies

fix: bump vtk to 9.4.1
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  doc/source/examples/extended_examples/gui/requirements.txt
  pyproject.toml
Labels: documentation, maintenance, dependencies, CI/CD

feat: adding assert and patching exit
  tests/test_pool.py
Labels: none

fix: syntax error in docstring
  src/ansys/mapdl/core/component.py
Labels: none

ci: using python3.12 as main testing python version (#3767)
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
  .github/workflows/ci.yml
  doc/changelog.d/3767.dependencies.md
  pyproject.toml
  src/ansys/mapdl/core/plotting/visualizer.py
Labels: maintenance, dependencies, CI/CD

build: release v0.69.3
  pyproject.toml
Labels: maintenance, dependencies

chore: adding changelog file 3768.added.md [dependabot-skip]
  doc/changelog.d/3768.added.md
Labels: none

fix: removig star from command name
  doc/changelog.d/3758.fixed.md
Labels: none

Update doc/source/changelog.rst
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 3769.fixed.md [dependabot-skip]
  doc/changelog.d/3769.fixed.md
Labels: none

fix: removig star from command name in changelog (#3769)
  doc/changelog.d/3758.fixed.md
  doc/changelog.d/3769.fixed.md
Labels: none

revert: "build: release v0.69.3"
  pyproject.toml
Labels: maintenance, dependencies

release: v0.69.3
  pyproject.toml
Labels: maintenance, dependencies

chore: adding changelog file 3770.added.md [dependabot-skip]
  doc/changelog.d/3770.added.md
Labels: none

build: temporary avoid flit latest version
  pyproject.toml
Labels: maintenance, dependencies

chore: adding changelog file 3771.dependencies.md [dependabot-skip]
  doc/changelog.d/3771.dependencies.md
Labels: none

build: temporary avoid flit latest version (#3771)
  doc/changelog.d/3771.dependencies.md
  pyproject.toml
Labels: maintenance, dependencies

revert: "release: v0.69.3"
  pyproject.toml
Labels: maintenance, dependencies

release: v0.69.3
  pyproject.toml
Labels: maintenance, dependencies

chore: adding changelog file 3772.added.md [dependabot-skip]
  doc/changelog.d/3772.added.md
Labels: none

refactor: change a bit arguments default
  src/ansys/mapdl/core/mesh_grpc.py
Labels: none

refactor: simplifying code
  src/ansys/mapdl/core/mesh_grpc.py
Labels: none

feat: reorg changelog sections
  doc/source/changelog.rst
  pyproject.toml
Labels: documentation, maintenance, dependencies

chore: adding changelog file 3773.fixed.md [dependabot-skip]
  doc/changelog.d/3773.fixed.md
Labels: none

chore: adding changelog file 3774.dependencies.md [dependabot-skip]
  doc/changelog.d/3774.dependencies.md
Labels: none

chore: adding changelog file 3775.dependencies.md [dependabot-skip]
  doc/changelog.d/3775.dependencies.md
Labels: none

refactor: clarify comment and clean up test assertions
  src/ansys/mapdl/core/pool.py
  tests/test_pool.py
Labels: none

feat: implement ignore cache reset context
  src/ansys/mapdl/core/mesh_grpc.py
  tests/test_mesh_grpc.py
Labels: none

chore: adding changelog file 3778.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3778.miscellaneous.md
Labels: none

test: adding tests
  tests/test_mesh_grpc.py
Labels: none

feat: restoring previous state
  src/ansys/mapdl/core/mesh_grpc.py
Labels: none

fix: removing ``clear`` in ``set_up.py``
  doc/source/mapdl_commands/database/index.rst
  doc/source/mapdl_commands/database/set_up.rst
  src/ansys/mapdl/core/_commands/database/set_up.py
Labels: documentation

fix: improve chunk parsing timeout handling and error logging
  src/ansys/mapdl/core/common_grpc.py
Labels: none
