Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

feat: more content
  doc/source/conf.py
  doc/source/examples/extended_examples/sfem/realizations.png
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
Labels: documentation

ci: pin ubuntu OS to 22.04. (#3659)
  .github/workflows/ci.yml
  .github/workflows/linkchecker.yml
  doc/changelog.d/3659.maintenance.md
Labels: maintenance, CI/CD

chore: adding changelog file 3646.dependencies.md [dependabot-skip]
  doc/changelog.d/3646.dependencies.md
Labels: none

fix: parsing components when too many
  src/ansys/mapdl/core/component.py
  tests/test_component.py
Labels: none

chore: adding changelog file 3662.fixed.md [dependabot-skip]
  doc/changelog.d/3662.fixed.md
Labels: none

feat: adding __len__ to components
  src/ansys/mapdl/core/component.py
  tests/test_component.py
Labels: none

chore: adding changelog file 3663.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3663.miscellaneous.md
Labels: none

refactor: using test class in test_components.py
  tests/test_component.py
Labels: none

chore: adding changelog file 3664.added.md [dependabot-skip]
  doc/changelog.d/3664.added.md
Labels: none

fix: avoid com logging if not in debug mode
  src/ansys/mapdl/core/mapdl_core.py
  tests/test_mapdl.py
Labels: none

chore: adding changelog file 3665.fixed.md [dependabot-skip]
  doc/changelog.d/3665.fixed.md
Labels: none

tests: making sure the full and rst files exists before running the tests
  tests/test_xpl.py
Labels: none

chore: adding changelog file 3666.added.md [dependabot-skip]
  doc/changelog.d/3666.added.md
Labels: none

ci: downgrade add-license-headers ansys precommit hook.
  .pre-commit-config.yaml
  LICENSE
Labels: none

chore: adding changelog file 3667.maintenance.md [dependabot-skip]
  doc/changelog.d/3667.maintenance.md
Labels: none

ci: downgrade add-license-headers ansys precommit hook. (#3667)
  .pre-commit-config.yaml
  LICENSE
  doc/changelog.d/3667.maintenance.md
Labels: none

fix: test message
  tests/test_pool.py
Labels: none

ci: increase timeout for local
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3649.maintenance.md [dependabot-skip]
  doc/changelog.d/3649.maintenance.md
Labels: none

ci: skipping students version if on remote
  .ci/build_matrix.sh
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3668.maintenance.md [dependabot-skip]
  doc/changelog.d/3668.maintenance.md
Labels: none

ci: reducing minimal and console to two versions, and after local and remote
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3669.maintenance.md [dependabot-skip]
  doc/changelog.d/3669.maintenance.md
Labels: none

feat: toctree entry and more content
  doc/source/examples/extended_examples/index.rst
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
Labels: documentation

feat: more content and new figure
  doc/source/examples/extended_examples/sfem/problem.png
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
Labels: documentation

ci: skipping students version if on remote (#3668)
  .ci/build_matrix.sh
  .github/workflows/ci.yml
  doc/changelog.d/3668.maintenance.md
Labels: maintenance, CI/CD

ci: reducing minimal and console to two versions, and after local and remote (#3669)
  .github/workflows/ci.yml
  doc/changelog.d/3669.maintenance.md
Labels: maintenance, CI/CD

Update src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_core.py
Labels: none

ci: adding profiling to pytest
  .ci/collect_mapdl_logs_locals.sh
  .ci/collect_mapdl_logs_remote.sh
  .github/workflows/ci.yml
  pyproject.toml
  tests/conftest.py
Labels: maintenance, dependencies, CI/CD

chore: adding changelog file 3649.dependencies.md [dependabot-skip]
  doc/changelog.d/3649.dependencies.md
Labels: none

feat: source code files
  doc/source/conf.py
  doc/source/examples/extended_examples/sfem/sfem.ipynb
  doc/source/examples/extended_examples/sfem/sfem.py
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
Labels: documentation

fix: plugin registering
  tests/conftest.py
Labels: none

tests: added unit tests for connect_to_mapdl
  src/ansys/mapdl/core/launcher/remote.py
  src/ansys/mapdl/core/launcher/tools.py
  src/ansys/mapdl/core/mapdl_core.py
  tests/test_launcher/test_remote.py
Labels: none

feat: a lot of content
  doc/source/conf.py
  doc/source/examples/extended_examples/sfem/mean.png
  doc/source/examples/extended_examples/sfem/sfem.ipynb
  doc/source/examples/extended_examples/sfem/sfem.py
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
  doc/source/examples/extended_examples/sfem/variance.png
  doc/source/examples/extended_examples/sfem/young_modulus_realizations.png
Labels: documentation

test: testing launch local grpc
  src/ansys/mapdl/core/launcher/grpc.py
  src/ansys/mapdl/core/launcher/launcher.py
  src/ansys/mapdl/core/launcher/local.py
  src/ansys/mapdl/core/launcher/tools.py
  tests/test_launcher/test_local.py
  tests/test_launcher/test_tools.py
Labels: none

feat: typing
  tests/conftest.py
Labels: none

refactor: move pim tests to its place
  tests/test_launcher/test_pim.py
  tests/test_launcher_remote.py
Labels: none

fix: small fixes
  src/ansys/mapdl/core/launcher/launcher.py
  tests/test_launcher/test_local.py
Labels: none

refactor: moving tools tests to test_tools
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_launcher.py
  tests/test_launcher/test_launcher_grpc.py
  tests/test_launcher/test_remote.py
  tests/test_launcher/test_tools.py
Labels: none

chore: adding changelog file 3670.dependencies.md [dependabot-skip]
  doc/changelog.d/3670.dependencies.md
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']
