Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

refactor: to use `muted` context manager
  tests/conftest.py
  tests/test_commands.py
  tests/test_inline_functions/test_component_queries.py
  tests/test_mapdl.py
  tests/test_misc.py
  tests/test_post.py
Labels: none

revert: "ci: removing all calls to filter action and caching in docs"
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3760.documentation.md [dependabot-skip]
  doc/changelog.d/3760.documentation.md
  doc/changelog.d/3760.maintenance.md
Labels: none

feat: update log call
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

fix: context manager
  src/ansys/mapdl/core/mapdl_core.py
Labels: none

fix: change log level for mute setter to debug
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

feat: adding `muted` context manager (#3760)
  doc/changelog.d/3760.documentation.md
  doc/source/api/mapdl.rst
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/parameters.py
  tests/conftest.py
  tests/test_commands.py
  tests/test_grpc.py
  tests/test_inline_functions/test_component_queries.py
  tests/test_mapdl.py
  tests/test_mesh_grpc.py
  tests/test_post.py
Labels: documentation

chore: adding changelog file 3761.dependencies.md [dependabot-skip]
  doc/changelog.d/3761.dependencies.md
Labels: none

chore: adding changelog file 3762.dependencies.md [dependabot-skip]
  doc/changelog.d/3762.dependencies.md
Labels: none

fix: update regex pattern in logging tests for consistency
  tests/test_logging.py
Labels: none

fix: console arg in pytest cli
  tests/conftest.py
Labels: none

fix: avoid returning output when using input grpc method (#3759)
  doc/changelog.d/3759.fixed.md
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_grpc.py
Labels: none

ci: enhance CI testing by summarizing tests durations (#3754)
  .ci/collect_mapdl_logs_locals.sh
  .ci/collect_mapdl_logs_remote.sh
  .ci/pytest_summary.py
  .ci/requirements_testing_minimal.txt
  .github/workflows/ci.yml
  doc/changelog.d/3754.dependencies.md
  pyproject.toml
Labels: maintenance, dependencies, CI/CD

chore: adding changelog file 3766.dependencies.md [dependabot-skip]
  doc/changelog.d/3766.dependencies.md
Labels: none

fix: more warnings
  tests/test_cli.py
  tests/test_commands.py
  tests/test_component.py
  tests/test_inline_functions/test_query.py
  tests/test_launcher.py
  tests/test_mapdl.py
Labels: none

feat: adding ``asel`` note
  src/ansys/mapdl/core/_commands/database/selecting.py
Labels: none

build: update sphinx-autodoc-typehints to 3.1.0 to avoid issue.
  .devcontainer/devcontainer-local/requirements.txt
  pyproject.toml
Labels: maintenance, dependencies, CI/CD

build: update sphinx-autodoc-typehints to 3.1.0 to avoid issue.
  .devcontainer/codespaces-docs/requirements.txt
Labels: maintenance, CI/CD

fix: marker
  tests/conftest.py
  tests/test_launcher.py
Labels: none

test: removing dpf
  pyproject.toml
Labels: maintenance, dependencies

refactor: small refactor of warnings.
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

fix: killing started processes during testing
  tests/test_grpc.py
Labels: none

fix: killing started processes during testing
  tests/test_examples.py
Labels: none

feat: removing warning flag
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

revert: "test: removing dpf"
  pyproject.toml
Labels: maintenance, dependencies

fix: tests
  tests/test_mapdl.py
Labels: none

fix: warnings
  pyproject.toml
  tests/test_launcher.py
Labels: maintenance, dependencies

fix: conftest
  tests/conftest.py
Labels: none

refactor: pytest mark. Removing only-gui
  pyproject.toml
  tests/conftest.py
  tests/test_launcher.py
Labels: maintenance, dependencies

refactor: removing warnings (#3763)
  doc/changelog.d/3763.added.md
  pyproject.toml
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_commands.py
  tests/test_component.py
  tests/test_dpf.py
  tests/test_examples.py
  tests/test_grpc.py
  tests/test_inline_functions/test_query.py
  tests/test_launcher.py
  tests/test_logging.py
  tests/test_mapdl.py
  tests/test_pool.py
  tests/test_post.py
Labels: maintenance, dependencies

chore: adding changelog file 3615.dependencies.md [dependabot-skip]
  doc/changelog.d/3615.dependencies.md
Labels: none

ci: using python3.12 for docs building
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3767.maintenance.md [dependabot-skip]
  doc/changelog.d/3767.maintenance.md
Labels: none

chore: adding changelog file 3767.maintenance.md [dependabot-skip]
  doc/changelog.d/3767.maintenance.md
Labels: none

chore: adding changelog file 3767.documentation.md [dependabot-skip]
  doc/changelog.d/3767.documentation.md
Labels: none

build: update vtk in other requirements
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  doc/source/examples/extended_examples/gui/requirements.txt
  doc/source/examples/extended_examples/hpc/requirements.txt
Labels: documentation, maintenance, CI/CD

build: update ansys-tools-visualization-interface
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
Labels: maintenance, CI/CD

fix: not getting dataset
  src/ansys/mapdl/core/plotting/visualizer.py
Labels: none

build: downgrading vtk
  pyproject.toml
Labels: maintenance, dependencies

build: downgrade vtk to 9.3.1
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  doc/source/examples/extended_examples/gui/requirements.txt
  doc/source/examples/extended_examples/hpc/requirements.txt
  pyproject.toml
Labels: documentation, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']
