Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

docs: update supported versions table for Ansys 2023-2025 (#3808)
  doc/changelog.d/3808.documentation.md
  doc/source/getting_started/versioning.rst
Labels: documentation

fix(launcher, mapdl_grpc): set default value for set_no_abort to True
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

test: add unit test for launch_mapdl set_no_abort parameter
  src/ansys/mapdl/core/mapdl_core.py
  tests/test_mapdl.py
Labels: none

fix(errors): enhance error handling by adding MAPDL instance details to gRPC error messages
  src/ansys/mapdl/core/errors.py
Labels: none

chore: adding changelog file 3812.fixed.md [dependabot-skip]
  doc/changelog.d/3812.fixed.md
Labels: none

Update .github/workflows/doc-build.yml
  .github/workflows/doc-build.yml
Labels: maintenance, CI/CD

Update .github/workflows/doc-build.yml
  .github/workflows/doc-build.yml
Labels: maintenance, CI/CD

Update .github/workflows/doc-build.yml
  .github/workflows/doc-build.yml
Labels: maintenance, CI/CD

fix: update the theme version
  pyproject.toml
Labels: maintenance, dependencies

Update .github/workflows/doc-build.yml
  .github/workflows/doc-build.yml
Labels: maintenance, CI/CD

Update pyproject.toml
  pyproject.toml
Labels: maintenance, dependencies

Update pyproject.toml
  pyproject.toml
Labels: maintenance, dependencies

Update .github/workflows/doc-build.yml
  .github/workflows/doc-build.yml
Labels: maintenance, CI/CD

ci: use ubuntu-latest github image
  .devcontainer/codespaces-dev/Dockerfile
  .devcontainer/codespaces-docs/Dockerfile
  .github/workflows/doc-build.yml
  .github/workflows/linkchecker.yml
  .github/workflows/test-local.yml
  .github/workflows/test-remote.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3814.maintenance.md [dependabot-skip]
  doc/changelog.d/3814.maintenance.md
Labels: none

chore: adding changelog file 3815.dependencies.md [dependabot-skip]
  doc/changelog.d/3815.dependencies.md
Labels: none

chore: adding changelog file 3816.dependencies.md [dependabot-skip]
  doc/changelog.d/3816.dependencies.md
Labels: none

fix: update default version in build_matrix.sh to v25.2-ubuntu-amd
  .ci/build_matrix.sh
Labels: CI/CD

feat(launcher): add function to inject additional command line switches through an env var
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: none

chore: adding changelog file 3817.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3817.miscellaneous.md
Labels: none

fix: add environment variables for Open MPI root permissions in local testing workflow
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

fix: adding missing import
  tests/test_launcher.py
Labels: none

chore: adding changelog file 3819.maintenance.md [dependabot-skip]
  doc/changelog.d/3819.maintenance.md
Labels: none

fix: using cicd flavour
  .ci/build_matrix.sh
Labels: CI/CD

fix: Optional viz dependency
  pyproject.toml
Labels: maintenance, dependencies

chore: adding changelog file 3820.fixed.md [dependabot-skip]
  doc/changelog.d/3820.fixed.md
Labels: none

fix: update mapdl-version to use v25.2-ubuntu-cicd in CI workflow
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: Change messages
  src/ansys/mapdl/core/mapdl_extended.py
Labels: none

ci: adapting workflow for new docker container (#3805)
  .ci/build_matrix.sh
  .github/workflows/ci.yml
  .github/workflows/test-local.yml
  doc/changelog.d/3805.maintenance.md
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/common.py
  tests/conftest.py
  tests/test_launcher.py
Labels: maintenance, CI/CD

chore: adding changelog file 3815.dependencies.md [dependabot-skip]
  doc/changelog.d/3815.dependencies.md
Labels: none

chore: adding changelog file 3816.dependencies.md [dependabot-skip]
  doc/changelog.d/3816.dependencies.md
Labels: none

chore: adding changelog file 3817.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3817.miscellaneous.md
Labels: none

chore: adding changelog file 3820.fixed.md [dependabot-skip]
  doc/changelog.d/3820.fixed.md
Labels: none

feat: inject additional MAPDL command line arguments through an env var (#3817)
  doc/changelog.d/3817.miscellaneous.md
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: none

fix: aborting MAPDL (#3812)
  doc/changelog.d/3812.fixed.md
  src/ansys/mapdl/core/errors.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: none

feat: Add decorator, move matplotlib to graphics, partial parameter name change
  pyproject.toml
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/misc.py
Labels: maintenance, dependencies

Apply suggestions from code review
  src/ansys/mapdl/core/misc.py
Labels: none

feat: Add backend selector
  doc/source/user_guide/plotting.rst
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_extended.py
Labels: documentation

Update src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_core.py
Labels: none

feat: Add `set_default_backend` method and default pyvista backend
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/mapdl_extended.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']
