Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']

fix: rename variable for clarity in PR number retrieval
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: remove unused input parameter and update base branch naming in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update reaction to comment from "rocket" to "+1" and add confirmation step
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3885.added.md [dependabot-skip]
  doc/changelog.d/3885.added.md
Labels: none

fix: enable pull rebase and update PR creation confirmation message
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3886.added.md [dependabot-skip]
  doc/changelog.d/3886.added.md
Labels: none

Update README.md
  README.md
Labels: none

fix: add merge step before pushing changes in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: clean up whitespace and remove commented-out migration steps in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3878.maintenance.md [dependabot-skip]
  doc/changelog.d/3878.maintenance.md
Labels: none

fix: streamline git commands in migrator workflow by removing error handling
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

feat: add DPF log collection to remote log script and update DPF server activation logging
  .ci/collect_mapdl_logs_remote.sh
  .github/workflows/test-remote.yml
Labels: maintenance, CI/CD

change how the install check works
  src/ansys/mapdl/core/helpers.py
Labels: none

chore: adding changelog file 3887.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3887.miscellaneous.md
Labels: none

chore: adding changelog file 3887.added.md [dependabot-skip]
  doc/changelog.d/3887.added.md
  doc/changelog.d/3887.miscellaneous.md
Labels: none

don't expect requests to be loaded on import
  tests/test_examples.py
Labels: none

fix: update vtk dependency version to 9.4.2 in tests and documentation
  pyproject.toml
Labels: maintenance, dependencies

fix: correct DPF_PORT type and update file upload method in test_dpf.py
  tests/test_dpf.py
Labels: none

chore: adding changelog file 3882.dependencies.md [dependabot-skip]
  doc/changelog.d/3882.dependencies.md
Labels: none

fix: update ansys-dpf-core dependency to include graphics support in tests and documentation
  pyproject.toml
Labels: maintenance, dependencies

only set the default theme once
  src/ansys/mapdl/core/helpers.py
  src/ansys/mapdl/core/plotting/visualizer.py
Labels: none

use default symbol
  src/ansys/mapdl/core/plotting/visualizer.py
Labels: none

Don't import plotter from visualizer by default
  src/ansys/mapdl/core/plotting/__init__.py
  src/ansys/mapdl/core/post.py
Labels: none

remove global import of Plotter
  src/ansys/mapdl/core/__init__.py
Labels: none

chore: adding changelog file 3887.added.md [dependabot-skip]
  doc/changelog.d/3887.added.md
Labels: none

feat: ``map`` submodule
  doc/source/mapdl_commands/index.rst
  doc/source/mapdl_commands/map.rst
  doc/source/mapdl_commands/map/index.rst
  doc/source/mapdl_commands/map/pressure_mapping.rst
  src/ansys/mapdl/core/_commands/map/__init__.py
  src/ansys/mapdl/core/_commands/map/pressure_mapping.py
  src/ansys/mapdl/core/_commands/map_cmd.py
  src/ansys/mapdl/core/commands.py
Labels: documentation

chore: adding changelog file 3890.documentation.md [dependabot-skip]
  doc/changelog.d/3890.documentation.md
Labels: none

chore: adding changelog file 3891.documentation.md [dependabot-skip]
  doc/changelog.d/3891.documentation.md
Labels: none

fix: ``eval_`` argument
  src/ansys/mapdl/core/_commands/solution/fe_constraints.py
  src/ansys/mapdl/core/_commands/solution/fe_forces.py
  src/ansys/mapdl/core/_commands/solution/misc_loads.py
  src/ansys/mapdl/core/_commands/solution/nonlinear_options.py
  src/ansys/mapdl/core/_commands/solution/radiosity.py
  src/ansys/mapdl/core/_commands/solution/solid_constraints.py
  src/ansys/mapdl/core/_commands/solution/solid_forces.py
Labels: none

feat: ``post26`` submodule
  doc/source/mapdl_commands/index.rst
  doc/source/mapdl_commands/post26/_set_up.rst
  doc/source/mapdl_commands/post26/controls.rst
  doc/source/mapdl_commands/post26/display.rst
  doc/source/mapdl_commands/post26/index.rst
  doc/source/mapdl_commands/post26/listing.rst
  doc/source/mapdl_commands/post26/operations.rst
  doc/source/mapdl_commands/post26/set_up.rst
  doc/source/mapdl_commands/post26/setup.rst
  doc/source/mapdl_commands/post26/special.rst
  doc/source/mapdl_commands/post26/special_purpose.rst
  doc/source/mapdl_commands/post26/status.rst
  src/ansys/mapdl/core/_commands/post26/__init__.py
  src/ansys/mapdl/core/_commands/post26/_set_up.py
  src/ansys/mapdl/core/_commands/post26/controls.py
  src/ansys/mapdl/core/_commands/post26/display.py
  src/ansys/mapdl/core/_commands/post26/listing.py
  src/ansys/mapdl/core/_commands/post26/operations.py
  src/ansys/mapdl/core/_commands/post26/set_up.py
  src/ansys/mapdl/core/_commands/post26/special_purpose.py
  src/ansys/mapdl/core/_commands/post26/status.py
  src/ansys/mapdl/core/_commands/post26_/controls.py
  src/ansys/mapdl/core/_commands/post26_/display.py
  src/ansys/mapdl/core/_commands/post26_/listing.py
  src/ansys/mapdl/core/_commands/post26_/operations.py
  src/ansys/mapdl/core/_commands/post26_/setup.py
  src/ansys/mapdl/core/_commands/post26_/special.py
  src/ansys/mapdl/core/_commands/post26_/status.py
  src/ansys/mapdl/core/commands.py
Labels: documentation

chore: adding changelog file 3892.documentation.md [dependabot-skip]
  doc/changelog.d/3892.documentation.md
Labels: none

chore: delete doc/changelog.d/3890.documentation.md
  doc/changelog.d/3890.documentation.md
Labels: none

feat: ``map`` submodule (#3891)
  doc/changelog.d/3891.documentation.md
  doc/source/mapdl_commands/index.rst
  doc/source/mapdl_commands/map.rst
  doc/source/mapdl_commands/map/index.rst
  doc/source/mapdl_commands/map/pressure_mapping.rst
  src/ansys/mapdl/core/_commands/map/__init__.py
  src/ansys/mapdl/core/_commands/map/pressure_mapping.py
  src/ansys/mapdl/core/_commands/map_cmd.py
  src/ansys/mapdl/core/commands.py
Labels: documentation

feat: ``session`` submodule
  doc/source/mapdl_commands/session/files.rst
  doc/source/mapdl_commands/session/index.rst
  doc/source/mapdl_commands/session/list_controls.rst
  doc/source/mapdl_commands/session/processor_entry.rst
  doc/source/mapdl_commands/session/run_controls.rst
  src/ansys/mapdl/core/_commands/session/__init__.py
  src/ansys/mapdl/core/_commands/session/files.py
  src/ansys/mapdl/core/_commands/session/list_controls.py
  src/ansys/mapdl/core/_commands/session/processor_entry.py
  src/ansys/mapdl/core/_commands/session/run_controls.py
Labels: documentation

chore: adding changelog file 3894.documentation.md [dependabot-skip]
  doc/changelog.d/3894.documentation.md
Labels: none

chore: adding changelog file 3895.documentation.md [dependabot-skip]
  doc/changelog.d/3895.documentation.md
Labels: none

fix ci
  src/ansys/mapdl/core/plotting/visualizer.py
Labels: none

update
  src/ansys/mapdl/core/plotting/visualizer.py
Labels: none

fix autodoc
  doc/source/api/plotting.rst
Labels: documentation

chore: add conditional gcc installation for cicd mapdl version
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD
