Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']

test: skip retrieving value for ``endif`` and ``enddo``
  tests/test_commands.py
Labels: none

feat: adding ``check_has_mapdl`` (#3576)
  doc/changelog.d/3576.miscellaneous.md
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/misc.py
  tests/common.py
  tests/test_launcher.py
Labels: none

feat: running MPI fix only if on windows (#3575)
  doc/changelog.d/3575.miscellaneous.md
  src/ansys/mapdl/core/launcher.py
Labels: none

ci: removing check DPF port
  .ci/waiting_services.sh
Labels: CI/CD

ci: adding timeout to each test
  .github/workflows/ci.yml
  pyproject.toml
Labels: maintenance, dependencies, CI/CD

chore: adding changelog file 3577.dependencies.md [dependabot-skip]
  doc/changelog.d/3577.dependencies.md
Labels: none

chore: adding changelog file 3082.dependencies.md [dependabot-skip]
  doc/changelog.d/3082.dependencies.md
Labels: none

test: avoid checking command output
  src/ansys/mapdl/core/launcher.py
Labels: none

fix: tests
  tests/test_commands.py
Labels: none

fix: tests - 2
  tests/test_commands.py
Labels: none

test: avoid checking command output
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

fix: unpack
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

refactor: replace `get_ansys_path` with `get_mapdl_path` (#3573)
  doc/changelog.d/3573.added.md
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/licensing.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/pool.py
Labels: none

feat: disabling subscription to channel
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

docs: update docker instructions
  docker/.dockerignore
  docker/Dockerfile
  docker/make_container.rst
Labels: CI/CD

chore: adding changelog file 3580.documentation.md [dependabot-skip]
  doc/changelog.d/3580.documentation.md
Labels: none

docs: adding simutech link
  doc/source/links.rst
  doc/source/user_guide/troubleshoot.rst
Labels: documentation

fix: components typo
  doc/source/user_guide/components.rst
  src/ansys/mapdl/core/component.py
Labels: documentation

docs: update docker instructions (#3580)
  doc/changelog.d/3580.documentation.md
  doc/source/links.rst
  doc/source/user_guide/troubleshoot.rst
  docker/.dockerignore
  docker/Dockerfile
  docker/make_container.rst
Labels: documentation, CI/CD

fix: components typo
  doc/source/user_guide/components.rst
  src/ansys/mapdl/core/component.py
Labels: documentation

chore: adding changelog file 3577.documentation.md [dependabot-skip]
  doc/changelog.d/3577.documentation.md
Labels: none

chore: adding changelog file 3582.fixed.md [dependabot-skip]
  doc/changelog.d/3582.fixed.md
Labels: none

fix: avoiding long names in test arguments
  tests/test_parameters.py
Labels: none

chore: adding changelog file 3583.fixed.md [dependabot-skip]
  doc/changelog.d/3583.fixed.md
Labels: none

feat: check command length also in mapdl.run
  src/ansys/mapdl/core/mapdl_core.py
Labels: none

tests: adding tests
  tests/test_mapdl.py
Labels: none

fix: components typo (#3582)
  doc/changelog.d/3582.fixed.md
  doc/source/user_guide/components.rst
  src/ansys/mapdl/core/component.py
Labels: documentation

docs: adding some info for getting multiple compose running
  .devcontainer/devcontainer-local/docker-compose.yml
Labels: CI/CD

chore: adding changelog file 3584.documentation.md [dependabot-skip]
  doc/changelog.d/3584.documentation.md
Labels: none

Create codeql.yml
  .github/workflows/codeql.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3585.maintenance.md [dependabot-skip]
  doc/changelog.d/3585.maintenance.md
Labels: none

feat: avoid checking on not set channel
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

ci: automate logging when testing
  tests/conftest.py
Labels: none

fix: reading nset when no RST is generated
  src/ansys/mapdl/core/post.py
Labels: none

fix: detecting comments as parameters sets when they have =.
  src/ansys/mapdl/core/mapdl_core.py
Labels: none

fix: console launching and at least one test.
  src/ansys/mapdl/core/information.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_console.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_console.py
Labels: none

fix: avoid fail on reading rst file
  src/ansys/mapdl/core/post.py
Labels: none

feat: setting verbosity when debug env var
  tests/conftest.py
Labels: none

chore: adding changelog file 3586.fixed.md [dependabot-skip]
  doc/changelog.d/3586.fixed.md
Labels: none

feat: using non-interactive for using iterable in XSEL commands
  src/ansys/mapdl/core/misc.py
Labels: none
