Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']

chore: adding changelog file 3641.added.md [dependabot-skip]
  doc/changelog.d/3641.added.md
Labels: none

feat: node/element selection commands returning selected ids (#3636)
  doc/changelog.d/3636.miscellaneous.md
  src/ansys/mapdl/core/commands.py
  src/ansys/mapdl/core/mapdl_core.py
  tests/conftest.py
  tests/test_mesh_grpc.py
Labels: none

feat: adding logging
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

fix: increase timeout for checking output file
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

feat: implement global defaults OS dependent.
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

chore: adding changelog file 3642.fixed.md [dependabot-skip]
  doc/changelog.d/3642.fixed.md
Labels: none

fix: wrong variable
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

tests: adding tests
  tests/test_grpc.py
Labels: none

ci: not hiding log
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: timeout for file checking (#3642)
  .github/workflows/ci.yml
  doc/changelog.d/3642.fixed.md
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_grpc.py
Labels: maintenance, CI/CD

Build: release 0.69.1
  pyproject.toml
Labels: maintenance, dependencies

chore: updating CHANGELOG for v0.69.1
  doc/changelog.d/3636.miscellaneous.md
  doc/changelog.d/3641.added.md
  doc/changelog.d/3642.fixed.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.69.1
  doc/changelog.d/3636.miscellaneous.md
  doc/changelog.d/3641.added.md
  doc/changelog.d/3642.fixed.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 3643.added.md [dependabot-skip]
  doc/changelog.d/3643.added.md
Labels: none

chore: update CHANGELOG for v0.69.1 (#3643)
  doc/changelog.d/3636.miscellaneous.md
  doc/changelog.d/3641.added.md
  doc/changelog.d/3642.fixed.md
  doc/changelog.d/3643.added.md
  doc/source/changelog.rst
Labels: documentation

fix: applying changes after Codacy review
  src/ansys/mapdl/core/_commands/apdl/array_parameters.py
  src/ansys/mapdl/core/_commands/apdl/macro_files.py
  src/ansys/mapdl/core/_commands/apdl/matrix_operations.py
  src/ansys/mapdl/core/_commands/apdl/process_controls.py
Labels: none

fix: adding ``<!-- vale off -->`` in ``apdl/index.rst``
  doc/source/mapdl_commands/apdl/index.rst
Labels: documentation

fix: unit tests
  src/ansys/mapdl/core/mapdl_core.py
Labels: none

fix: removing functions that need to be ignored + adding warnings
  doc/source/mapdl_commands/apdl/array_parameters.rst
  doc/source/mapdl_commands/apdl/macro_files.rst
  doc/source/mapdl_commands/apdl/parameter_definition.rst
  doc/source/mapdl_commands/apdl/process_controls.rst
  src/ansys/mapdl/core/_commands/apdl/abbreviations.py
  src/ansys/mapdl/core/_commands/apdl/array_parameters.py
  src/ansys/mapdl/core/_commands/apdl/macro_files.py
  src/ansys/mapdl/core/_commands/apdl/parameter_definition.py
  src/ansys/mapdl/core/_commands/apdl/process_controls.py
Labels: documentation

fix: removing ``*ENDIF``
  doc/source/mapdl_commands/apdl/process_controls.rst
  src/ansys/mapdl/core/_commands/apdl/macro_files.py
  src/ansys/mapdl/core/_commands/apdl/process_controls.py
Labels: documentation

fix: reverting ``PYTEST_ARGUMENTS`` modifications
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3645.dependencies.md [dependabot-skip]
  doc/changelog.d/3645.dependencies.md
Labels: none

chore: adding changelog file 3647.dependencies.md [dependabot-skip]
  doc/changelog.d/3647.dependencies.md
Labels: none

fix: indentation for bullet lists
  src/ansys/mapdl/core/_commands/apdl/abbreviations.py
  src/ansys/mapdl/core/_commands/apdl/array_parameters.py
  src/ansys/mapdl/core/_commands/apdl/macro_files.py
  src/ansys/mapdl/core/_commands/apdl/matrix_operations.py
  src/ansys/mapdl/core/_commands/apdl/parameter_definition.py
Labels: none

feat: activate mathjax ext and add base rst
  doc/source/conf.py
  doc/source/examples/extended_examples/index.rst
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
Labels: documentation

chore: adding changelog file 3648.documentation.md [dependabot-skip]
  doc/changelog.d/3648.documentation.md
Labels: none

feat: initial refactor. Still missing unit testing on new functions.
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/launcher/__init__.py
  src/ansys/mapdl/core/launcher/console.py
  src/ansys/mapdl/core/launcher/grpc.py
  src/ansys/mapdl/core/launcher/hpc.py
  src/ansys/mapdl/core/launcher/jupyter.py
  src/ansys/mapdl/core/launcher/launcher.py
  src/ansys/mapdl/core/launcher/local.py
  src/ansys/mapdl/core/launcher/pim.py
  src/ansys/mapdl/core/launcher/remote.py
  src/ansys/mapdl/core/launcher/tools.py
  src/ansys/mapdl/core/licensing.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/pool.py
  tests/common.py
  tests/conftest.py
  tests/test_launcher.py
  tests/test_launcher/test_console.py
  tests/test_launcher/test_grpc.py
  tests/test_launcher/test_hpc.py
  tests/test_launcher/test_jupyter.py
  tests/test_launcher/test_pim.py
  tests/test_launcher/test_remote.py
Labels: none

chore: adding changelog file 3649.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3649.miscellaneous.md
Labels: none

refactor: rename files
  tests/test_launcher/test_launcher_console.py
  tests/test_launcher/test_launcher_grpc.py
Labels: none

fix: codacity suggestions
  src/ansys/mapdl/core/launcher/console.py
  src/ansys/mapdl/core/launcher/grpc.py
  src/ansys/mapdl/core/launcher/hpc.py
  src/ansys/mapdl/core/launcher/local.py
  src/ansys/mapdl/core/launcher/remote.py
  src/ansys/mapdl/core/launcher/tools.py
  tests/common.py
  tests/test_cli.py
  tests/test_launcher.py
Labels: none

fix: vulnerabilities
  src/ansys/mapdl/core/launcher/grpc.py
  src/ansys/mapdl/core/launcher/tools.py
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

chore: adding changelog file 3627.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3627.miscellaneous.md
Labels: none

First tentative for plugin mapdl mechanism
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/plugin.py
Labels: none

fix: missing import
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

feat: more content
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
Labels: documentation

feat: added realizations figure
  doc/source/conf.py
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
Labels: documentation

chore: adding changelog file 3657.maintenance.md [dependabot-skip]
  doc/changelog.d/3657.maintenance.md
Labels: none

ci: ping ubuntu OS to 22.04.
  .github/workflows/ci.yml
  .github/workflows/linkchecker.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3659.maintenance.md [dependabot-skip]
  doc/changelog.d/3659.maintenance.md
Labels: none

chore: adding changelog file 3659.maintenance.md [dependabot-skip]
  doc/changelog.d/3659.maintenance.md
Labels: none
