Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']

fix: test
  src/ansys/mapdl/core/errors.py
Labels: none

ci: avoid saving when exiting
  tests/conftest.py
Labels: none

feat: ``apdl`` submodule (#3385)
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  doc/changelog.d/3385.added.md
  doc/source/conf.py
  doc/source/mapdl_commands/apdl/abbreviations.rst
  doc/source/mapdl_commands/apdl/array_parameters.rst
  doc/source/mapdl_commands/apdl/array_parm.rst
  doc/source/mapdl_commands/apdl/encryption_decryption.rst
  doc/source/mapdl_commands/apdl/index.rst
  doc/source/mapdl_commands/apdl/macro_files.rst
  doc/source/mapdl_commands/apdl/matrix_op.rst
  doc/source/mapdl_commands/apdl/matrix_operations.rst
  doc/source/mapdl_commands/apdl/parameter_definition.rst
  doc/source/mapdl_commands/apdl/process_controls.rst
  doc/source/mapdl_commands/index.rst
  pyproject.toml
  src/ansys/mapdl/core/_commands/apdl/__init__.py
  src/ansys/mapdl/core/_commands/apdl/abbreviations.py
  src/ansys/mapdl/core/_commands/apdl/array_param.py
  src/ansys/mapdl/core/_commands/apdl/array_parameters.py
  src/ansys/mapdl/core/_commands/apdl/encryption_decryption.py
  src/ansys/mapdl/core/_commands/apdl/macro_files.py
  src/ansys/mapdl/core/_commands/apdl/matrix_op.py
  src/ansys/mapdl/core/_commands/apdl/matrix_operations.py
  src/ansys/mapdl/core/_commands/apdl/parameter_definition.py
  src/ansys/mapdl/core/_commands/apdl/process_controls.py
  src/ansys/mapdl/core/commands.py
  src/ansys/mapdl/core/mapdl_core.py
  tests/test_krylov.py
Labels: documentation, maintenance, dependencies, CI/CD

fix: adding missing arguments
  tests/common.py
Labels: none

feat: ``aux3`` submodule generated with ``mapdl-cmld-conv``
  doc/source/mapdl_commands/aux3.rst
  doc/source/mapdl_commands/aux3/index.rst
  doc/source/mapdl_commands/aux3/results_files.rst
  doc/source/mapdl_commands/index.rst
  src/ansys/mapdl/core/_commands/aux3/__init__.py
  src/ansys/mapdl/core/_commands/aux3/results_files.py
  src/ansys/mapdl/core/commands.py
Labels: documentation

chore: adding changelog file 3689.documentation.md [dependabot-skip]
  doc/changelog.d/3689.documentation.md
Labels: none

test: marking `test_extract` test as flaky. See #2435
  tests/test_xpl.py
Labels: none

test: improving tests
  tests/test_mapdl.py
  tests/test_parameters.py
Labels: none

maint: aligning with ``aux2`` structure + fix pre-commit
  src/ansys/mapdl/core/_commands/aux3/__init__.py
  src/ansys/mapdl/core/_commands/aux3/results_files.py
  src/ansys/mapdl/core/commands.py
Labels: none

chore: update CHANGELOG for v0.69.2 (#3688)
  doc/changelog.d/3643.added.md
  doc/changelog.d/3645.dependencies.md
  doc/changelog.d/3646.dependencies.md
  doc/changelog.d/3647.dependencies.md
  doc/changelog.d/3657.maintenance.md
  doc/changelog.d/3659.maintenance.md
  doc/changelog.d/3662.fixed.md
  doc/changelog.d/3663.miscellaneous.md
  doc/changelog.d/3664.added.md
  doc/changelog.d/3665.fixed.md
  doc/changelog.d/3666.added.md
  doc/changelog.d/3667.maintenance.md
  doc/changelog.d/3668.maintenance.md
  doc/changelog.d/3669.maintenance.md
  doc/changelog.d/3670.dependencies.md
  doc/changelog.d/3671.dependencies.md
  doc/changelog.d/3672.dependencies.md
  doc/changelog.d/3673.dependencies.md
  doc/changelog.d/3676.dependencies.md
  doc/changelog.d/3681.maintenance.md
  doc/changelog.d/3684.documentation.md
  doc/changelog.d/3688.added.md
  doc/source/changelog.rst
Labels: documentation

fix: making sure we generate the RST file
  tests/test_mapdl.py
Labels: none

fix: applying Codacy's suggestions
  src/ansys/mapdl/core/_commands/aux3/results_files.py
Labels: none

fix: final review comments
  doc/source/examples/extended_examples/index.rst
  doc/source/examples/extended_examples/sfem/sfem.py
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
Labels: documentation

fix: removing previous ``aux3_.py``
  src/ansys/mapdl/core/_commands/aux3_.py
Labels: none

ci: skipping non-student versions when running on remote
  .ci/build_matrix.sh
Labels: CI/CD

chore: adding changelog file 3690.maintenance.md [dependabot-skip]
  doc/changelog.d/3690.maintenance.md
Labels: none

ci: skipping non-student versions when running on remote
  .ci/build_matrix.sh
Labels: CI/CD

test: fix
  tests/test_mapdl.py
Labels: none

ci: skipping non-student versions when running on remote (#3690)
  .ci/build_matrix.sh
  doc/changelog.d/3690.maintenance.md
Labels: CI/CD

ci: adding memory limitation to MAPDL command line
  .ci/start_mapdl.sh
Labels: CI/CD

chore: adding changelog file 3693.maintenance.md [dependabot-skip]
  doc/changelog.d/3693.maintenance.md
Labels: none

fix: test
  tests/test_mapdl.py
Labels: none

fix: (again) test
  tests/test_mapdl.py
Labels: none

test: adding tests asserting None are translated to "None".
  tests/test_mapdl.py
Labels: none

chore: adding changelog file 3694.added.md [dependabot-skip]
  doc/changelog.d/3694.added.md
Labels: none

ci: adding memory limitation to MAPDL command line (#3693)
  .ci/start_mapdl.sh
  doc/changelog.d/3693.maintenance.md
Labels: CI/CD

feat: improving performance of save_selection
  src/ansys/mapdl/core/mapdl_core.py
  tests/test_mapdl.py
Labels: none

chore: adding changelog file 3697.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3697.miscellaneous.md
Labels: none

refactor: remove unnecesary calls.
  tests/test_mapdl.py
Labels: none

fix: muting commands to hide ComponentNoData error
  src/ansys/mapdl/core/mapdl_core.py
Labels: none

fix: avoid MAPDL commands execution when gRPC connection fails. (#3686)
  doc/changelog.d/3686.fixed.md
  src/ansys/mapdl/core/errors.py
  tests/common.py
  tests/conftest.py
  tests/test_grpc.py
  tests/test_mapdl.py
  tests/test_parameters.py
  tests/test_xpl.py
Labels: none

feat: add stochastic fem example (#3648)
  doc/changelog.d/3648.documentation.md
  doc/source/conf.py
  doc/source/examples/extended_examples/index.rst
  doc/source/examples/extended_examples/sfem/mean.png
  doc/source/examples/extended_examples/sfem/pdf.png
  doc/source/examples/extended_examples/sfem/problem.png
  doc/source/examples/extended_examples/sfem/realizations.png
  doc/source/examples/extended_examples/sfem/sfem.py
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
  doc/source/examples/extended_examples/sfem/variance.png
  doc/source/examples/extended_examples/sfem/young_modulus_realizations.png
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

chore: adding changelog file 3698.maintenance.md [dependabot-skip]
  doc/changelog.d/3698.maintenance.md
Labels: none

chore: adding changelog file 3699.dependencies.md [dependabot-skip]
  doc/changelog.d/3699.dependencies.md
Labels: none

feat: improving performance of save_selection (#3697)
  doc/changelog.d/3697.miscellaneous.md
  src/ansys/mapdl/core/mapdl_core.py
  tests/test_mapdl.py
Labels: none

chore: adding changelog file 3700.dependencies.md [dependabot-skip]
  doc/changelog.d/3700.dependencies.md
Labels: none

test: refactor check_stds and post_mortem_checks
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_grpc.py
Labels: none

fix(plotting): Test plotting changes
  src/ansys/mapdl/core/plotting/visualizer.py
Labels: none

chore: adding changelog file 3702.fixed.md [dependabot-skip]
  doc/changelog.d/3702.fixed.md
Labels: none

fix(plotting): Small bug
  src/ansys/mapdl/core/plotting/visualizer.py
Labels: none
