Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

fix: remove unnecessary environment variable export and improve PR existence message formatting
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: improve formatting of branch existence messages in PR handling
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update PR creation command to use single quotes for title
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update PR creation command to use double quotes for title and improve body formatting
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: improve PR creation command by enhancing title and body formatting
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update PR title formatting to use single quotes
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update PR creation to use body file for improved formatting
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: enhance user output in workflow dispatch and issue comment events
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update GITHUB_TOKEN to use PYANSYS_CI_BOT_TOKEN for branch checkout and cloning
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3880.added.md [dependabot-skip]
  doc/changelog.d/3880.added.md
Labels: none

chore: adding changelog file 3881.documentation.md [dependabot-skip]
  doc/changelog.d/3881.documentation.md
Labels: none

chore: adding changelog file 3881.documentation.md [dependabot-skip]
  doc/changelog.d/3881.documentation.md
Labels: none

fix: ``commands.py`` file and ``pre-commit``
  doc/source/mapdl_commands/index.rst
  src/ansys/mapdl/core/_commands/solution/_gap_conditions.py
  src/ansys/mapdl/core/_commands/solution/_nonlinear_options.py
  src/ansys/mapdl/core/_commands/solution/_status.py
  src/ansys/mapdl/core/_commands/solution/additive_manufacturing.py
  src/ansys/mapdl/core/_commands/solution/analysis_2d_to_3d.py
  src/ansys/mapdl/core/_commands/solution/misc_loads.py
  src/ansys/mapdl/core/_commands/solution/status.py
  src/ansys/mapdl/core/commands.py
Labels: documentation

chore: adding changelog file 3881.documentation.md [dependabot-skip]
  doc/changelog.d/3881.documentation.md
Labels: none

fix: ``cmatrix`` function
  src/ansys/mapdl/core/_commands/solution/analysis_options.py
Labels: none

fix: enhance migrator workflow to support sync command and improve branch handling
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: add checkout step before configuration in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: remove conditional check for is_sync in Migrate PR step
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

ci: use own DPF standalone Docker image reference in workflows
  .github/workflows/doc-build.yml
  .github/workflows/test-remote.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3882.maintenance.md [dependabot-skip]
  doc/changelog.d/3882.maintenance.md
Labels: none

fix: update branch sync messaging in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: add debug output for remote configuration in migrate PR step
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: add debug output for PR source and GitHub context in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update migrator workflow to enhance PR handling and data parsing
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update PR data extraction to use jq for head repo information
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: refactor configuration step to streamline output handling and improve clarity
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: enable DPF support in test workflow
  .github/workflows/test-remote.yml
Labels: maintenance, CI/CD

fix: enhance migrator workflow to determine PR number and parse PR data correctly
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: comment out deprecated migration steps in workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update PR data extraction to correctly set PR number and branch/repo details
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: correct PR number extraction in workflow for issue comments
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update PR data extraction to use fromJson for branch and repo details
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update PR data extraction to correctly reference head branch and repo details
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: enhance migration workflow to correctly checkout and push branches with improved error handling
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update migration workflow to correctly create PRs and handle comments with improved messaging
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update user triggering information in workflow for better context in PR creation
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: correct user triggering information assignment in workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3883.added.md [dependabot-skip]
  doc/changelog.d/3883.added.md
Labels: none

fix: update base branch naming convention in migration workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3884.added.md [dependabot-skip]
  doc/changelog.d/3884.added.md
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']
