Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']

docs: adding tags to changelog page sections
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 3795.documentation.md [dependabot-skip]
  doc/changelog.d/3795.documentation.md
Labels: none

refactor: using client library instead.
  doc/source/conf.py
  pyproject.toml
Labels: documentation, maintenance, dependencies

chore: adding changelog file 3797.added.md [dependabot-skip]
  doc/changelog.d/3797.added.md
Labels: none

fix: update release note references to use 'v' prefix avoid reference duplication
  doc/source/changelog.rst
Labels: documentation

fix: wrong reference
  doc/source/changelog.rst
Labels: documentation

refactor: using Python client library instead (#3797)
  doc/changelog.d/3797.added.md
  doc/source/conf.py
  pyproject.toml
Labels: documentation, maintenance, dependencies

docs: adding reference to tags (#3795)
  doc/changelog.d/3795.documentation.md
  doc/source/changelog.rst
  pyproject.toml
Labels: documentation, maintenance, dependencies

feat: move multiple methods to _MapdlCommandExtended from gRPC class
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

tests: fixing console tests
  tests/test_console.py
  tests/test_launcher.py
Labels: none

feat: add response cleaning functionality and related tests in MapdlConsole
  src/ansys/mapdl/core/mapdl_console.py
  tests/test_console.py
Labels: none

chore: adding changelog file 3799.dependencies.md [dependabot-skip]
  doc/changelog.d/3799.dependencies.md
Labels: none

chore: adding changelog file 3800.dependencies.md [dependabot-skip]
  doc/changelog.d/3800.dependencies.md
Labels: none

test: Add mesh testing
  tests/test_plotting.py
Labels: none

test: Add docstring to test
  tests/test_plotting.py
Labels: none

fix: PyVista lazy import
  tests/test_plotting.py
Labels: none

ci: add option to control Codecov report upload
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

ci: add package registry input for container image in workflow
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

ci: add input for customizable runner in test workflow
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

ci: make tags input optional in coverage report
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

ci: add acceptable failure rate control for test session results
  tests/conftest.py
Labels: none

chore: adding changelog file 2346.documentation.md [dependabot-skip]
  doc/changelog.d/2346.documentation.md
Labels: none

build: install ansys-sphinx-theme from specific branch in documentation workflow
  .github/workflows/doc-build.yml
Labels: maintenance, CI/CD

fix(plotting): Improve interface of the plotting class. (#3702)
  doc/changelog.d/3702.fixed.md
  src/ansys/mapdl/core/plotting/visualizer.py
  tests/test_plotting.py
Labels: none

chore: adding changelog file 3804.maintenance.md [dependabot-skip]
  doc/changelog.d/3804.maintenance.md
Labels: none

test: temporory disable linkcode
  doc/source/conf.py
Labels: documentation

test: plotly version
  pyproject.toml
Labels: maintenance, dependencies

fix: revert changes
  doc/source/conf.py
Labels: documentation

ci: remove sudo from package installation in test workflow
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3805.maintenance.md [dependabot-skip]
  doc/changelog.d/3805.maintenance.md
Labels: none

fix: add js in conf.py file
  doc/source/conf.py
  pyproject.toml
Labels: documentation, maintenance, dependencies

fix: replace warn with LOG.warning for better logging in MAPDL connection handling
  tests/common.py
Labels: none

chore: adding changelog file 3806.maintenance.md [dependabot-skip]
  doc/changelog.d/3806.maintenance.md
Labels: none

chore: adding changelog file 3807.dependencies.md [dependabot-skip]
  doc/changelog.d/3807.dependencies.md
Labels: none

docs: update supported versions table for Ansys 2023-2025
  doc/source/getting_started/versioning.rst
Labels: documentation

chore: adding changelog file 3808.documentation.md [dependabot-skip]
  doc/changelog.d/3808.documentation.md
Labels: none

fix: return empty string instead of None in _get_std_output for better output handling
  src/ansys/mapdl/core/launcher.py
Labels: none

fix: correct formatting of error message in MapdlConnectionError for clarity
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

fix: tests
  src/ansys/mapdl/core/launcher.py
  tests/test_ger.py
  tests/test_launcher.py
Labels: none

fix: remove obsolete test file test_ger.py
  tests/test_ger.py
Labels: none
