Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']

fix: ``command.py``
  src/ansys/mapdl/core/commands.py
Labels: none

test: improving pool testing (#3736)
  doc/changelog.d/3736.added.md
  src/ansys/mapdl/core/pool.py
  tests/test_pool.py
  tests/test_xpl.py
Labels: none

chore: adding changelog file 3749.maintenance.md [dependabot-skip]
  doc/changelog.d/3749.maintenance.md
Labels: none

feat: adding ``graphics`` submodule
  doc/source/mapdl_commands/graphics/annotation.rst
  doc/source/mapdl_commands/graphics/graphs.rst
  doc/source/mapdl_commands/graphics/index.rst
  doc/source/mapdl_commands/graphics/labeling.rst
  doc/source/mapdl_commands/graphics/scaling.rst
  doc/source/mapdl_commands/graphics/set_up.rst
  doc/source/mapdl_commands/graphics/setup.rst
  doc/source/mapdl_commands/graphics/style.rst
  doc/source/mapdl_commands/graphics/views.rst
  src/ansys/mapdl/core/_commands/graphics/__init__.py
  src/ansys/mapdl/core/_commands/graphics/annotation.py
  src/ansys/mapdl/core/_commands/graphics/graphs.py
  src/ansys/mapdl/core/_commands/graphics/labeling.py
  src/ansys/mapdl/core/_commands/graphics/scaling.py
  src/ansys/mapdl/core/_commands/graphics/set_up.py
  src/ansys/mapdl/core/_commands/graphics/style.py
  src/ansys/mapdl/core/_commands/graphics/views.py
  src/ansys/mapdl/core/_commands/graphics_/annotation.py
  src/ansys/mapdl/core/_commands/graphics_/graphs.py
  src/ansys/mapdl/core/_commands/graphics_/labeling.py
  src/ansys/mapdl/core/_commands/graphics_/scaling.py
  src/ansys/mapdl/core/_commands/graphics_/setup.py
  src/ansys/mapdl/core/_commands/graphics_/style.py
  src/ansys/mapdl/core/_commands/graphics_/views.py
  src/ansys/mapdl/core/commands.py
Labels: documentation

chore: adding changelog file 3750.documentation.md [dependabot-skip]
  doc/changelog.d/3750.documentation.md
Labels: none

feat: skipping hpc tests if `paramiko` is not installed or testing minimal.
  tests/test_hpc.py
Labels: none

fix: import
  tests/test_launcher.py
Labels: none

feat: latest changes
  src/ansys/mapdl/core/_commands/graphics/set_up.py
Labels: none

feat: latest changes - 2
  src/ansys/mapdl/core/_commands/graphics/set_up.py
  src/ansys/mapdl/core/_commands/graphics/style.py
Labels: none

fix Bug located in VSEL using KSWP field
  src/ansys/mapdl/core/misc.py
  tests/test_plotting.py
Labels: none

chore: adding changelog file 3753.fixed.md [dependabot-skip]
  doc/changelog.d/3753.fixed.md
Labels: none

fix: tests, missing imports, duplicities, etc
  src/ansys/mapdl/core/cli/stop.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_cli.py
  tests/test_grpc.py
Labels: none

fix: local tests
  src/ansys/mapdl/core/launcher/tools.py
  tests/test_cli.py
Labels: none

fix: Bug located in VSEL using KSWP field (#3753)
  doc/changelog.d/3753.fixed.md
  src/ansys/mapdl/core/misc.py
  tests/test_plotting.py
Labels: none

fix: tests
  src/ansys/mapdl/core/launcher/hpc.py
Labels: none

ci: add minimal testing requirements for CI pipeline
  .ci/requirements_testing_minimal.txt
Labels: CI/CD

chore: update testing dependencies in pyproject.toml
  pyproject.toml
Labels: maintenance, dependencies

feat: enhance log collection by adding JSONL file support and updating pytest arguments
  .ci/collect_mapdl_logs_locals.sh
  .ci/collect_mapdl_logs_remote.sh
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3754.dependencies.md [dependabot-skip]
  doc/changelog.d/3754.dependencies.md
Labels: none

feat: add pytest summary script and update CI workflow to include test duration reporting
  .ci/pytest_summary.py
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

style: using click CLI for passing arguments.
  .ci/pytest_summary.py
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

test: printing files
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

feat: add step to uncompress log files in CI workflow
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: adjust file search depth for uncompressing logs and improve directory listing in CI workflow
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: ckecking cwd
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: update CI workflow to improve test summary output and formatting
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: enhance test summary output formatting and improve readability in CI workflow
  .ci/pytest_summary.py
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: remove unnecessary export of GITHUB_STEP_SUMMARY in CI workflow summary creation
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3755.dependencies.md [dependabot-skip]
  doc/changelog.d/3755.dependencies.md
Labels: none

chore: adding changelog file 3756.dependencies.md [dependabot-skip]
  doc/changelog.d/3756.dependencies.md
Labels: none

ci: adding all jobs
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

ci: printing only 10 jobs
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: wrong parsing
  .ci/pytest_summary.py
Labels: CI/CD

build: removing pytest-durations dependency
  .ci/requirements_testing_minimal.txt
  .github/workflows/ci.yml
  pyproject.toml
Labels: maintenance, dependencies, CI/CD

fix: Improve error handling in *GET method and enhance output logging
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

chore: adding changelog file 3758.fixed.md [dependabot-skip]
  doc/changelog.d/3758.fixed.md
Labels: none

feat: adding timeout to get_lock
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

feat: adding tests
  tests/test_mapdl_grpc.py
Labels: none

fix: enhance output handling in *GET method to manage None values
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

feat: caching platform
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none
