Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']

chore: adding changelog file 3671.dependencies.md [dependabot-skip]
  doc/changelog.d/3671.dependencies.md
Labels: none

chore: adding changelog file 3673.dependencies.md [dependabot-skip]
  doc/changelog.d/3673.dependencies.md
Labels: none

fix: parsing components when too many (#3662)
  doc/changelog.d/3662.fixed.md
  src/ansys/mapdl/core/component.py
  tests/test_component.py
Labels: none

fix: implementing koubaa suggestion
  tests/test_mapdl.py
Labels: none

chore: adding changelog file 3666.added.md [dependabot-skip]
  doc/changelog.d/3666.added.md
Labels: none

chore: adding changelog file 3672.dependencies.md [dependabot-skip]
  doc/changelog.d/3672.dependencies.md
Labels: none

ci: adding graphviz to dependencies for profiling plotting
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

ci: adding prof file to gitignore
  .gitignore
Labels: none

fix: wrong callers
  src/ansys/mapdl/core/cli/stop.py
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

ci: adding profiling to pytest
  .ci/collect_mapdl_logs_locals.sh
  .ci/collect_mapdl_logs_remote.sh
  .github/workflows/ci.yml
  pyproject.toml
  tests/conftest.py
Labels: maintenance, dependencies, CI/CD

fix: plugin registering
  tests/conftest.py
Labels: none

ci: adding graphviz to dependencies for profiling plotting
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

ci: adding prof file to gitignore
  .gitignore
Labels: none

chore: adding changelog file 3676.dependencies.md [dependabot-skip]
  doc/changelog.d/3676.dependencies.md
Labels: none

chore: adding changelog file 3676.dependencies.md [dependabot-skip]
  doc/changelog.d/3676.dependencies.md
Labels: none

feat: more content
  doc/source/examples/extended_examples/sfem/pdf.png
  doc/source/examples/extended_examples/sfem/sfem.ipynb
  doc/source/examples/extended_examples/sfem/sfem.py
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
Labels: documentation

feat: minor corrections
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
Labels: documentation

feat: latets ``pyconverter-xml2py`` changes
  doc/source/mapdl_commands/apdl/index.rst
  src/ansys/mapdl/core/_commands/apdl/abbreviations.py
  src/ansys/mapdl/core/_commands/apdl/array_parameters.py
  src/ansys/mapdl/core/_commands/apdl/encryption_decryption.py
  src/ansys/mapdl/core/_commands/apdl/macro_files.py
  src/ansys/mapdl/core/_commands/apdl/matrix_operations.py
  src/ansys/mapdl/core/_commands/apdl/parameter_definition.py
  src/ansys/mapdl/core/_commands/apdl/process_controls.py
Labels: documentation

refactor: make cli testing not depending on MAPDL.
  src/ansys/mapdl/core/cli/list_instances.py
  src/ansys/mapdl/core/cli/start.py
  src/ansys/mapdl/core/cli/stop.py
  tests/test_cli.py
Labels: none

chore: adding changelog file 3678.added.md [dependabot-skip]
  doc/changelog.d/3678.added.md
Labels: none

feat: allow passing raw strings to the converter
  src/ansys/mapdl/core/cli/__init__.py
  src/ansys/mapdl/core/cli/convert.py
  tests/test_cli.py
Labels: none

chore: adding changelog file 3679.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3679.miscellaneous.md
Labels: none

refactor: using click options to avoid having to set the files manual. Better behavior. Adding short options. Improved tests
  doc/source/user_guide/convert.rst
  src/ansys/mapdl/core/cli/convert.py
  tests/test_cli.py
  tests/test_convert.py
Labels: documentation

chore: adding changelog file 3679.documentation.md [dependabot-skip]
  doc/changelog.d/3679.documentation.md
Labels: none

chore: adding changelog file 3679.documentation.md [dependabot-skip]
  doc/changelog.d/3679.documentation.md
Labels: none

fix: removing unused variables.
  tests/test_cli.py
Labels: none

fix: test
  tests/test_convert.py
Labels: none

test: improving test coverage
  tests/test_cli.py
Labels: none

chore: adding changelog file 3681.maintenance.md [dependabot-skip]
  doc/changelog.d/3681.maintenance.md
Labels: none

refactor: using test classes in test_components.py (#3664)
  doc/changelog.d/3664.added.md
  tests/test_component.py
Labels: none

fix: test
  tests/test_xpl.py
Labels: none

fix: avoid com logging if not in debug mode (#3665)
  doc/changelog.d/3665.fixed.md
  src/ansys/mapdl/core/mapdl_core.py
  tests/test_mapdl.py
Labels: none

fix: test
  tests/test_convert.py
Labels: none

feat: ``aux1`` submodule generated with ``mapdl-cmld-conv``
  doc/source/mapdl_commands/aux2/bin_dump.rst
  doc/source/mapdl_commands/aux2/bin_manip.rst
  doc/source/mapdl_commands/aux2/binary_file_dump.rst
  doc/source/mapdl_commands/aux2/binary_file_manipulation.rst
  doc/source/mapdl_commands/aux2/index.rst
  src/ansys/mapdl/core/_commands/aux2/__init__.py
  src/ansys/mapdl/core/_commands/aux2/binary_file_dump.py
  src/ansys/mapdl/core/_commands/aux2/binary_file_manipulation.py
  src/ansys/mapdl/core/_commands/aux2_/bin_dump.py
  src/ansys/mapdl/core/_commands/aux2_/bin_manip.py
  src/ansys/mapdl/core/commands.py
Labels: documentation

refactor: test to avoid launch_mapdl
  tests/test_launcher.py
Labels: none

test: remove unnecessary test
  tests/test_launcher.py
Labels: none

chore: adding changelog file 3683.added.md [dependabot-skip]
  doc/changelog.d/3683.added.md
Labels: none

doc: fix post documentation
  src/ansys/mapdl/core/post.py
Labels: none

fix: implemented review suggestions
  doc/source/examples/extended_examples/sfem/realizations.png
  doc/source/examples/extended_examples/sfem/sfem.ipynb
  doc/source/examples/extended_examples/sfem/sfem.py
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
  doc/source/examples/extended_examples/sfem/young_modulus_realizations.png
Labels: documentation

chore: adding changelog file 3684.documentation.md [dependabot-skip]
  doc/changelog.d/3684.documentation.md
Labels: none
