Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Maintenance, Dependencies, CI/CD

Avoiding overwrite artifact
  .github/workflows/ci.yml
Labels: Maintenance, CI/CD

cosmetic changes
  .github/workflows/ci.yml
Labels: Maintenance, CI/CD

Adding permissions for writing issues. Formatting
  .github/workflows/ci.yml
Labels: Maintenance, CI/CD

Improving autoapprover so it does not run unless some user/comment is fulfilled.
  .github/workflows/approver.yml
Labels: Maintenance, CI/CD

Fixing issue opener for scheduled jobs (#2575)
  .github/workflows/ci.yml
Labels: Maintenance, CI/CD

Not running auto approver by default (#2576)
  .github/workflows/approver.yml
Labels: Maintenance, CI/CD

Reworking a bit the post-processing section
  doc/source/user_guide/mapdl.rst
  doc/source/user_guide/post.rst
Labels: Documentation

Updating ansys actions
  .github/workflows/ci.yml
  .github/workflows/docker_clean_untagged.yml
Labels: Maintenance, CI/CD

Updating ansys actions to v5 (#2580)
  .github/workflows/ci.yml
  .github/workflows/docker_clean_untagged.yml
Labels: Maintenance, CI/CD

improving arguments passing and strings
  src/ansys/mapdl/core/cli.py
  src/ansys/mapdl/core/launcher.py
Labels: none

adding tests
  tests/test_launcher.py
Labels: none

Adding `stop` and `list`. Reog the cli.
  src/ansys/mapdl/core/cli.py
  tests/test_launcher.py
Labels: none

.github/labeler.yml:

Documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*']

Maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml']

Dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*']
