Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']

fix: add reaction to issue comments in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

feat: add workflow_dispatch input for issue number in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: migrator workflow part 1 (#3870)
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

refactor: simplify PR checkout process in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: add missing environment variable for GH_TOKEN in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

feat: add checkout step for PR branch and push to new remote in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: comment out remote addition and push steps in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

feat: add logging for base ref in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

feat: add detailed logging for PR information in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

refactor: enhance logging for PR data and update checkout reference in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

refactor: clean up logging in migrator workflow by removing unnecessary lines
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update logging to output GitHub event as JSON in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

feat: add checkout step for PR branch in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: add GITHUB_TOKEN environment variable for branch checkout in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update checkout step to use 'git status' instead of commented-out commands
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

refactor: streamline PR migration workflow by removing unused steps and enhancing checkout process
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3871.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3871.miscellaneous.md
Labels: none

chore: adding changelog file 3872.documentation.md [dependabot-skip]
  doc/changelog.d/3872.documentation.md
Labels: none

fix: typo in ``commands.py``
  src/ansys/mapdl/core/commands.py
Labels: none

fix: deprecating ``edsmp`` command
  src/ansys/mapdl/core/mapdl_extended.py
Labels: none

feat: using a ``_deprecated_commands`` module
  src/ansys/mapdl/core/_deprecated_commands/explicit_dynamics.py
  src/ansys/mapdl/core/commands.py
  src/ansys/mapdl/core/mapdl_extended.py
Labels: none

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

chore: adding changelog file 3873.documentation.md [dependabot-skip]
  doc/changelog.d/3873.documentation.md
Labels: none

feat: latest enhancements
  doc/source/mapdl_commands/graphics/index.rst
  src/ansys/mapdl/core/_commands/graphics/annotation.py
  src/ansys/mapdl/core/_commands/graphics/graphs.py
  src/ansys/mapdl/core/_commands/graphics/labeling.py
  src/ansys/mapdl/core/_commands/graphics/scaling.py
  src/ansys/mapdl/core/_commands/graphics/set_up.py
  src/ansys/mapdl/core/_commands/graphics/style.py
  src/ansys/mapdl/core/_commands/graphics/views.py
Labels: documentation

ci: test ansys/actions changes
  .github/workflows/ci.yml
  .github/workflows/docker_clean_untagged.yml
  .github/workflows/label.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3875.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3875.miscellaneous.md
Labels: none

fix: latest changes
  src/ansys/mapdl/core/_commands/graphics/annotation.py
  src/ansys/mapdl/core/_commands/graphics/labeling.py
  src/ansys/mapdl/core/_commands/graphics/set_up.py
  src/ansys/mapdl/core/_commands/graphics/views.py
Labels: none

ci: test pinning quarto version
  .github/workflows/doc-build.yml
Labels: maintenance, CI/CD

ci: revert
  .github/workflows/doc-build.yml
Labels: maintenance, CI/CD

fix: pin quarto version
  .github/workflows/doc-build.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3876.fixed.md [dependabot-skip]
  doc/changelog.d/3876.fixed.md
Labels: none

fix: pin quarto version (#3876)
  .github/workflows/doc-build.yml
  doc/changelog.d/3876.fixed.md
Labels: maintenance, CI/CD

feat: latest enhancements
  src/ansys/mapdl/core/_commands/graphics/labeling.py
Labels: none

chore: adding changelog file 3877.maintenance.md [dependabot-skip]
  doc/changelog.d/3877.maintenance.md
Labels: none

docs: Update ``CONTRIBUTORS.md`` with the latest contributors (#3873)
  CONTRIBUTORS.md
  doc/changelog.d/3873.documentation.md
Labels: none

feat: ``graphics`` submodule (#3750)
  doc/changelog.d/3750.documentation.md
  doc/source/mapdl_commands/graphics/annotation.rst
  doc/source/mapdl_commands/graphics/graphs.rst
  doc/source/mapdl_commands/graphics/index.rst
  doc/source/mapdl_commands/graphics/labeling.rst
  doc/source/mapdl_commands/graphics/scaling.rst
  doc/source/mapdl_commands/graphics/set_up.rst
  doc/source/mapdl_commands/graphics/setup.rst
  doc/source/mapdl_commands/graphics/style.rst
  doc/source/mapdl_commands/graphics/views.rst
  src/ansys/mapdl/core/_commands/graphics/__init__.py
  src/ansys/mapdl/core/_commands/graphics/annotation.py
  src/ansys/mapdl/core/_commands/graphics/graphs.py
  src/ansys/mapdl/core/_commands/graphics/labeling.py
  src/ansys/mapdl/core/_commands/graphics/scaling.py
  src/ansys/mapdl/core/_commands/graphics/set_up.py
  src/ansys/mapdl/core/_commands/graphics/style.py
  src/ansys/mapdl/core/_commands/graphics/views.py
  src/ansys/mapdl/core/_commands/graphics_/annotation.py
  src/ansys/mapdl/core/_commands/graphics_/graphs.py
  src/ansys/mapdl/core/_commands/graphics_/labeling.py
  src/ansys/mapdl/core/_commands/graphics_/scaling.py
  src/ansys/mapdl/core/_commands/graphics_/setup.py
  src/ansys/mapdl/core/_commands/graphics_/style.py
  src/ansys/mapdl/core/_commands/graphics_/views.py
  src/ansys/mapdl/core/commands.py
Labels: documentation

refactor: rename job from 'recreate' to 'migrate' and enhance PR handling with improved branch checks and comments
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update branch name variable in remote check and push logic
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: streamline remote branch handling by moving remote name export and adding existence check for new branch
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

refactor: enhance PR handling by improving branch existence checks and updating comment structure
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD
