Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']

fix: running post.__repr__ as post1
  src/ansys/mapdl/core/post.py
Labels: none

feat: logging non_interactive in MAPDL logging and APDL logging
  src/ansys/mapdl/core/mapdl_core.py
Labels: none

fix: post_processing repr
  src/ansys/mapdl/core/post.py
Labels: none

test: post string
  tests/test_post.py
Labels: none

maint: modifying max run for testing purpose only - TO BE MODIFIED
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3585.maintenance.md [dependabot-skip]
  doc/changelog.d/3585.maintenance.md
Labels: none

chore: cleanup workflow
  .github/workflows/codeql.yml
Labels: maintenance, CI/CD

ci: adding codeql.yml (#3585)
  .github/workflows/codeql.yml
  doc/changelog.d/3585.maintenance.md
Labels: maintenance, CI/CD

fix: agent
  doc/source/conf.py
Labels: documentation

fix: cheatsheet links
  doc/source/getting_started/learning.rst
  doc/source/getting_started/project.rst
Labels: documentation

chore: adding changelog file 3589.fixed.md [dependabot-skip]
  doc/changelog.d/3589.fixed.md
Labels: none

chore: update requirements in devcontainers
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
Labels: maintenance, CI/CD

docs: adding some info for getting multiple compose running (#3584)
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/docker-compose.yml
  .devcontainer/devcontainer-local/requirements.txt
  doc/changelog.d/3584.documentation.md
Labels: maintenance, CI/CD

chore: adding changelog file 3586.fixed.md [dependabot-skip]
  doc/changelog.d/3586.fixed.md
Labels: none

fix: test
  tests/test_post.py
Labels: none

feat: reducing format lenght in load_array
  src/ansys/mapdl/core/mapdl_extended.py
Labels: none

tests: improving tests
  tests/test_parameters.py
Labels: none

chore: adding changelog file 3590.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3590.miscellaneous.md
Labels: none

fix: ``test_command`` for ``*END...`` commands
  examples/00-mapdl-examples/transient_thermal.py
  src/ansys/mapdl/core/mapdl_core.py
  tests/test_commands.py
Labels: documentation, examples

chore: adding changelog file 3593.dependencies.md [dependabot-skip]
  doc/changelog.d/3593.dependencies.md
Labels: none

feat: showing a warning when rebooting MAPDL.
  tests/common.py
Labels: none

fix: skip checking ansys websites
  doc/source/conf.py
Labels: documentation

feat: using an envvar to activate testing debugging
  .ci/collect_mapdl_log_locals.sh
  .ci/display_logs_locals.sh
  .github/workflows/ci.yml
  tests/common.py
  tests/conftest.py
Labels: maintenance, CI/CD

chore: adding changelog file 3594.maintenance.md [dependabot-skip]
  doc/changelog.d/3594.maintenance.md
Labels: none

Update doc/source/conf.py
  doc/source/conf.py
Labels: documentation

feat: redirect MAPDL console output to a file
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_launcher.py
Labels: none

chore: adding changelog file 3596.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3596.miscellaneous.md
Labels: none

chore: adding changelog file 3592.dependencies.md [dependabot-skip]
  doc/changelog.d/3592.dependencies.md
Labels: none

fix: test logging name too long
  tests/common.py
Labels: none

fix: linkchecker and cheatsheet links (#3589)
  doc/changelog.d/3589.fixed.md
  doc/source/conf.py
  doc/source/getting_started/learning.rst
  doc/source/getting_started/project.rst
Labels: documentation

fix: detecting comments as parameters sets when they have =.
  src/ansys/mapdl/core/mapdl_core.py
Labels: none

feat: improving load_array to reduce format line length (#3590)
  doc/changelog.d/3590.miscellaneous.md
  src/ansys/mapdl/core/mapdl_extended.py
  tests/test_parameters.py
Labels: none

tests: skip some test Temporary
  tests/test_grpc.py
Labels: none

fix: initial channel state
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

feat: Avoid checking state when there is None.
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

chore: adding changelog file 3599.maintenance.md [dependabot-skip]
  doc/changelog.d/3599.maintenance.md
Labels: none

fix: removing APDL comment so it does not interfere on the last_respone
  src/ansys/mapdl/core/mapdl_core.py
Labels: none

fix: database tests
  src/ansys/mapdl/core/database/database.py
  tests/test_database.py
Labels: none

fix: path test
  tests/test_mapdl.py
Labels: none

feat: stripping spaces from the command output
  src/ansys/mapdl/core/parameters.py
Labels: none
