Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

feat: fix message
  src/ansys/mapdl/core/mapdl_core.py
Labels: none

refactor: update test functions to use consistent mapdl fixture
  tests/test_mapdl_grpc.py
Labels: none

fix: add 'opt' parameter to InputFileRequest for mute option
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

fix: test
  tests/test_grpc.py
Labels: none

chore: adding changelog file 3759.fixed.md [dependabot-skip]
  doc/changelog.d/3759.fixed.md
Labels: none

test: see if the errors are coming from testing
  tests/test_mapdl_grpc.py
Labels: none

chore: adding changelog file 3759.fixed.md [dependabot-skip]
  doc/changelog.d/3759.fixed.md
Labels: none

test: catching state change
  tests/conftest.py
Labels: none

fix: append '/OUT' command
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

fix: test
  tests/test_mapdl.py
Labels: none

fix: tests
  tests/conftest.py
Labels: none

fix: remove duplicated code
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

revert: revert "test: see if the errors are coming from testing"
  tests/test_mapdl_grpc.py
Labels: none

fix: improve output handling in MapdlGrpc class by making "VALUE" stripping optional
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

test: reset _store_commands flag in test_get_non_interactive_mode
  tests/test_mapdl_grpc.py
Labels: none

test: add assertion to verify _store_commands flag is reset
  tests/conftest.py
Labels: none

fix: clean up test_args_pass by resetting mapdl control and deleting instance
  tests/test_launcher.py
Labels: none

feat: adding changeproperty context manager
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/misc.py
  tests/test_misc.py
Labels: none

chore: adding changelog file 3760.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3760.miscellaneous.md
Labels: none

fix: Improve error handling in *GET method and enhance output logging (#3758)
  doc/changelog.d/3758.fixed.md
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_launcher.py
  tests/test_mapdl.py
  tests/test_mapdl_grpc.py
Labels: none

test: add assertions to ensure MAPDL is running and not muted before tests
  tests/conftest.py
Labels: none

feat: caching platform calls
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

ci: removing all calls to filter action and caching in docs
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3760.maintenance.md [dependabot-skip]
  doc/changelog.d/3760.maintenance.md
Labels: none

test: adding logging to setter
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

refactor: rename private variable for time step stream and update logic in _get_time_step_stream method
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_grpc.py
Labels: none

fix: change log level from info to debug for mute setter
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

fix: test
  tests/test_grpc.py
Labels: none

fix: removing some warnings
  pyproject.toml
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_core.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_dpf.py
  tests/test_grpc.py
  tests/test_mapdl.py
  tests/test_pool.py
  tests/test_post.py
Labels: maintenance, dependencies

refactor: using isin
  tests/test_post.py
Labels: none

test: raising warnings
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3763.added.md [dependabot-skip]
  doc/changelog.d/3763.added.md
Labels: none

feat: remove unnecessary code
  src/ansys/mapdl/core/parameters.py
  tests/test_mesh_grpc.py
Labels: none

feat: avoid muting on alternative *GET
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

fix: update variable names for clarity in gRPC response handling
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

test: printing traceback
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

fix: parenthesis
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

fix: simplify logging of mute value change by directly using traceback.print_stack()
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

chore: adding changelog file 3765.maintenance.md [dependabot-skip]
  doc/changelog.d/3765.maintenance.md
Labels: none

feat: implementing muted
  doc/source/api/mapdl.rst
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/misc.py
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']
