Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']

fix: ``commands.py``
  src/ansys/mapdl/core/commands.py
Labels: none

test: making sure the full and rst files exists before running the tests (#3666)
  doc/changelog.d/3666.added.md
  tests/test_xpl.py
Labels: none

ci: adding library to minimal testing requirements when using minimal or console.
  .ci/requirements_minimal.txt
Labels: CI/CD

fix: vale errors
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

fix: not attaching prof files
  .ci/collect_mapdl_logs_locals.sh
  .ci/collect_mapdl_logs_remote.sh
Labels: CI/CD

fix: vale errors
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

test: skip test if click is not available.
  tests/test_cli.py
Labels: none

feat: adding __len__ to components (#3663)
  doc/changelog.d/3663.miscellaneous.md
  src/ansys/mapdl/core/component.py
  tests/test_component.py
Labels: none

docs: fix post documentation (#3684)
  doc/changelog.d/3684.documentation.md
  src/ansys/mapdl/core/post.py
Labels: none

fix: avoid MAPDL commands execution when gRPC connection fails.
  src/ansys/mapdl/core/errors.py
Labels: none

ci: adding-profiling-to-unit-tests (#3676)
  .ci/collect_mapdl_logs_locals.sh
  .ci/collect_mapdl_logs_remote.sh
  .ci/requirements_minimal.txt
  .github/workflows/ci.yml
  .gitignore
  doc/changelog.d/3676.dependencies.md
  pyproject.toml
  tests/conftest.py
Labels: maintenance, dependencies, CI/CD

chore: adding changelog file 3686.fixed.md [dependabot-skip]
  doc/changelog.d/3686.fixed.md
Labels: none

chore: adding changelog file 3649.maintenance.md [dependabot-skip]
  doc/changelog.d/3649.maintenance.md
Labels: none

fix: documentation review
  doc/source/examples/extended_examples/sfem/sfem.py
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
Labels: documentation

fix: test
  tests/test_grpc.py
Labels: none

fix: ignoring doc warnings
  doc/source/conf.py
Labels: documentation

fix: reanabling ``gen_gallery``
  doc/source/conf.py
Labels: documentation

chore: updating CHANGELOG for v0.69.2
  doc/changelog.d/3643.added.md
  doc/changelog.d/3645.dependencies.md
  doc/changelog.d/3646.dependencies.md
  doc/changelog.d/3647.dependencies.md
  doc/changelog.d/3657.maintenance.md
  doc/changelog.d/3659.maintenance.md
  doc/changelog.d/3662.fixed.md
  doc/changelog.d/3663.miscellaneous.md
  doc/changelog.d/3664.added.md
  doc/changelog.d/3665.fixed.md
  doc/changelog.d/3666.added.md
  doc/changelog.d/3667.maintenance.md
  doc/changelog.d/3668.maintenance.md
  doc/changelog.d/3669.maintenance.md
  doc/changelog.d/3670.dependencies.md
  doc/changelog.d/3671.dependencies.md
  doc/changelog.d/3672.dependencies.md
  doc/changelog.d/3673.dependencies.md
  doc/changelog.d/3676.dependencies.md
  doc/changelog.d/3681.maintenance.md
  doc/changelog.d/3684.documentation.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.69.2
  doc/changelog.d/3643.added.md
  doc/changelog.d/3645.dependencies.md
  doc/changelog.d/3646.dependencies.md
  doc/changelog.d/3647.dependencies.md
  doc/changelog.d/3657.maintenance.md
  doc/changelog.d/3659.maintenance.md
  doc/changelog.d/3662.fixed.md
  doc/changelog.d/3663.miscellaneous.md
  doc/changelog.d/3664.added.md
  doc/changelog.d/3665.fixed.md
  doc/changelog.d/3666.added.md
  doc/changelog.d/3667.maintenance.md
  doc/changelog.d/3668.maintenance.md
  doc/changelog.d/3669.maintenance.md
  doc/changelog.d/3670.dependencies.md
  doc/changelog.d/3671.dependencies.md
  doc/changelog.d/3672.dependencies.md
  doc/changelog.d/3673.dependencies.md
  doc/changelog.d/3676.dependencies.md
  doc/changelog.d/3681.maintenance.md
  doc/changelog.d/3684.documentation.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 3687.added.md [dependabot-skip]
  doc/changelog.d/3687.added.md
Labels: none

fix: latest pyconverter-xml2py fixes
  src/ansys/mapdl/core/_commands/apdl/array_parameters.py
  src/ansys/mapdl/core/_commands/apdl/macro_files.py
  src/ansys/mapdl/core/_commands/apdl/parameter_definition.py
Labels: none

test : checking doc can be correctly built if no warnings
  doc/Makefile
Labels: maintenance

fix: suggestions from code review
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
Labels: documentation

fix: manual modification to identify the error
  doc/Makefile
  src/ansys/mapdl/core/_commands/apdl/array_parameters.py
Labels: maintenance

fix: more review comments
  doc/source/examples/extended_examples/sfem/sfem.py
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
Labels: documentation

fix: more review suggestions
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
Labels: documentation

revert: revert "chore: updating CHANGELOG for v0.69.2"
  doc/changelog.d/3643.added.md
  doc/changelog.d/3645.dependencies.md
  doc/changelog.d/3646.dependencies.md
  doc/changelog.d/3647.dependencies.md
  doc/changelog.d/3657.maintenance.md
  doc/changelog.d/3659.maintenance.md
  doc/changelog.d/3662.fixed.md
  doc/changelog.d/3663.miscellaneous.md
  doc/changelog.d/3664.added.md
  doc/changelog.d/3665.fixed.md
  doc/changelog.d/3666.added.md
  doc/changelog.d/3667.maintenance.md
  doc/changelog.d/3668.maintenance.md
  doc/changelog.d/3669.maintenance.md
  doc/changelog.d/3670.dependencies.md
  doc/changelog.d/3671.dependencies.md
  doc/changelog.d/3672.dependencies.md
  doc/changelog.d/3673.dependencies.md
  doc/changelog.d/3676.dependencies.md
  doc/changelog.d/3681.maintenance.md
  doc/changelog.d/3684.documentation.md
  doc/source/changelog.rst
Labels: documentation

build: release 0.69.2
  pyproject.toml
Labels: maintenance, dependencies

chore: updating CHANGELOG for v0.69.2
  doc/changelog.d/3643.added.md
  doc/changelog.d/3645.dependencies.md
  doc/changelog.d/3646.dependencies.md
  doc/changelog.d/3647.dependencies.md
  doc/changelog.d/3657.maintenance.md
  doc/changelog.d/3659.maintenance.md
  doc/changelog.d/3662.fixed.md
  doc/changelog.d/3663.miscellaneous.md
  doc/changelog.d/3664.added.md
  doc/changelog.d/3665.fixed.md
  doc/changelog.d/3666.added.md
  doc/changelog.d/3667.maintenance.md
  doc/changelog.d/3668.maintenance.md
  doc/changelog.d/3669.maintenance.md
  doc/changelog.d/3670.dependencies.md
  doc/changelog.d/3671.dependencies.md
  doc/changelog.d/3672.dependencies.md
  doc/changelog.d/3673.dependencies.md
  doc/changelog.d/3676.dependencies.md
  doc/changelog.d/3681.maintenance.md
  doc/changelog.d/3684.documentation.md
  doc/source/changelog.rst
Labels: documentation

chore: updating CHANGELOG for v0.69.2
  doc/changelog.d/3643.added.md
  doc/changelog.d/3645.dependencies.md
  doc/changelog.d/3646.dependencies.md
  doc/changelog.d/3647.dependencies.md
  doc/changelog.d/3657.maintenance.md
  doc/changelog.d/3659.maintenance.md
  doc/changelog.d/3662.fixed.md
  doc/changelog.d/3663.miscellaneous.md
  doc/changelog.d/3664.added.md
  doc/changelog.d/3665.fixed.md
  doc/changelog.d/3666.added.md
  doc/changelog.d/3667.maintenance.md
  doc/changelog.d/3668.maintenance.md
  doc/changelog.d/3669.maintenance.md
  doc/changelog.d/3670.dependencies.md
  doc/changelog.d/3671.dependencies.md
  doc/changelog.d/3672.dependencies.md
  doc/changelog.d/3673.dependencies.md
  doc/changelog.d/3676.dependencies.md
  doc/changelog.d/3681.maintenance.md
  doc/changelog.d/3684.documentation.md
  doc/source/changelog.rst
Labels: documentation

chore: adding changelog file 3688.added.md [dependabot-skip]
  doc/changelog.d/3688.added.md
Labels: none

fix: manual modification to identify the error - 2
  src/ansys/mapdl/core/_commands/apdl/array_parameters.py
Labels: none

fix: manual modification to identify the error - 3
  doc/Makefile
Labels: maintenance

test: remove redundant tests
  tests/test_mapdl.py
Labels: none

fix: reverting manual change in ``voper`` and removing ``-W`` flag in doc build
  .github/workflows/ci.yml
  doc/Makefile
  src/ansys/mapdl/core/_commands/apdl/array_parameters.py
Labels: maintenance, CI/CD

fix: removing ``-W`` flag in doc build
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: final review suggestions
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
Labels: documentation

ci: marking test as flacky. Ref https://github.com/ansys/pymapdl/issues/2435 #2435
  tests/test_pool.py
Labels: none

fix: properly using Sphinx ``:file:`` role
  src/ansys/mapdl/core/_commands/apdl/abbreviations.py
  src/ansys/mapdl/core/_commands/apdl/array_parameters.py
  src/ansys/mapdl/core/_commands/apdl/macro_files.py
  src/ansys/mapdl/core/_commands/apdl/matrix_operations.py
  src/ansys/mapdl/core/_commands/apdl/parameter_definition.py
Labels: none

fix: properly using Sphinx ``:file:`` role
  src/ansys/mapdl/core/_commands/aux2/binary_file_dump.py
  src/ansys/mapdl/core/_commands/aux2/binary_file_manipulation.py
Labels: none
