Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

fix: console launching (#3586)
  .github/workflows/ci.yml
  doc/changelog.d/3586.fixed.md
  src/ansys/mapdl/core/information.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_console.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_console.py
Labels: maintenance, CI/CD

test: faking-v150 (#3509)
  .github/workflows/ci.yml
  doc/changelog.d/3509.added.md
  pyproject.toml
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: maintenance, dependencies, CI/CD

feat: apply suggestions from code review
  .github/workflows/ci.yml
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/common.py
Labels: maintenance, CI/CD

feat: apply suggestions from code review
  tests/conftest.py
  tests/test_database.py
  tests/test_grpc.py
Labels: none

fix: test
  tests/test_logging.py
Labels: none

ci: using an external file for minimal requirements
  .ci/requirements_minimal.txt
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: tests
  tests/test_logging.py
Labels: none

tests: adding timeout to each test
  .github/workflows/ci.yml
  pyproject.toml
Labels: maintenance, dependencies, CI/CD

chore: adding changelog file 3621.added.md [dependabot-skip]
  doc/changelog.d/3621.added.md
Labels: none

fix: removing ``mwrite`` and ``vwrite`` methods
  doc/source/mapdl_commands/apdl/array_parameters.rst
  src/ansys/mapdl/core/_commands/apdl/array_parameters.py
Labels: documentation

chore: adding changelog file 3577.added.md [dependabot-skip]
  doc/changelog.d/3577.added.md
  doc/changelog.d/3577.dependencies.md
Labels: none

tests: adding timeout to each test (#3621)
  .github/workflows/ci.yml
  doc/changelog.d/3621.added.md
  pyproject.toml
Labels: maintenance, dependencies, CI/CD

refactor: moving dependency to requirement file
  .ci/requirements_minimal.txt
Labels: CI/CD

ci: fix files names.
  .ci/collect_mapdl_log_locals.sh
  .ci/collect_mapdl_logs_locals.sh
  .ci/collect_mapdl_logs_remote.sh
  .ci/display_logs_locals.sh
  .ci/display_logs_remote.sh
  .github/workflows/ci.yml
  tests/conftest.py
Labels: maintenance, CI/CD

fix: readding ``mwrite`` and ``vwrite`` methods + fixing ``mkdir``
  doc/source/mapdl_commands/apdl/array_parameters.rst
  src/ansys/mapdl/core/_commands/apdl/array_parameters.py
  src/ansys/mapdl/core/_commands/apdl/macro_files.py
Labels: documentation

fix: test
  tests/test_grpc.py
Labels: none

ci: adding student back
  .ci/build_matrix.sh
Labels: CI/CD

chore: adding changelog file 3623.maintenance.md [dependabot-skip]
  doc/changelog.d/3623.maintenance.md
Labels: none

ci: reducing number of test on minimal
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

ci: adding logs to console
  .ci/collect_mapdl_logs_locals.sh
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

ci: adding student back (#3623)
  .ci/build_matrix.sh
  .github/workflows/ci.yml
  doc/changelog.d/3623.maintenance.md
Labels: maintenance, CI/CD

fix: reverting change in example
  examples/00-mapdl-examples/transient_thermal.py
Labels: documentation, examples

fix: attempt to fix codespell
  .pre-commit-config.yaml
  pyproject.toml
Labels: maintenance, dependencies

chore: adding changelog file 3594.maintenance.md [dependabot-skip]
  doc/changelog.d/3594.maintenance.md
Labels: none

ci: adding more printouts
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: backup method for meshes
  src/ansys/mapdl/core/plotting/visualizer.py
Labels: none

fix: increase timeout for checking output file
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

feat: implement global defaults OS dependent.
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

feat: adding logging
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

ci: temporary skipping attrs license check
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3624.maintenance.md [dependabot-skip]
  doc/changelog.d/3624.maintenance.md
Labels: none

ci: temporary skipping attrs license check (#3624)
  .github/workflows/ci.yml
  doc/changelog.d/3624.maintenance.md
Labels: maintenance, CI/CD

ci: adding ubuntu 251 and 252.
  .ci/build_matrix.sh
Labels: CI/CD

chore: adding changelog file 3626.maintenance.md [dependabot-skip]
  doc/changelog.d/3626.maintenance.md
Labels: none

ci: fix latest
  .ci/build_matrix.sh
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

test: removing database testing
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: importing pandas if we have them
  src/ansys/mapdl/core/commands.py
Labels: none

feat: debug testing (#3594)
  .ci/collect_mapdl_logs_locals.sh
  .ci/collect_mapdl_logs_remote.sh
  .ci/display_logs_locals.sh
  .ci/display_logs_remote.sh
  .ci/requirements_minimal.txt
  .github/workflows/ci.yml
  doc/changelog.d/3594.maintenance.md
  tests/common.py
  tests/conftest.py
  tests/test_grpc.py
  tests/test_logging.py
Labels: maintenance, CI/CD

refactor: annotate pymapdl part 1 (#3569)
  doc/changelog.d/3569.added.md
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/_version.py
  src/ansys/mapdl/core/cli/__init__.py
  src/ansys/mapdl/core/cli/convert.py
  src/ansys/mapdl/core/cli/list_instances.py
  src/ansys/mapdl/core/cli/start.py
  src/ansys/mapdl/core/cli/stop.py
  src/ansys/mapdl/core/commands.py
  src/ansys/mapdl/core/common_grpc.py
  src/ansys/mapdl/core/component.py
  src/ansys/mapdl/core/convert.py
  src/ansys/mapdl/core/errors.py
  src/ansys/mapdl/core/examples/downloads.py
  src/ansys/mapdl/core/examples/examples.py
  src/ansys/mapdl/core/examples/verif_files.py
  src/ansys/mapdl/core/information.py
  src/ansys/mapdl/core/inline_functions/connectivity_queries.py
  src/ansys/mapdl/core/inline_functions/core.py
  src/ansys/mapdl/core/inline_functions/geometry_queries.py
  src/ansys/mapdl/core/jupyter.py
  src/ansys/mapdl/core/krylov.py
  tests/test_examples.py
Labels: none

fix: removing left behind code
  tests/conftest.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']
