Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']

fix: ram units
  src/ansys/mapdl/core/launcher.py
Labels: none

chore: adding changelog file 3730.fixed.md [dependabot-skip]
  doc/changelog.d/3730.fixed.md
Labels: none

fix: codecov issues
  tests/test_hpc.py
Labels: none

feat: using unsym for xpl tests.
  tests/test_xpl.py
Labels: none

tests: clarification
  pyproject.toml
Labels: maintenance, dependencies

fix: tests
  tests/test_launcher.py
Labels: none

feat: saving all info and yielding instead of returning
  tests/test_xpl.py
Labels: none

fix: ram units (#3730)
  doc/changelog.d/3730.fixed.md
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: none

feat: adding opened attribute
  src/ansys/mapdl/core/xpl.py
  tests/test_xpl.py
Labels: none

feat: adding opened attribute
  src/ansys/mapdl/core/xpl.py
  tests/test_xpl.py
Labels: none

chore: adding changelog file 3731.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3731.miscellaneous.md
Labels: none

ci: fixing workflow
  .github/workflows/ci.yml
  tests/common.py
Labels: maintenance, CI/CD

feat: adding powershell to CICD
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

docs: adding docstring
  src/ansys/mapdl/core/xpl.py
Labels: none

build: update sphinx-autodoc-typehints to 3.0.1
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
  pyproject.toml
Labels: maintenance, dependencies, CI/CD

chore: adding changelog file 3733.dependencies.md [dependabot-skip]
  doc/changelog.d/3733.dependencies.md
Labels: none

build: update sphinx-autodoc-typehints to 3.0.1 (#3733)
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
  doc/changelog.d/3733.dependencies.md
  pyproject.toml
Labels: maintenance, dependencies, CI/CD

test: dpf server connection
  tests/test_dpf.py
Labels: none

fix: tests
  tests/test_xpl.py
Labels: none

ci: speed testing. temporary.
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: import
  tests/test_dpf.py
Labels: none

feat: adding version
  .ci/build_matrix.sh
Labels: CI/CD

ci: adding ansys number to action
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: test
  tests/test_xpl.py
Labels: none

feat: using custom branch
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

feat: adding opened attribute (#3731)
  doc/changelog.d/3731.miscellaneous.md
  src/ansys/mapdl/core/xpl.py
  tests/test_xpl.py
Labels: none

feat: using script instead of action
  .ci/install_dpf_server.sh
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: make executable
  .ci/install_dpf_server.sh
Labels: CI/CD

fix: server env var
  .ci/install_dpf_server.sh
Labels: CI/CD

fix: moving down
  .ci/install_dpf_server.sh
Labels: CI/CD

feat: adding more info in case of failure.
  .ci/install_dpf_server.sh
Labels: CI/CD

feat: retrieving dpf server log file
  .ci/collect_mapdl_logs_locals.sh
  .ci/install_dpf_server.sh
Labels: CI/CD

feat: increasing timeout
  .ci/install_dpf_server.sh
Labels: CI/CD

feat: increasing timeout
  .ci/install_dpf_server.sh
Labels: CI/CD

tests: test
  .ci/install_dpf_server.sh
Labels: CI/CD

test: again
  .ci/install_dpf_server.sh
Labels: CI/CD

feat: fix file name
  tests/test_xpl.py
Labels: none

test: using patch
  tests/test_pool.py
Labels: none

chore: adding changelog file 3736.added.md [dependabot-skip]
  doc/changelog.d/3736.added.md
Labels: none

fix: import
  tests/test_pool.py
Labels: none
