Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

chore: adding changelog file 2241.documentation.md [dependabot-skip]
  doc/changelog.d/2241.documentation.md
Labels: none

docs: updating compatible Python versions
  doc/source/getting_started/install_pymapdl.rst
Labels: documentation

chore: adding changelog file 3572.documentation.md [dependabot-skip]
  doc/changelog.d/3572.documentation.md
Labels: none

fix: patching psutil
  tests/test_launcher.py
Labels: none

refactor: replace `get_ansys_path` with `get_mapdl_path`
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/licensing.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/pool.py
Labels: none

chore: adding changelog file 3573.added.md [dependabot-skip]
  doc/changelog.d/3573.added.md
Labels: none

fix: pyproject toml
  pyproject.toml
Labels: maintenance, dependencies

docs: remove traces of python3.9 in docs
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/examples.yml
  doc/source/user_guide/hpc/settings.rst
Labels: documentation, maintenance, CI/CD

test: testing examples
  tests/test_examples.py
Labels: none

fix: add missing import
  tests/common.py
Labels: none

fix: redundancy
  src/ansys/mapdl/core/launcher.py
Labels: none

fix: tests
  tests/test_launcher.py
Labels: none

feat: adding a warning when no version is given.
  src/ansys/mapdl/core/launcher.py
Labels: none

feat: adding test
  tests/test_launcher.py
Labels: none

fix: avoid recording intended warnings to the stdout (they are caught by pytests)
  tests/test_component.py
  tests/test_mapdl.py
Labels: none

chore: adding changelog file 3574.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3574.miscellaneous.md
Labels: none

fix: already entered issue
  tests/test_launcher.py
Labels: none

fix: early exit
  src/ansys/mapdl/core/launcher.py
Labels: none

fix: tests
  tests/test_launcher.py
Labels: none

feat: adding-mode-warning (#3574)
  doc/changelog.d/3574.miscellaneous.md
  src/ansys/mapdl/core/launcher.py
  tests/test_component.py
  tests/test_launcher.py
  tests/test_mapdl.py
Labels: none

feat: fix pandas warning in docs. Also remove non-used function and adding _HAS_PANDAS to globals
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/commands.py
Labels: none

feat: using dpf action and latest version
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
  .github/workflows/ci.yml
  .github/workflows/linkchecker.yml
  pyproject.toml
Labels: maintenance, dependencies, CI/CD

fix: import
  src/ansys/mapdl/core/commands.py
Labels: none

fix: import
  src/ansys/mapdl/core/commands.py
Labels: none

refactor: delegating to pypim first
  src/ansys/mapdl/core/launcher.py
Labels: none

fix: remove some warnings from pytest output
  tests/test_launcher.py
Labels: none

feat: running MPI fix only if on windows
  src/ansys/mapdl/core/launcher.py
Labels: none

feat: running MPI fix only if on windows
  src/ansys/mapdl/core/launcher.py
Labels: none

chore: adding changelog file 3575.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3575.miscellaneous.md
Labels: none

fix: promote to exposed function
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/misc.py
Labels: none

tests: adding tests
  tests/test_launcher.py
Labels: none

chore: adding changelog file 3576.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3576.miscellaneous.md
Labels: none

docs: updating compatible Python versions (#3572)
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/examples.yml
  doc/changelog.d/3572.documentation.md
  doc/source/getting_started/install_pymapdl.rst
  doc/source/user_guide/hpc/settings.rst
  pyproject.toml
Labels: documentation, maintenance, dependencies, CI/CD

fix: test
  tests/test_launcher.py
Labels: none

fix: adding missing import
  tests/common.py
Labels: none

fix: using server installation
  .github/workflows/ci.yml
  .github/workflows/linkchecker.yml
Labels: maintenance, CI/CD

fix: running dpf tests in local
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: adding dpf env var
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: removing dpf unused env vars
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

feat: removing unauthorized MAPDL methods and using pyconverter-xml2py subfolder new feature
  doc/source/mapdl_commands/apdl/abbreviations.rst
  doc/source/mapdl_commands/apdl/array_parameters.rst
  doc/source/mapdl_commands/apdl/encryption_decryption.rst
  doc/source/mapdl_commands/apdl/index.rst
  doc/source/mapdl_commands/apdl/macro_files.rst
  doc/source/mapdl_commands/apdl/matrix_operations.rst
  doc/source/mapdl_commands/apdl/parameter_definition.rst
  doc/source/mapdl_commands/apdl/process_controls.rst
  src/ansys/mapdl/core/_commands/apdl/macro_files.py
  src/ansys/mapdl/core/_commands/apdl/parameter_definition.py
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']
