Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

fix: add g++ installation to the CI workflow for enhanced compatibility
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

refactor visualizer: standardize variable naming and enhance BC_plot_settings functionality
  src/ansys/mapdl/core/plotting/visualizer.py
Labels: none

chore: adding changelog file 3896.fixed.md [dependabot-skip]
  doc/changelog.d/3896.fixed.md
Labels: none

hold the bc settings per plotter instance
  src/ansys/mapdl/core/plotting/visualizer.py
Labels: none

chore: adding changelog file 3897.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3897.miscellaneous.md
Labels: none

hold the bc settings per plotter instance (#3897)
  doc/changelog.d/3897.miscellaneous.md
  src/ansys/mapdl/core/plotting/visualizer.py
Labels: none

fix: enable building and installing package in CI workflow
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

add docstring
  src/ansys/mapdl/core/plotting/visualizer.py
Labels: none

fix: correct macOS spelling in documentation
  README.md
  doc/source/getting_started/install_pymapdl.rst
Labels: documentation

chore: update .github/workflows/test-local.yml
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

type hint
  src/ansys/mapdl/core/plotting/visualizer.py
Labels: none

chore: active support for Python 3.13 (#3605)
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/examples.yml
  .github/workflows/ci.yml
  .github/workflows/test-local.yml
  .github/workflows/test-remote.yml
  README.md
  doc/changelog.d/3605.added.md
  doc/source/examples/extended_examples/gui/requirements.txt
  doc/source/getting_started/install_pymapdl.rst
  doc/source/user_guide/upf.rst
  pyproject.toml
  tox.ini
Labels: documentation, maintenance, dependencies, CI/CD

fix: update ansys-mapdl-reader version to 0.55.0 in documentation dependencies
  pyproject.toml
Labels: maintenance, dependencies

chore: adding changelog file 3898.fixed.md [dependabot-skip]
  doc/changelog.d/3898.fixed.md
Labels: none

fix: remove xfail markers from flaky tests
  tests/test_importing_geometries.py
  tests/test_mapdl.py
  tests/test_pool.py
  tests/test_xpl.py
Labels: none

chore: adding changelog file 3899.fixed.md [dependabot-skip]
  doc/changelog.d/3899.fixed.md
Labels: none

fix: enhance migrator workflow to run based on user belonging to a team
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update ansys-mapdl-reader version to 0.55.0 in documentation dependencies (#3898)
  doc/changelog.d/3898.fixed.md
  pyproject.toml
Labels: maintenance, dependencies

fix: enhance merge conflict handling in migrator workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3899.added.md [dependabot-skip]
  doc/changelog.d/3899.added.md
  doc/changelog.d/3899.fixed.md
Labels: none

feat: add disk space usage reporting and cleanup steps in local testing workflow
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

feat: add disk space cleanup step before build in local testing workflow
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3900.fixed.md [dependabot-skip]
  doc/changelog.d/3900.fixed.md
Labels: none

feat: enhance disk space reporting in local testing workflow
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

fix: update disk usage reporting to show current directory size
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

fix: improve disk usage reporting with error handling in local testing workflow
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

fix: remove redundant disk usage checks and streamline reporting in local testing workflow
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

fix: replace cp with mv for log file handling in local and remote scripts
  .ci/collect_mapdl_logs_locals.sh
  .ci/collect_mapdl_logs_remote.sh
Labels: CI/CD

fix: remove skip marker from test_plot_incomplete_nodal_selection
  tests/test_post.py
Labels: none

fix: remove skip marker from test_plot_incomplete_element_selection
  tests/test_post.py
Labels: none

refactor: do not import ansys.tools.visualizer by default when importing ansys.mapdl.core (#3887)
  doc/changelog.d/3887.added.md
  doc/changelog.d/3897.miscellaneous.md
  doc/source/api/plotting.rst
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/helpers.py
  src/ansys/mapdl/core/plotting/__init__.py
  src/ansys/mapdl/core/plotting/visualizer.py
  src/ansys/mapdl/core/post.py
  tests/test_examples.py
Labels: documentation

fix: update log file handling to create directories before moving files in local and remote scripts
  .ci/collect_mapdl_logs_locals.sh
  .ci/collect_mapdl_logs_remote.sh
Labels: CI/CD

fix: update tar command to remove files after compression in log collection scripts
  .ci/collect_mapdl_logs_locals.sh
  .ci/collect_mapdl_logs_remote.sh
Labels: CI/CD

fix: update pytest arguments to exclude logs on passed tests in local and remote workflows
  .github/workflows/test-local.yml
  .github/workflows/test-remote.yml
Labels: maintenance, CI/CD

fix: add disk usage checks for runner directories in local testing workflow
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

feat: add CodeQL analysis workflow for Python
  .github/workflows/codeql-analysis.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3902.maintenance.md [dependabot-skip]
  doc/changelog.d/3902.maintenance.md
Labels: none

feat: add CodeQL analysis workflow for Python (#3902)
  .github/workflows/codeql-analysis.yml
  doc/changelog.d/3902.maintenance.md
Labels: maintenance, CI/CD

fix: add disk usage check for CodeQL directory in local testing workflow
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

fix: remove CodeQL directory after disk usage check in local testing workflow
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']
