Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']

fix: Decorator
  src/ansys/mapdl/core/misc.py
Labels: none

feat: Add new parameter to tests
  doc/source/user_guide/plotting.rst
  examples/00-mapdl-examples/2d_magnetostatic_solenoid-BodyFlux_Averaging.py
  examples/00-mapdl-examples/2d_plate_with_a_hole.py
  examples/00-mapdl-examples/3d_notch.py
  examples/00-mapdl-examples/bracket_static.py
  examples/00-mapdl-examples/lathe_cutter.py
  examples/00-mapdl-examples/mapdl_beam.py
  examples/02-tips-n-tricks/01-smoothing-element-size-transitions.py
  src/ansys/mapdl/core/_commands/graphics_/style.py
  src/ansys/mapdl/core/_commands/post1_/controls.py
  tests/test_console.py
  tests/test_plotting.py
Labels: documentation, examples

feat: Change launcher to new Enum
  doc/source/api/mapdl.rst
  src/ansys/mapdl/core/cli/convert.py
  src/ansys/mapdl/core/convert.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_console.py
  src/ansys/mapdl/core/mapdl_inprocess.py
  tests/test_cli.py
  tests/test_convert.py
  tests/test_mapdl.py
Labels: documentation

fix: Missing vtk=true in examples
  examples/00-mapdl-examples/bracket_static.py
  examples/00-mapdl-examples/lathe_cutter.py
Labels: documentation, examples

fix: CLI input
  src/ansys/mapdl/core/cli/convert.py
  tests/test_cli.py
  tests/test_post.py
Labels: none

fix: Wrong param name
  tests/test_cli.py
  tests/test_console.py
  tests/test_plotting.py
Labels: none

feat: update Dockerfiles and requirements for improved library support and version upgrades
  .devcontainer/codespaces-dev/Dockerfile
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/Dockerfile
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/Dockerfile
  .devcontainer/devcontainer-local/requirements.txt
Labels: maintenance, CI/CD

chore: adding changelog file 3822.maintenance.md [dependabot-skip]
  doc/changelog.d/3822.maintenance.md
Labels: none

feat: update Dockerfiles and requirements for improved library support and version upgrades (#3822)
  .devcontainer/codespaces-dev/Dockerfile
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/Dockerfile
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/Dockerfile
  .devcontainer/devcontainer-local/requirements.txt
  doc/changelog.d/3822.maintenance.md
Labels: maintenance, CI/CD

chore: adding changelog file 3823.dependencies.md [dependabot-skip]
  doc/changelog.d/3823.dependencies.md
Labels: none

fix: PR suggestions
  doc/source/user_guide/plotting.rst
  examples/00-mapdl-examples/2d_magnetostatic_solenoid-BodyFlux_Averaging.py
  examples/00-mapdl-examples/lathe_cutter.py
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/cli/convert.py
  src/ansys/mapdl/core/convert.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/mapdl_inprocess.py
  src/ansys/mapdl/core/plotting/__init__.py
  tests/test_console.py
  tests/test_convert.py
Labels: documentation, examples

fix: Import
  src/ansys/mapdl/core/convert.py
Labels: none

fix: Import
  src/ansys/mapdl/core/convert.py
Labels: none

fix: Import
  tests/test_plotting.py
Labels: none

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

chore: adding changelog file 3825.documentation.md [dependabot-skip]
  doc/changelog.d/3825.documentation.md
Labels: none

fix: Missing imports
  tests/test_convert.py
  tests/test_mapdl.py
Labels: none

refactor: reordering case-independent.
  CONTRIBUTORS.md
Labels: none

fix: returning to default state after test
  tests/test_plotting.py
Labels: none

feat: making sure we return to default state after testing
  tests/conftest.py
Labels: none

fix: update import statements
  examples/00-mapdl-examples/2d_magnetostatic_solenoid-BodyFlux_Averaging.py
  examples/00-mapdl-examples/lathe_cutter.py
Labels: documentation, examples

fix: update graphics_backend to use GraphicsBackend enum in failing test
  tests/test_cli.py
Labels: none

fix: docstrings in post functions and their test
  src/ansys/mapdl/core/post.py
  tests/test_post.py
Labels: none

fix: capitalization in enum
  src/ansys/mapdl/core/post.py
  tests/test_post.py
Labels: none

fix: update graphics_backend handling in convert function and tests
  src/ansys/mapdl/core/cli/convert.py
  tests/test_cli.py
Labels: none

fix: add wraps decorator to requires_graphics function so the docstrings are transferred.
  src/ansys/mapdl/core/misc.py
Labels: none

fix: remove exceptions on mapdl object deletion
  tests/test_mapdl.py
Labels: none

chore: adding changelog file 3826.fixed.md [dependabot-skip]
  doc/changelog.d/3826.fixed.md
Labels: none

fix: making sure we not run scancely
  tests/conftest.py
  tests/test_launcher.py
Labels: none

docs: Update ``CONTRIBUTORS.md`` with the latest contributors (#3825)
  CONTRIBUTORS.md
  doc/changelog.d/3825.documentation.md
Labels: none

test: Add non existent backend
  tests/test_cli.py
Labels: none

test: fix cli test
  tests/test_cli.py
Labels: none

fix: prevent premature exit by overriding __del__ method in test cases
  tests/test_mapdl.py
Labels: none

fix: overriding exit methods
  tests/test_mapdl.py
Labels: none

chore: adding changelog file 3833.dependencies.md [dependabot-skip]
  doc/changelog.d/3833.dependencies.md
Labels: none

fix: remove exceptions on mapdl object deletion (#3826)
  doc/changelog.d/3826.fixed.md
  tests/conftest.py
  tests/test_launcher.py
  tests/test_mapdl.py
Labels: none

ci: update action versions to v9 in CI workflows
  .github/workflows/ci.yml
  .github/workflows/docker_clean_untagged.yml
  .github/workflows/label.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3834.maintenance.md [dependabot-skip]
  doc/changelog.d/3834.maintenance.md
Labels: none

ci: update action versions to v9 in CI workflows (#3834)
  .github/workflows/ci.yml
  .github/workflows/docker_clean_untagged.yml
  .github/workflows/label.yml
  doc/changelog.d/3834.maintenance.md
Labels: maintenance, CI/CD

chore: adding changelog file 3833.dependencies.md [dependabot-skip]
  doc/changelog.d/3833.dependencies.md
Labels: none
