Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

chore: adding changelog file 3781.maintenance.md [dependabot-skip]
  doc/changelog.d/3781.maintenance.md
Labels: none

fix: missing pool name in test (#3773)
  doc/changelog.d/3773.fixed.md
  src/ansys/mapdl/core/component.py
  src/ansys/mapdl/core/mesh_grpc.py
  src/ansys/mapdl/core/pool.py
  tests/test_pool.py
Labels: none

style: formatting
  src/ansys/mapdl/core/mesh_grpc.py
Labels: none

fix: test
  tests/test_post.py
Labels: none

refactor: simplify error logging for inactive chunks in parse_chunks function
  src/ansys/mapdl/core/common_grpc.py
Labels: none

test: removing unneeded test
  tests/test_mesh_grpc.py
Labels: none

fix: temporary fixing a test
  tests/test_mapdl.py
Labels: none

test: skip test until Incomplete plots fails when nodes are selected #3782
  tests/test_post.py
Labels: none

test: skip plot test due to known crash until #3782 is resolved
  tests/test_post.py
Labels: none

test: remove unused test for ignore_cache_reset_context_logging
  tests/test_mesh_grpc.py
Labels: none

test: add requirement for pyvista in test_empty_mesh
  tests/test_mesh_grpc.py
Labels: none

feat: implement ignore cache reset context (#3778)
  doc/changelog.d/3778.miscellaneous.md
  src/ansys/mapdl/core/common_grpc.py
  src/ansys/mapdl/core/mesh_grpc.py
  tests/test_mapdl.py
  tests/test_mesh_grpc.py
  tests/test_post.py
Labels: none

fix: ``seltol`` - applying fixes from ``mapdl-cmd-conv``
  doc/source/mapdl_commands/database/index.rst
  src/ansys/mapdl/core/_commands/database/components.py
  src/ansys/mapdl/core/_commands/database/coordinate_system.py
  src/ansys/mapdl/core/_commands/database/picking.py
  src/ansys/mapdl/core/_commands/database/selecting.py
  src/ansys/mapdl/core/_commands/database/set_up.py
  src/ansys/mapdl/core/_commands/database/working_plane.py
Labels: documentation

fix: pymapdl docstring
  src/ansys/mapdl/core/component.py
Labels: none

fix: improve element and node selection handling in post-processing
  src/ansys/mapdl/core/mesh/mesh.py
  src/ansys/mapdl/core/post.py
  tests/test_post.py
Labels: none

chore: adding changelog file 3784.fixed.md [dependabot-skip]
  doc/changelog.d/3784.fixed.md
Labels: none

fix: codacity issues
  tests/test_post.py
Labels: none

test: add visualization interface requirement for incomplete element and nodal plotting tests
  tests/test_post.py
Labels: none

fix: improve element and node selection handling in post-processing (#3784)
  doc/changelog.d/3784.fixed.md
  src/ansys/mapdl/core/mesh/mesh.py
  src/ansys/mapdl/core/post.py
  tests/test_post.py
Labels: none

chore: adding changelog file 3748.documentation.md [dependabot-skip]
  doc/changelog.d/changelog_template.jinja
Labels: none

feat: add GitHub Action for testing PyMAPDL with remote MAPDL instances
  .github/actions/test_remote/action.yml
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3785.maintenance.md [dependabot-skip]
  doc/changelog.d/3785.maintenance.md
  doc/changelog.d/changelog_template.jinja
Labels: none

fix: update GitHub Action to use default branch for remote testing
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

junk: dummy commit to have a difference so i can open a pull request
  minimum_requirements.txt
Labels: maintenance

chore: adding changelog file 3786.documentation.md [dependabot-skip]
  doc/changelog.d/3786.documentation.md
  doc/changelog.d/changelog_template.jinja
Labels: none

revert: "junk: dummy commit to have a difference so i can open a pull request"
  minimum_requirements.txt
Labels: maintenance

feat: using file path
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: remove unused outputs from CI workflow
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: restore Git installation step in CI workflow
  .github/actions/test_remote/action.yml
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: set default shell to bash in GitHub Action for remote testing
  .github/actions/test_remote/action.yml
Labels: maintenance, CI/CD

fix: enforce bash shell for all steps in remote testing action
  .github/actions/test_remote/action.yml
Labels: maintenance, CI/CD

ci: adding actions for local, windows, and summary.
  .github/actions/pytest-summary/action.yml
  .github/actions/test-local/action.yml
  .github/actions/test-remote/action.yml
  .github/actions/test-windows/action.yml
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

docs: update towncrier template (#3786)
  doc/changelog.d/3786.documentation.md
  doc/changelog.d/changelog_template.jinja
Labels: none

fix: update conditionals for minimal input in local testing action
  .github/actions/test-local/action.yml
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

feat: add GitHub Actions for Julia testing, remote matrix build, and documentation build
  .github/actions/build-matrix/action.yml
  .github/actions/doc-build/action.yml
  .github/actions/test-julia/action.yml
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

feat: add minimal OS package installation and adjust pytest command based on input
  .github/actions/test-local/action.yml
Labels: maintenance, CI/CD

fix: enforce bash shell for all steps in build and test actions
  .github/actions/build-matrix/action.yml
  .github/actions/test-julia/action.yml
Labels: maintenance, CI/CD

feat: add output matrix for MAPDL containers in build matrix action
  .github/actions/build-matrix/action.yml
Labels: maintenance, CI/CD

fix: remove unnecessary blank lines in action YAML files and set matrix IDs in CI workflow
  .github/actions/build-matrix/action.yml
  .github/actions/doc-build/action.yml
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

feat: remove if condition, add type_event input to build-matrix action and improve package installation command
  .github/actions/build-matrix/action.yml
  .github/actions/doc-build/action.yml
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']
