Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']

feat: add Fork PR Handler GitHub Action for migrating pull requests from forks
  .github/workflows/pr_migrator.yml
Labels: maintenance, CI/CD

fix: format mypy arguments in pre-commit configuration
  .pre-commit-config.yaml
Labels: none

chore: adding changelog file 3935.maintenance.md [dependabot-skip]
  doc/changelog.d/3935.maintenance.md
Labels: none

fix: add type ignore comment for Theme class definition
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/plotting/theme.py
Labels: none

chore: adding changelog file 3934.dependencies.md [dependabot-skip]
  doc/changelog.d/3934.dependencies.md
Labels: none

fix: add 'gui' marker for GUI test execution in pyproject.toml; update pytest arguments to enforce strict markers in workflows
  .github/workflows/test-local.yml
  .github/workflows/test-remote.yml
  pyproject.toml
Labels: maintenance, dependencies, CI/CD
