Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

fix: checking pids when there is no cleanup file.
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

fix: make sure we are properly comparing paths when MAPDL is also installed on a machine.
  tests/conftest.py
Labels: none

fix: small fixes in database tests
  tests/test_database.py
Labels: none

fix: skip testing on windows for the moment
  tests/test_database.py
Labels: none

fix: precommit
  tests/test_database.py
Labels: none

chore: adding changelog file 3601.dependencies.md [dependabot-skip]
  doc/changelog.d/3601.dependencies.md
Labels: none

chore: adding changelog file 3602.dependencies.md [dependabot-skip]
  doc/changelog.d/3602.dependencies.md
Labels: none

chore: adding changelog file 3604.dependencies.md [dependabot-skip]
  doc/changelog.d/3604.dependencies.md
Labels: none

chore: adding changelog file 3603.dependencies.md [dependabot-skip]
  doc/changelog.d/3603.dependencies.md
Labels: none

chore: active support for Python 3.13
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/examples.yml
  .github/workflows/ci.yml
  doc/source/getting_started/install_pymapdl.rst
  doc/source/user_guide/upf.rst
  pyproject.toml
  tox.ini
Labels: documentation, maintenance, dependencies, CI/CD

chore: adding changelog file 3605.added.md [dependabot-skip]
  doc/changelog.d/3605.added.md
Labels: none

fix: version in ``pyproject.toml``
  pyproject.toml
Labels: maintenance, dependencies

fix: xpl not loading full file
  .github/workflows/ci.yml
  tests/conftest.py
Labels: maintenance, CI/CD

refactor: moving xpl tests to a class
  tests/test_xpl.py
Labels: none

feat: avoiding getting a wrong routine
  src/ansys/mapdl/core/parameters.py
Labels: none

tests: adding tests
  tests/test_parameters.py
Labels: none

chore: adding changelog file 3606.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3606.miscellaneous.md
Labels: none

feat: adding apdl output
  src/ansys/mapdl/core/launcher.py
  tests/conftest.py
Labels: none

tests: removing redundant test
  tests/test_launcher.py
Labels: none

chore: merge fix/avoid-error-when-retriving-routine
  .pre-commit-config.yaml
  doc/changelog.d/3589.fixed.md
  doc/changelog.d/3590.miscellaneous.md
  doc/changelog.d/3593.dependencies.md
  doc/changelog.d/3599.maintenance.md
  doc/changelog.d/3606.miscellaneous.md
  doc/source/conf.py
  doc/source/getting_started/learning.rst
  doc/source/getting_started/project.rst
  pyproject.toml
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/parameters.py
  tests/test_parameters.py
Labels: documentation, maintenance, dependencies

chore: adding changelog file 3606.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3606.miscellaneous.md
Labels: none

tests: renaming test
  tests/test_launcher.py
Labels: none

revert: "Merge branches 'feat/piping-MAPDL-output-to-a-given-file', 'main' and 'main' of https://github.com/ansys/pymapdl"
  doc/changelog.d/3596.miscellaneous.md
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_launcher.py
Labels: none

revert: "Merge branches 'feat/piping-MAPDL-output-to-a-given-file', 'main' and 'main' of https://github.com/ansys/pymapdl" (#3607)
  doc/changelog.d/3596.miscellaneous.md
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_launcher.py
Labels: none

chore: adding changelog file 3596.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3596.miscellaneous.md
Labels: none

revert: "revert: "Merge branches 'feat/piping-MAPDL-output-to-a-given-file', 'main' and 'main' of https://github.com/ansys/pymapdl" (#3607)"
  doc/changelog.d/3596.miscellaneous.md
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_launcher.py
Labels: none

chore: adding changelog file 3577.dependencies.md [dependabot-skip]
  doc/changelog.d/3577.dependencies.md
Labels: none

refactor: reorg allowed arguments order
  src/ansys/mapdl/core/launcher.py
Labels: none

review: applying @RobPasMue's suggestions
  .github/workflows/ci.yml
  tox.ini
Labels: maintenance, CI/CD

fix: vtk version to 9.4.0
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  doc/source/examples/extended_examples/gui/requirements.txt
  doc/source/examples/extended_examples/hpc/requirements.txt
  pyproject.toml
Labels: documentation, maintenance, dependencies, CI/CD

fix: removing `file` call.
  tests/conftest.py
Labels: none

fix: avoid gRPC logging when solving.
  src/ansys/mapdl/core/mapdl_extended.py
Labels: none

fix: remove all calls to set_verb.
  src/ansys/mapdl/core/mapdl_extended.py
  tests/test_mapdl.py
Labels: none

feat: running verify at connect
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

fix: detecting comments as parameters sets when they have =.
  src/ansys/mapdl/core/mapdl_core.py
Labels: none

chore: adding changelog file 3608.fixed.md [dependabot-skip]
  doc/changelog.d/3608.fixed.md
Labels: none

chore: adding changelog file 3608.fixed.md [dependabot-skip]
  doc/changelog.d/3608.fixed.md
Labels: none

feat: making sure we are running /verify in no routine.
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

feat: running /verify if using 'mapdl._ctr('set_verb',0)'
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

tests: adding test for checking we are using /verify
  tests/test_mapdl.py
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']
