Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']

fix: linkchecker (#3850)
  .github/workflows/doc-build.yml
  .github/workflows/linkchecker.yml
  doc/changelog.d/3850.fixed.md
  doc/source/conf.py
Labels: documentation, maintenance, CI/CD

docs: improve formatting and readability in parameters user guide
  doc/source/user_guide/parameters.rst
Labels: documentation

docs: add example value for DEF_Y parameter in user guide
  doc/source/user_guide/parameters.rst
Labels: documentation

fix: annotate launch_mapdl and better docstring (#3855)
  doc/changelog.d/3855.fixed.md
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/misc.py
Labels: none

feat: add test_dpf input to control DPF tests execution
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

feat: update DPF handling in CI and tests to use environment variable for availability
  .github/workflows/ci.yml
  tests/common.py
  tests/test_dpf.py
Labels: maintenance, CI/CD

Apply suggestions from code review
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  doc/source/examples/extended_examples/gui/requirements.txt
  pyproject.toml
Labels: documentation, maintenance, dependencies, CI/CD

docs: enhance parameter retrieval examples in user guide (#3853)
  doc/changelog.d/3853.documentation.md
  doc/source/user_guide/parameters.rst
Labels: documentation

feat: update ansys-dpf-core version to 0.13.6 in requirements files
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
  pyproject.toml
Labels: maintenance, dependencies, CI/CD

chore: update Python version references in CI workflows to 3.13
  .github/workflows/ci.yml
  .github/workflows/test-local.yml
  .github/workflows/test-remote.yml
Labels: maintenance, CI/CD

feat: refactor DPF connection handling in tests to improve server startup logic
  tests/test_dpf.py
Labels: none

chore: adding changelog file 3852.dependencies.md [dependabot-skip]
  doc/changelog.d/3852.dependencies.md
Labels: none

feat: refactor test_upload function into model fixture for improved structure
  tests/test_dpf.py
Labels: none

chore: update test_dpf.py for improved structure and clarity
  tests/test_dpf.py
Labels: none

chore: update installation steps in test-local workflow to not build local package
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

Incorrect container build documentation
  docker/make_container.rst
Labels: CI/CD

fix: correct indentation for DPF_PORT assignment in test_dpf.py
  tests/test_dpf.py
Labels: none

fix: remove duplicated lines
  docker/Dockerfile
Labels: CI/CD

chore: adding changelog file 3858.fixed.md [dependabot-skip]
  doc/changelog.d/3858.fixed.md
Labels: none

feat: ``database`` submodule (#3748)
  .github/workflows/doc-build.yml
  doc/changelog.d/3748.documentation.md
  doc/source/mapdl_commands/database/components.rst
  doc/source/mapdl_commands/database/coord_sys.rst
  doc/source/mapdl_commands/database/coordinate_system.rst
  doc/source/mapdl_commands/database/index.rst
  doc/source/mapdl_commands/database/picking.rst
  doc/source/mapdl_commands/database/selecting.rst
  doc/source/mapdl_commands/database/set_up.rst
  doc/source/mapdl_commands/database/setup.rst
  doc/source/mapdl_commands/database/working_plane.rst
  src/ansys/mapdl/core/_commands/database/__init__.py
  src/ansys/mapdl/core/_commands/database/components.py
  src/ansys/mapdl/core/_commands/database/coord_sys.py
  src/ansys/mapdl/core/_commands/database/coordinate_system.py
  src/ansys/mapdl/core/_commands/database/picking.py
  src/ansys/mapdl/core/_commands/database/selecting.py
  src/ansys/mapdl/core/_commands/database/set_up.py
  src/ansys/mapdl/core/_commands/database/setup.py
  src/ansys/mapdl/core/_commands/database/working_plane.py
  src/ansys/mapdl/core/commands.py
Labels: documentation, maintenance, CI/CD

fix: remove duplicated lines (#3858)
  doc/changelog.d/3858.fixed.md
  docker/Dockerfile
Labels: CI/CD

ci: adding dpf testing to cicd (#3852)
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
  .github/workflows/ci.yml
  .github/workflows/test-local.yml
  doc/changelog.d/3852.dependencies.md
  pyproject.toml
  tests/common.py
  tests/test_dpf.py
Labels: maintenance, dependencies, CI/CD

docs: Incorrect container build documentation (#3856)
  docker/make_container.rst
Labels: CI/CD

fix: update Dockerfile and docker-compose for MAPDL 2025R1 compatibility
  docker/.dockerignore
  docker/Dockerfile
  docker/docker-compose.yml
Labels: CI/CD

chore: adding changelog file 3860.fixed.md [dependabot-skip]
  doc/changelog.d/3860.fixed.md
Labels: none

fix: update Dockerfile and docker-compose for MAPDL 2025R1 compatibility (#3860)
  doc/changelog.d/3860.fixed.md
  docker/.dockerignore
  docker/Dockerfile
  docker/docker-compose.yml
Labels: CI/CD

fix: remove assignees from dependabot configuration
  .github/dependabot.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3861.fixed.md [dependabot-skip]
  doc/changelog.d/3861.fixed.md
Labels: none

feat: add plugin error handling classes and improve plugin loading/unloading methods
  src/ansys/mapdl/core/errors.py
  src/ansys/mapdl/core/plugin.py
Labels: none

test: adding plugin tests
  tests/test_plugin.py
Labels: none

fix: remove assignees from dependabot configuration (#3861)
  .github/dependabot.yml
  doc/changelog.d/3861.fixed.md
Labels: maintenance, CI/CD

chore: adding changelog file 3863.maintenance.md [dependabot-skip]
  doc/changelog.d/3863.maintenance.md
Labels: none

chore: adding changelog file 3864.dependencies.md [dependabot-skip]
  doc/changelog.d/3864.dependencies.md
Labels: none

fix: add a blank line for better readability in README.md
  README.md
Labels: none

feat: add GitHub Actions workflow to recreate PRs in main repository
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3869.maintenance.md [dependabot-skip]
  doc/changelog.d/3869.maintenance.md
Labels: none

fix: update workflow name for clarity
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: update comment trigger for PR migration workflow
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

fix: use consistent output for migrated PR branch and title
  .github/workflows/migrator.yml
Labels: maintenance, CI/CD

feat: add GitHub Actions workflow to recreate PRs in main repository (#3869)
  .github/workflows/migrator.yml
  doc/changelog.d/3869.maintenance.md
Labels: maintenance, CI/CD
