Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']

chore: adding changelog file 3748.documentation.md [dependabot-skip]
  doc/changelog.d/3748.documentation.md
Labels: none

Delete doc/changelog.d/3723.documentation.md
  doc/changelog.d/3723.documentation.md
Labels: none

revert: "feat: add disk space checking steps to local testing workflow"
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

fix: correct command line interface section header formatting
  examples/02-tips-n-tricks/06-convert-apdl-to-pymapdl.py
Labels: documentation, examples

fix: warning will not raise an error in doc build
  .github/workflows/doc-build.yml
Labels: maintenance, CI/CD

Update examples/02-tips-n-tricks/06-convert-apdl-to-pymapdl.py
  examples/02-tips-n-tricks/06-convert-apdl-to-pymapdl.py
Labels: documentation, examples

Apply suggestions from code review
  examples/02-tips-n-tricks/06-convert-apdl-to-pymapdl.py
Labels: documentation, examples

fixed one stray function/method confusion
  examples/02-tips-n-tricks/06-convert-apdl-to-pymapdl.py
Labels: documentation, examples

revert: same state as in 9296ba368d727a64142d753579569d47743e95f7
  doc/source/mapdl_commands/database/components.rst
  doc/source/mapdl_commands/database/coord_sys.rst
  doc/source/mapdl_commands/database/coordinate_system.rst
  doc/source/mapdl_commands/database/index.rst
  doc/source/mapdl_commands/database/picking.rst
  doc/source/mapdl_commands/database/selecting.rst
  doc/source/mapdl_commands/database/set_up.rst
  doc/source/mapdl_commands/database/setup.rst
  doc/source/mapdl_commands/database/working_plane.rst
  src/ansys/mapdl/core/_commands/database/__init__.py
  src/ansys/mapdl/core/_commands/database/components.py
  src/ansys/mapdl/core/_commands/database/coord_sys.py
  src/ansys/mapdl/core/_commands/database/coordinate_system.py
  src/ansys/mapdl/core/_commands/database/picking.py
  src/ansys/mapdl/core/_commands/database/selecting.py
  src/ansys/mapdl/core/_commands/database/set_up.py
  src/ansys/mapdl/core/_commands/database/setup.py
  src/ansys/mapdl/core/_commands/database/working_plane.py
Labels: documentation

chore: adding changelog file 3848.dependencies.md [dependabot-skip]
  doc/changelog.d/3848.dependencies.md
Labels: none

feat: adding latest enhancements
  doc/source/mapdl_commands/graphics/index.rst
  src/ansys/mapdl/core/_commands/graphics/annotation.py
  src/ansys/mapdl/core/_commands/graphics/graphs.py
  src/ansys/mapdl/core/_commands/graphics/labeling.py
  src/ansys/mapdl/core/_commands/graphics/scaling.py
  src/ansys/mapdl/core/_commands/graphics/set_up.py
  src/ansys/mapdl/core/_commands/graphics/style.py
  src/ansys/mapdl/core/_commands/graphics/views.py
Labels: documentation

fix: modifying ``int``, ``max``, ``min`` and ``abs`` argument names
  src/ansys/mapdl/core/_commands/graphics/labeling.py
  src/ansys/mapdl/core/_commands/graphics/set_up.py
  src/ansys/mapdl/core/_commands/graphics/style.py
Labels: none

fix: title format
  examples/02-tips-n-tricks/06-convert-apdl-to-pymapdl.py
Labels: documentation, examples

fix: uninstall ansys-sphinx-theme before installing documentation requirements
  .github/workflows/linkchecker.yml
Labels: maintenance, CI/CD

feat: enhance linkchecker workflow by utilizing doc-build.yml for improved configuration
  .github/workflows/doc-build.yml
  .github/workflows/linkchecker.yml
Labels: maintenance, CI/CD

feat: add notification step for failed scheduled linkcheck builds
  .github/workflows/linkchecker.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3850.fixed.md [dependabot-skip]
  doc/changelog.d/3850.fixed.md
Labels: none

docs: create self-contained apdl/pymapdl conversion example (#3840)
  doc/changelog.d/3840.documentation.md
  examples/02-tips-n-tricks/06-convert-apdl-to-pymapdl.py
Labels: documentation, examples

fix: add URL to linkcheck ignore list due to request limit error
  doc/source/conf.py
Labels: documentation

fix: add check for artifacts directory before processing files
  .github/actions/pytest-summary/action.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3851.fixed.md [dependabot-skip]
  doc/changelog.d/3851.fixed.md
Labels: none

fix: simplify condition checks for building cheatsheet and PDF documentation
  .github/workflows/doc-build.yml
Labels: maintenance, CI/CD

fix: add MDPI URL to linkcheck ignore list due to forbidden error
  doc/source/conf.py
Labels: documentation

fix: update environment variable names and conditions for caching in documentation build workflow
  .github/workflows/doc-build.yml
Labels: maintenance, CI/CD

fix: Allow jupyter_backend manual selection (#3838)
  doc/changelog.d/3838.fixed.md
  pyproject.toml
  src/ansys/mapdl/core/plotting/visualizer.py
Labels: maintenance, dependencies

fix: add check for artifacts directory before processing files (#3851)
  .github/actions/pytest-summary/action.yml
  doc/changelog.d/3851.fixed.md
Labels: maintenance, CI/CD

fix: add cache usage options for examples, doc build, and autosummary in workflow
  .github/workflows/doc-build.yml
Labels: maintenance, CI/CD

fix: remove leading space in MDPI URL in linkcheck ignore list
  doc/source/conf.py
Labels: documentation

fix: not use cache in examples, doc build, and autosummary in linkcheck workflow
  .github/workflows/linkchecker.yml
Labels: maintenance, CI/CD

fix: checking if I can run dpf on local
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3852.maintenance.md [dependabot-skip]
  doc/changelog.d/3852.maintenance.md
Labels: none

docs: enhance parameter retrieval examples in user guide
  doc/source/user_guide/parameters.rst
Labels: documentation

chore: adding changelog file 3853.documentation.md [dependabot-skip]
  doc/changelog.d/3853.documentation.md
Labels: none

fix: specify type for click options in convert.py
  src/ansys/mapdl/core/cli/convert.py
Labels: none

chore: adding changelog file 3854.fixed.md [dependabot-skip]
  doc/changelog.d/3854.fixed.md
Labels: none

fix: skip DPF tests on local machine and clean up version check
  tests/test_dpf.py
Labels: none

fix: update launch_mapdl parameters for improved clarity and optional types
  src/ansys/mapdl/core/launcher.py
Labels: none

fix: prepend 'ansys_' to temporary directory names for better identification
  src/ansys/mapdl/core/misc.py
Labels: none

chore: adding changelog file 3855.fixed.md [dependabot-skip]
  doc/changelog.d/3855.fixed.md
Labels: none

fix: specify type for click options in convert.py (#3854)
  doc/changelog.d/3854.fixed.md
  src/ansys/mapdl/core/cli/convert.py
Labels: none
