Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: Documentation, Maintenance, Dependencies, CI/CD

Updating index
  doc/source/examples/index.rst
Labels: Documentation

Not plotting if return_plotter is equal true.
  src/ansys/mapdl/core/plotting.py
Labels: none

Improved tables and adding eplot with BC
  doc/source/examples/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
Labels: Documentation

Adding mapdl to eplot so I can pass BC keywords to it.
  src/ansys/mapdl/core/_commands/preproc/elements.py
Labels: none

Fixing negations
  .github/workflows/label.yml
Labels: Maintenance, CI/CD

Not plotting if return_plotter is equal true. (#1060)
  src/ansys/mapdl/core/plotting.py
Labels: none

.github/labeler.yml:

Documentation:
- doc/source/**/*
- examples/**/*
Maintenance:
- .github/**/*
- codecov.yml
- .flake8
- .coveragerc
- ignore_words.txt
- pyproject.toml
Dependencies:
- requirements*
- pyproject.toml
- requirements/*
CI/CD:
- docker/**/*
- .github/**/*
- .ci/**/*
