Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

Update CONTRIBUTORS.md with the latest contributors
  CONTRIBUTORS.md
Labels: none

chore: adding changelog file 3836.documentation.md [dependabot-skip]
  doc/changelog.d/3836.documentation.md
Labels: none

feat: update CI workflow to download library artifacts and release to PyPI using trusted publisher
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: Allow jupyter_backend manual selection
  src/ansys/mapdl/core/plotting/visualizer.py
Labels: none

chore: adding changelog file 3837.maintenance.md [dependabot-skip]
  doc/changelog.d/3837.maintenance.md
Labels: none

chore: adding changelog file 3838.fixed.md [dependabot-skip]
  doc/changelog.d/3838.fixed.md
Labels: none

fix: Temp install visualizer from branch
  pyproject.toml
Labels: maintenance, dependencies

fix: Branch dep
  pyproject.toml
Labels: maintenance, dependencies

feat: update CI workflow to release to PyPI using trusted publisher (#3837)
  .github/workflows/ci.yml
  doc/changelog.d/3837.maintenance.md
Labels: maintenance, CI/CD

docs: Update ``CONTRIBUTORS.md`` with the latest contributors (#3836)
  CONTRIBUTORS.md
  doc/changelog.d/3836.documentation.md
Labels: none

ci: update runner version to ubuntu-latest in CI workflows
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: enhance pexpect spawning with use_poll and improve error handling
  src/ansys/mapdl/core/mapdl_console.py
Labels: none

ci: update default runner version to ubuntu-latest in test workflow
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

Update .github/workflows/ci.yml
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: prevent injection of additional switches from environment variable if provided in function argument
  src/ansys/mapdl/core/launcher.py
Labels: none

feat: add additional switches option for MapdlConsole initialization. Also catch excepcions.
  src/ansys/mapdl/core/mapdl_console.py
  tests/conftest.py
Labels: none

fix: Add decorator for deprecated param
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/misc.py
  tests/test_plotting.py
Labels: none

Created self-contained apdl/pymapdl conversion ex
  examples/02-tips-n-tricks/06-convert-apdl-to-pymapdl.py
Labels: documentation, examples

chore: adding changelog file 3840.documentation.md [dependabot-skip]
  doc/changelog.d/3840.documentation.md
Labels: none

chore: adding changelog file 3840.documentation.md [dependabot-skip]
  doc/changelog.d/3840.documentation.md
Labels: none

chore: adding changelog file 3820.fixed.md [dependabot-skip]
  doc/changelog.d/3820.fixed.md
Labels: none

removed trailing whitespace
  examples/02-tips-n-tricks/06-convert-apdl-to-pymapdl.py
Labels: documentation, examples

test: update assertion to ignore environment variable when argument is provided
  tests/test_launcher.py
Labels: none

fix: Force keyword-only arguments for non-MAPDL arguments in extended MAPDL commands
  src/ansys/mapdl/core/mapdl_extended.py
Labels: none

Update examples/02-tips-n-tricks/06-convert-apdl-to-pymapdl.py
  examples/02-tips-n-tricks/06-convert-apdl-to-pymapdl.py
Labels: documentation, examples

Update examples/02-tips-n-tricks/06-convert-apdl-to-pymapdl.py
  examples/02-tips-n-tricks/06-convert-apdl-to-pymapdl.py
Labels: documentation, examples

Update examples/02-tips-n-tricks/06-convert-apdl-to-pymapdl.py
  examples/02-tips-n-tricks/06-convert-apdl-to-pymapdl.py
Labels: documentation, examples

added section about CLI
  examples/02-tips-n-tricks/06-convert-apdl-to-pymapdl.py
Labels: documentation, examples

fix: typo
  src/ansys/mapdl/core/mapdl_console.py
Labels: none

chore: adding changelog file 3842.maintenance.md [dependabot-skip]
  doc/changelog.d/3842.maintenance.md
Labels: none

chore: adding changelog file 3843.maintenance.md [dependabot-skip]
  doc/changelog.d/3843.maintenance.md
Labels: none

Apply suggestions from code review
  src/ansys/mapdl/core/misc.py
Labels: none

feat: add disk space checking steps to local testing workflow
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

fix: adding console testing (#3791)
  .github/workflows/ci.yml
  doc/changelog.d/3791.fixed.md
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_console.py
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_console.py
  tests/test_launcher.py
Labels: maintenance, CI/CD

fix: Use viz ver 0.9.0
  pyproject.toml
Labels: maintenance, dependencies

feat: Add optional graphical target and rework graphics backend selection (#3820)
  doc/changelog.d/3820.fixed.md
  doc/source/api/mapdl.rst
  doc/source/user_guide/plotting.rst
  examples/00-mapdl-examples/2d_magnetostatic_solenoid-BodyFlux_Averaging.py
  examples/00-mapdl-examples/2d_plate_with_a_hole.py
  examples/00-mapdl-examples/3d_notch.py
  examples/00-mapdl-examples/bracket_static.py
  examples/00-mapdl-examples/lathe_cutter.py
  examples/00-mapdl-examples/mapdl_beam.py
  examples/02-tips-n-tricks/01-smoothing-element-size-transitions.py
  pyproject.toml
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/_commands/graphics_/style.py
  src/ansys/mapdl/core/_commands/post1_/controls.py
  src/ansys/mapdl/core/cli/convert.py
  src/ansys/mapdl/core/convert.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_console.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/mapdl_inprocess.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/plotting/__init__.py
  src/ansys/mapdl/core/post.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_console.py
  tests/test_convert.py
  tests/test_mapdl.py
  tests/test_plotting.py
  tests/test_post.py
Labels: documentation, examples, maintenance, dependencies

feat: adding latest enhancements
  doc/source/mapdl_commands/database/components.rst
  doc/source/mapdl_commands/database/coord_sys.rst
  doc/source/mapdl_commands/database/coordinate_system.rst
  doc/source/mapdl_commands/database/index.rst
  doc/source/mapdl_commands/database/picking.rst
  doc/source/mapdl_commands/database/selecting.rst
  doc/source/mapdl_commands/database/set_up.rst
  doc/source/mapdl_commands/database/setup.rst
  doc/source/mapdl_commands/database/working_plane.rst
  src/ansys/mapdl/core/_commands/database/__init__.py
  src/ansys/mapdl/core/_commands/database/components.py
  src/ansys/mapdl/core/_commands/database/coord_sys.py
  src/ansys/mapdl/core/_commands/database/coordinate_system.py
  src/ansys/mapdl/core/_commands/database/picking.py
  src/ansys/mapdl/core/_commands/database/selecting.py
  src/ansys/mapdl/core/_commands/database/set_up.py
  src/ansys/mapdl/core/_commands/database/setup.py
  src/ansys/mapdl/core/_commands/database/working_plane.py
Labels: documentation

feat: revert last commit
  doc/source/mapdl_commands/database/components.rst
  doc/source/mapdl_commands/database/coord_sys.rst
  doc/source/mapdl_commands/database/coordinate_system.rst
  doc/source/mapdl_commands/database/index.rst
  doc/source/mapdl_commands/database/picking.rst
  doc/source/mapdl_commands/database/selecting.rst
  doc/source/mapdl_commands/database/set_up.rst
  doc/source/mapdl_commands/database/setup.rst
  doc/source/mapdl_commands/database/working_plane.rst
  src/ansys/mapdl/core/_commands/database/__init__.py
  src/ansys/mapdl/core/_commands/database/components.py
  src/ansys/mapdl/core/_commands/database/coord_sys.py
  src/ansys/mapdl/core/_commands/database/coordinate_system.py
  src/ansys/mapdl/core/_commands/database/picking.py
  src/ansys/mapdl/core/_commands/database/selecting.py
  src/ansys/mapdl/core/_commands/database/set_up.py
  src/ansys/mapdl/core/_commands/database/setup.py
  src/ansys/mapdl/core/_commands/database/working_plane.py
Labels: documentation

chore: adding changelog file 3748.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3748.miscellaneous.md
Labels: none

feat: latest enhancement
  doc/source/images/database/components.rst
  doc/source/images/database/coordinate_system.rst
  doc/source/images/database/index.rst
  doc/source/images/database/picking.rst
  doc/source/images/database/selecting.rst
  doc/source/images/database/set_up.rst
  doc/source/images/database/working_plane.rst
  src/ansys/mapdl/core/_commands/database/components.py
  src/ansys/mapdl/core/_commands/database/picking.py
  src/ansys/mapdl/core/_commands/database/selecting.py
  src/ansys/mapdl/core/_commands/database/set_up.py
  src/ansys/mapdl/core/_commands/database/working_plane.py
Labels: documentation

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']
