Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

tests: making sure the /verify is executed properly after finish
  tests/conftest.py
  tests/test_mapdl.py
Labels: none

fix: avoid verbose grpc interface when solving (#3608)
  doc/changelog.d/3608.fixed.md
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_mapdl.py
Labels: none

chore: adding changelog file 3604.dependencies.md [dependabot-skip]
  doc/changelog.d/3604.dependencies.md
Labels: none

chore: adding changelog file 3603.dependencies.md [dependabot-skip]
  doc/changelog.d/3603.dependencies.md
Labels: none

chore: adding changelog file 3602.dependencies.md [dependabot-skip]
  doc/changelog.d/3602.dependencies.md
Labels: none

chore: adding changelog file 3601.dependencies.md [dependabot-skip]
  doc/changelog.d/3601.dependencies.md
Labels: none

fix: apply suggestions from code review
  tests/conftest.py
Labels: none

chore: adding changelog file 3602.dependencies.md [dependabot-skip]
  doc/changelog.d/3602.dependencies.md
Labels: none

chore: adding changelog file 3612.dependencies.md [dependabot-skip]
  doc/changelog.d/3612.dependencies.md
Labels: none

refactor: removing duplicity
  src/ansys/mapdl/core/plotting/visualizer.py
Labels: none

build: update vtk
  pyproject.toml
Labels: maintenance, dependencies

fix: passing unnecessary off_screen
  tests/test_plotting.py
Labels: none

chore: adding changelog file 3615.dependencies.md [dependabot-skip]
  doc/changelog.d/3615.dependencies.md
Labels: none

build: update ansys-tools-visualization-interface to 0.6.1
  pyproject.toml
Labels: maintenance, dependencies

build: update ansys-tools-visualization-interface==0.6.2.
  pyproject.toml
Labels: maintenance, dependencies

fix: coma issues in commands
  src/ansys/mapdl/core/_commands/apdl/array_parameters.py
  src/ansys/mapdl/core/_commands/apdl/macro_files.py
  src/ansys/mapdl/core/_commands/apdl/matrix_operations.py
  src/ansys/mapdl/core/_commands/apdl/parameter_definition.py
Labels: none

maint: update ``"ansys-tools-visualization-interface``
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
  doc/source/examples/extended_examples/gui/requirements.txt
  pyproject.toml
Labels: documentation, maintenance, dependencies, CI/CD

maint: adding ``linuxdoc`` dependency for flat tables
  doc/source/conf.py
  pyproject.toml
Labels: documentation, maintenance, dependencies

fix: ending routine and going into verify mode when exiting. Also change function name
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

docs: better comment
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

chore: adding changelog file 3617.fixed.md [dependabot-skip]
  doc/changelog.d/3617.fixed.md
Labels: none

refactor: not issuing verify anymore
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

docs: removing ``ref.ref`` warning temporarily
  doc/source/conf.py
Labels: documentation

fix: removing ``xpl`` and ``directory`` methods
  doc/source/mapdl_commands/apdl/array_parameters.rst
  doc/source/mapdl_commands/apdl/matrix_operations.rst
  src/ansys/mapdl/core/_commands/apdl/array_parameters.py
  src/ansys/mapdl/core/_commands/apdl/matrix_operations.py
Labels: documentation

refactor: _exit_mapdl_server branching
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

refactor: finishing routine for v24.1 or older
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

feat: adding links from ``pyconverter-xml2py``
  src/ansys/mapdl/core/_commands/apdl/macro_files.py
  src/ansys/mapdl/core/_commands/apdl/matrix_operations.py
Labels: none

fix: tests
  tests/test_launcher.py
Labels: none

fix: exit getting frozen if routine is not finished (#3617)
  doc/changelog.d/3617.fixed.md
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

fix: running test only on local
  tests/test_launcher.py
Labels: none

chore: adding changelog file 3619.maintenance.md [dependabot-skip]
  doc/changelog.d/3619.maintenance.md
Labels: none

chore: adding changelog file 3620.dependencies.md [dependabot-skip]
  doc/changelog.d/3620.dependencies.md
Labels: none

test: adding more tests
  tests/test_launcher.py
Labels: none

feat: redirect MAPDL console output to a file (#3596)
  doc/changelog.d/3596.miscellaneous.md
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_launcher.py
Labels: none

feat: avoid errors when retrieving invalid routine (#3606)
  doc/changelog.d/3606.miscellaneous.md
  src/ansys/mapdl/core/parameters.py
  tests/test_parameters.py
Labels: none

ci: adding ci/cd for console
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: avoiding long names in test arguments (#3583)
  doc/changelog.d/3583.fixed.md
  src/ansys/mapdl/core/mapdl_core.py
  tests/test_mapdl.py
  tests/test_parameters.py
Labels: none

fix: checking dataset attribute too
  src/ansys/mapdl/core/plotting/visualizer.py
Labels: none

ci: changing coverage files
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: script path name
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']
