Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

feat: skipping test database on 25.2 and on CICD.
  .github/workflows/ci.yml
  tests/test_database.py
Labels: maintenance, CI/CD

tests: skipping dpf on 252
  tests/test_database.py
  tests/test_dpf.py
Labels: none

First tentative for plugin mapdl mechanism
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/plugin.py
Labels: none

feat: adding students
  .ci/build_matrix.sh
Labels: CI/CD

chore: adding changelog file 3627.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3627.miscellaneous.md
Labels: none

feat: skipping all the db tests
  tests/test_database.py
Labels: none

ci: removing v25.2 since it is in latest
  .ci/build_matrix.sh
Labels: CI/CD

ci: increasing timeout
  .github/workflows/ci.yml
  pyproject.toml
Labels: maintenance, dependencies, CI/CD

chore: adding changelog file 3626.dependencies.md [dependabot-skip]
  doc/changelog.d/3626.dependencies.md
Labels: none

ci: adding ubuntu 251 and 252 (#3626)
  .ci/build_matrix.sh
  .github/workflows/ci.yml
  doc/changelog.d/3626.dependencies.md
  pyproject.toml
  tests/test_database.py
  tests/test_dpf.py
Labels: maintenance, dependencies, CI/CD

chore: adding changelog file 3628.maintenance.md [dependabot-skip]
  doc/changelog.d/3628.maintenance.md
Labels: none

chore: adding changelog file 3629.dependencies.md [dependabot-skip]
  doc/changelog.d/3629.dependencies.md
Labels: none

chore: adding changelog file 3630.dependencies.md [dependabot-skip]
  doc/changelog.d/3630.dependencies.md
Labels: none

Iterate over the dictionay directly instead of using .keys().
  src/ansys/mapdl/core/commands.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/pool.py
Labels: none

chore: adding changelog file 3631.added.md [dependabot-skip]
  doc/changelog.d/3631.added.md
Labels: none

chore: adding changelog file 3631.added.md [dependabot-skip]
  doc/changelog.d/3631.added.md
Labels: none

chore: adding changelog file 3632.maintenance.md [dependabot-skip]
  doc/changelog.d/3632.maintenance.md
Labels: none

chore: adding changelog file 3633.dependencies.md [dependabot-skip]
  doc/changelog.d/3633.dependencies.md
Labels: none

feat: changes to source code
  src/ansys/mapdl/core/commands.py
  src/ansys/mapdl/core/mapdl_core.py
Labels: none

chore: adding changelog file 3636.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3636.miscellaneous.md
Labels: none

chore: adding changelog file 3636.documentation.md [dependabot-skip]
  doc/changelog.d/3636.documentation.md
  doc/changelog.d/3636.miscellaneous.md
Labels: none

chore: adding changelog file 3630.documentation.md [dependabot-skip]
  doc/changelog.d/3630.documentation.md
Labels: none

chore: update src/ansys/mapdl/core/pool.py
  src/ansys/mapdl/core/pool.py
Labels: none

chore: adding changelog file 3637.documentation.md [dependabot-skip]
  doc/changelog.d/3637.documentation.md
Labels: none

chore: adding changelog file 3636.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3636.miscellaneous.md
Labels: none

Apply suggestions from code review
  src/ansys/mapdl/core/post.py
  tests/test_xpl.py
Labels: none

fix: unused import
  tests/common.py
Labels: none

chore: adding changelog file 3630.dependencies.md [dependabot-skip]
  doc/changelog.d/3630.dependencies.md
Labels: none

refactor: Iterate over the dictionary directly instead of using .keys(). (#3631)
  doc/changelog.d/3631.added.md
  src/ansys/mapdl/core/commands.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/pool.py
Labels: none

refactor: small improvements to test settings (#3577)
  .github/workflows/ci.yml
  doc/changelog.d/3577.added.md
  src/ansys/mapdl/core/database/database.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/parameters.py
  src/ansys/mapdl/core/post.py
  tests/common.py
  tests/conftest.py
  tests/test_database.py
  tests/test_mapdl.py
  tests/test_post.py
  tests/test_xpl.py
Labels: maintenance, CI/CD

fix: safety issue
  src/ansys/mapdl/core/launcher.py
Labels: none

chore: adding changelog file 3638.maintenance.md [dependabot-skip]
  doc/changelog.d/3638.maintenance.md
Labels: none

ci: fix safety issue (#3638)
  doc/changelog.d/3638.maintenance.md
  src/ansys/mapdl/core/launcher.py
Labels: none

build: releasing 0.69.0
  pyproject.toml
Labels: maintenance, dependencies

build: bump to 0.70.dev
  pyproject.toml
Labels: maintenance, dependencies

chore: adding changelog file 3639.added.md [dependabot-skip]
  doc/changelog.d/3639.added.md
Labels: none

feat: added unit tests
  tests/conftest.py
  tests/test_mesh_grpc.py
Labels: none

fix: changelog
  doc/changelog.d/3247.fixed.md
Labels: none

chore: adding changelog file 3640.fixed.md [dependabot-skip]
  doc/changelog.d/3640.fixed.md
Labels: none

fix: changelog (#3640)
  doc/changelog.d/3247.fixed.md
  doc/changelog.d/3640.fixed.md
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']
