Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']

fix: enhance disk usage reporting and cleanup for CodeQL directory in local testing workflow
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

fix: streamline disk usage reporting and cleanup for CodeQL directory in local testing workflow
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

fix: update ansys-sphinx-theme version to 1.4.4 in requirements files
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
  .github/workflows/doc-build.yml
  pyproject.toml
Labels: maintenance, dependencies, CI/CD

chore: adding changelog file 3904.fixed.md [dependabot-skip]
  doc/changelog.d/3904.fixed.md
Labels: none

chore: Update .ci/collect_mapdl_logs_remote.sh
  .ci/collect_mapdl_logs_remote.sh
Labels: CI/CD

chore: adding changelog file 3900.fixed.md [dependabot-skip]
  doc/changelog.d/3900.fixed.md
Labels: none

fix: add pre-test and post-test disk space reporting and cleanup for CodeQL directory
  .github/workflows/test-remote.yml
Labels: maintenance, CI/CD

fix: update ansys-mapdl-reader version to 0.55.0 and ansys-tools-visualization-interface to 0.9.1 in requirements files
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
  doc/source/examples/extended_examples/gui/requirements.txt
  doc/source/examples/extended_examples/hpc/requirements.txt
Labels: documentation, maintenance, CI/CD

fix: update ansys-tools-visualization-interface version to 0.9.1 in requirements files
  .devcontainer/codespaces-dev/requirements.txt
  doc/source/examples/extended_examples/gui/requirements.txt
Labels: documentation, maintenance, CI/CD

feat: add artifact upload steps for JSONL logs in local and remote test workflows
  .github/actions/pytest-summary/action.yml
  .github/workflows/test-local.yml
  .github/workflows/test-remote.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3905.maintenance.md [dependabot-skip]
  doc/changelog.d/3905.maintenance.md
Labels: none

fix: update ansys-sphinx-theme version to 1.4.4 in requirements files (#3904)
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
  .github/workflows/doc-build.yml
  doc/changelog.d/3904.fixed.md
  doc/source/examples/extended_examples/gui/requirements.txt
  doc/source/examples/extended_examples/hpc/requirements.txt
  pyproject.toml
Labels: documentation, maintenance, dependencies, CI/CD

fix: reducing space consumption in github runners (#3900)
  .ci/collect_mapdl_logs_locals.sh
  .ci/collect_mapdl_logs_remote.sh
  .github/workflows/test-local.yml
  .github/workflows/test-remote.yml
  doc/changelog.d/3900.fixed.md
Labels: maintenance, CI/CD

chore: remove xfail markers from most flaky tests (#3899)
  doc/changelog.d/3899.added.md
  tests/test_importing_geometries.py
  tests/test_mapdl.py
  tests/test_pool.py
  tests/test_post.py
  tests/test_xpl.py
Labels: none

refactor: add type hints to functions and improve readability in pytest_summary.py
  .ci/pytest_summary.py
Labels: CI/CD

fix: update artifact upload steps to use 'reports-*.jsonl' for pytest reports
  .github/actions/pytest-summary/action.yml
  .github/workflows/test-local.yml
  .github/workflows/test-remote.yml
Labels: maintenance, CI/CD

chore: update version to 0.70.dev0 in pyproject.toml
  pyproject.toml
Labels: maintenance, dependencies

chore: adding changelog file 3906.added.md [dependabot-skip]
  doc/changelog.d/3906.added.md
Labels: none

chore: adding changelog file 3907.added.md [dependabot-skip]
  doc/changelog.d/3907.added.md
Labels: none

fix: update artifact download pattern to match 'reports-*' for consistency
  .github/actions/pytest-summary/action.yml
Labels: maintenance, CI/CD

fix: update changelog title format to include 'v' prefix for version
  pyproject.toml
Labels: maintenance, dependencies

chore: adding changelog file 3908.fixed.md [dependabot-skip]
  doc/changelog.d/3908.fixed.md
Labels: none

chore: adding changelog file 3909.maintenance.md [dependabot-skip]
  doc/changelog.d/3909.maintenance.md
Labels: none

chore: adding changelog file 3910.dependencies.md [dependabot-skip]
  doc/changelog.d/3910.dependencies.md
Labels: none

chore: adding changelog file 3911.dependencies.md [dependabot-skip]
  doc/changelog.d/3911.dependencies.md
Labels: none

fix: update changelog title format to include 'v' prefix for version (#3908)
  doc/changelog.d/3908.fixed.md
  pyproject.toml
Labels: maintenance, dependencies

release: update project version to 0.70.0 in pyproject.toml
  pyproject.toml
Labels: maintenance, dependencies

chore: adding changelog file 3912.added.md [dependabot-skip]
  doc/changelog.d/3912.added.md
Labels: none

chore: adding changelog file 3913.added.md [dependabot-skip]
  doc/changelog.d/3913.added.md
Labels: none

fix: correct typos in test summary output and enhance clarity
  .github/actions/pytest-summary/action.yml
Labels: maintenance, CI/CD

chore: update version to 0.70.dev0 in pyproject.toml (#3907)
  doc/changelog.d/3907.added.md
  pyproject.toml
Labels: maintenance, dependencies

feat: add artifact upload steps for JSONL logs in local and remote test workflows (#3905)
  .ci/pytest_summary.py
  .github/actions/pytest-summary/action.yml
  .github/workflows/test-local.yml
  .github/workflows/test-remote.yml
  doc/changelog.d/3905.maintenance.md
Labels: maintenance, CI/CD

style: update custom.css to remove background styles and add navbar element styles
  doc/source/_static/custom.css
Labels: documentation

Fix mapdl inprocess backend
  src/ansys/mapdl/core/mapdl_inprocess.py
Labels: none

chore: adding changelog file 3915.fixed.md [dependabot-skip]
  doc/changelog.d/3915.fixed.md
Labels: none

chore: adding changelog file 3915.fixed.md [dependabot-skip]
  doc/changelog.d/3915.fixed.md
Labels: none

remove unused import
  src/ansys/mapdl/core/mapdl_inprocess.py
Labels: none

fix: Change the mapdl_inprocess graphics backend (#3915)
  doc/changelog.d/3915.fixed.md
  src/ansys/mapdl/core/mapdl_inprocess.py
Labels: none

style: update conf.py to modify sidebar and navbar configurations
  doc/source/conf.py
  doc/source/index.rst
Labels: documentation

style: refactor custom.css to improve navbar shadow handling and content centering
  doc/source/_static/custom.css
Labels: documentation
