Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

chore: adding changelog file 3710.maintenance.md [dependabot-skip]
  doc/changelog.d/3710.maintenance.md
Labels: none

fix: implemented changes
  doc/source/examples/extended_examples/sfem/sfem.py
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
  doc/source/examples/extended_examples/sfem/variance.png
Labels: documentation

chore: adding changelog file 3711.fixed.md [dependabot-skip]
  doc/changelog.d/3711.fixed.md
Labels: none

feat: adding support to launch MAPDL on remote HPC clusters
  pyproject.toml
  src/ansys/mapdl/core/hpc.py
  src/ansys/mapdl/core/launcher.py
  tests/test_hpc.py
Labels: maintenance, dependencies

fix: sfem example typo errors (#3711)
  doc/changelog.d/3711.fixed.md
  doc/source/examples/extended_examples/sfem/sfem.py
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
  doc/source/examples/extended_examples/sfem/variance.png
Labels: documentation

chore: adding changelog file 3713.dependencies.md [dependabot-skip]
  doc/changelog.d/3713.dependencies.md
Labels: none

feat: running on windows client + ott
  src/ansys/mapdl/core/hpc.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

fix: pre-commit warnings
  doc/source/examples/extended_examples/ex_01-gmsh_example/modal_analysis.py
  examples/00-mapdl-examples/pressure_vessel.py
  examples/00-mapdl-examples/pyvista_mesh.py
  src/ansys/mapdl/core/post.py
  tests/test_dpf.py
Labels: documentation, examples

chore: adding changelog file 3710.documentation.md [dependabot-skip]
  doc/changelog.d/3710.documentation.md
Labels: none

maint: update codespell
  .pre-commit-config.yaml
Labels: none

test: disabling muting during clearing
  tests/conftest.py
Labels: none

chore: adding changelog file 3716.maintenance.md [dependabot-skip]
  doc/changelog.d/3716.maintenance.md
Labels: none

ci: using live logging on ci
  pyproject.toml
Labels: maintenance, dependencies

feat: comment the atexit call.
  src/ansys/mapdl/core/mapdl_core.py
Labels: none

chore: adding changelog file 3716.dependencies.md [dependabot-skip]
  doc/changelog.d/3716.dependencies.md
Labels: none

feat: allowing numpy types for setting parameters
  src/ansys/mapdl/core/parameters.py
  tests/test_parameters.py
Labels: none

docs: adding comment
  tests/test_parameters.py
Labels: none

chore: adding changelog file 3719.fixed.md [dependabot-skip]
  doc/changelog.d/3719.fixed.md
Labels: none

feat: allowing numpy types for setting parameters
  src/ansys/mapdl/core/parameters.py
  tests/test_parameters.py
Labels: none

docs: adding comment
  tests/test_parameters.py
Labels: none

chore: adding changelog file 3720.fixed.md [dependabot-skip]
  doc/changelog.d/3720.fixed.md
Labels: none

fix: parameters length to 32+
  tests/test_mapdl.py
Labels: none

junk: for comparison
  src/ansys/mapdl/core/_commands/aux2_/__init__.py
  src/ansys/mapdl/core/_commands/aux2_/bin_dump.py
  src/ansys/mapdl/core/_commands/aux2_/bin_manip.py
Labels: none

feat: update to 32 chars variable
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/parameters.py
  tests/test_mapdl.py
Labels: none

chore: adding changelog file 3721.dependencies.md [dependabot-skip]
  doc/changelog.d/3721.dependencies.md
Labels: none

chore: adding changelog file 3723.maintenance.md [dependabot-skip]
  doc/changelog.d/3723.maintenance.md
Labels: none

chore: adding changelog file 3727.dependencies.md [dependabot-skip]
  doc/changelog.d/3727.dependencies.md
Labels: none

build: update black
  .pre-commit-config.yaml
Labels: none

chore: adding changelog file 3723.documentation.md [dependabot-skip]
  doc/changelog.d/3723.documentation.md
Labels: none

fix: test
  tests/test_mapdl.py
Labels: none

fix: allow numpy types for parameters (#3720)
  doc/changelog.d/3720.fixed.md
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/parameters.py
  tests/test_mapdl.py
  tests/test_parameters.py
Labels: none

feat: adding paramiko to test
  pyproject.toml
Labels: maintenance, dependencies

fix: vulnerabilities
  src/ansys/mapdl/core/hpc.py
  tests/test_hpc.py
Labels: none

tests: increasing tests and coverage
  src/ansys/mapdl/core/hpc.py
  src/ansys/mapdl/core/launcher.py
  tests/test_hpc.py
Labels: none

refactor: using a better argument name.
  src/ansys/mapdl/core/hpc.py
  tests/test_hpc.py
Labels: none

feat: update vtk to 9.4.1
  pyproject.toml
Labels: maintenance, dependencies

feat: disabling vulnerability warning.
  src/ansys/mapdl/core/launcher.py
Labels: none

feat: disabling vulnerability warnings.
  src/ansys/mapdl/core/hpc.py
Labels: none

fix: harfrq command
  src/ansys/mapdl/core/_commands/solution/dynamic_options.py
Labels: none

chore: adding changelog file 3729.fixed.md [dependabot-skip]
  doc/changelog.d/3729.fixed.md
Labels: none

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']
