Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']

fix: harfrq command (#3729)
  doc/changelog.d/3729.fixed.md
  src/ansys/mapdl/core/_commands/solution/dynamic_options.py
Labels: none

fix: patch
  tests/test_pool.py
Labels: none

feat: latest changes + fix codespell
  .github/workflows/ci.yml
  doc/source/conf.py
  doc/source/mapdl_commands/aux2/index.rst
  pyproject.toml
  src/ansys/mapdl/core/_commands/aux2_/bin_dump.py
  src/ansys/mapdl/core/_commands/aux2_/bin_manip.py
  src/ansys/mapdl/core/_commands/aux2_/binary_file_dump.py
  src/ansys/mapdl/core/_commands/aux2_/binary_file_manipulation.py
  src/ansys/mapdl/core/plotting/__init__.py
Labels: documentation, maintenance, dependencies, CI/CD

fix: renaming ``aux2_`` into ``aux2``
  src/ansys/mapdl/core/_commands/aux2/__init__.py
  src/ansys/mapdl/core/_commands/aux2/binary_file_dump.py
  src/ansys/mapdl/core/_commands/aux2/binary_file_manipulation.py
Labels: none

fix: revert change in ``ci.yml``
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: update pyproject.toml
  pyproject.toml
Labels: maintenance, dependencies

fix: update ``aux3`` submodule with latest changes
  doc/source/conf.py
  pyproject.toml
  src/ansys/mapdl/core/_commands/aux3/__init__.py
  src/ansys/mapdl/core/_commands/aux3/results_files.py
Labels: documentation, maintenance, dependencies

feat: externalising `is_initialized` for better testing
  src/ansys/mapdl/core/pool.py
Labels: none

tets: adding tests
  tests/test_pool.py
Labels: none

feat: ``aux2`` submodule (#3683)
  doc/changelog.d/3683.added.md
  doc/source/conf.py
  doc/source/mapdl_commands/aux2/bin_dump.rst
  doc/source/mapdl_commands/aux2/bin_manip.rst
  doc/source/mapdl_commands/aux2/binary_file_dump.rst
  doc/source/mapdl_commands/aux2/binary_file_manipulation.rst
  doc/source/mapdl_commands/aux2/index.rst
  pyproject.toml
  src/ansys/mapdl/core/_commands/aux2/__init__.py
  src/ansys/mapdl/core/_commands/aux2/binary_file_dump.py
  src/ansys/mapdl/core/_commands/aux2/binary_file_manipulation.py
  src/ansys/mapdl/core/_commands/aux2_/bin_dump.py
  src/ansys/mapdl/core/_commands/aux2_/bin_manip.py
  src/ansys/mapdl/core/commands.py
  src/ansys/mapdl/core/plotting/__init__.py
Labels: documentation, maintenance, dependencies

feat: aux_submodule
  doc/source/mapdl_commands/aux12/general_radiation.rst
  doc/source/mapdl_commands/aux12/index.rst
  doc/source/mapdl_commands/aux12/radiation_mat.rst
  doc/source/mapdl_commands/aux12/radiation_matrix_method.rst
  doc/source/mapdl_commands/aux12/radiosity_solver.rst
  src/ansys/mapdl/core/_commands/aux12/__init__.py
  src/ansys/mapdl/core/_commands/aux12/general_radiation.py
  src/ansys/mapdl/core/_commands/aux12/radiation_matrix_method.py
  src/ansys/mapdl/core/_commands/aux12/radiosity_solver.py
  src/ansys/mapdl/core/_commands/aux12_/general_radiation.py
  src/ansys/mapdl/core/_commands/aux12_/radiation_mat.py
  src/ansys/mapdl/core/_commands/aux12_/radiosity_solver.py
  src/ansys/mapdl/core/commands.py
Labels: documentation

docs: homogenizing prefixes
  doc/source/getting_started/develop_pymapdl.rst
Labels: documentation

docs: improving table header
  doc/source/getting_started/develop_pymapdl.rst
Labels: documentation

chore: adding changelog file 3737.documentation.md [dependabot-skip]
  doc/changelog.d/3737.documentation.md
Labels: none

chore: adding changelog file 3737.documentation.md [dependabot-skip]
  doc/changelog.d/3737.documentation.md
Labels: none

test: __del__method.
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: none

refactor: simplifying exit
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

chore: adding changelog file 3738.fixed.md [dependabot-skip]
  doc/changelog.d/3738.fixed.md
Labels: none

chore: adding changelog file 3737.documentation.md [dependabot-skip]
  doc/changelog.d/3737.documentation.md
Labels: none

feat: adding vale exception
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

refactor: simplyfing for other interfaces.
  src/ansys/mapdl/core/mapdl_core.py
Labels: none

feat: exiting mapdl
  tests/conftest.py
Labels: none

docs: homgenizing commit/branches/pull request prefix (#3737)
  doc/changelog.d/3737.documentation.md
  doc/source/getting_started/develop_pymapdl.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

feat: ``aux3`` submodule (#3689)
  doc/changelog.d/3689.documentation.md
  doc/source/mapdl_commands/aux3.rst
  doc/source/mapdl_commands/aux3/index.rst
  doc/source/mapdl_commands/aux3/results_files.rst
  doc/source/mapdl_commands/index.rst
  pyproject.toml
  src/ansys/mapdl/core/_commands/aux3/__init__.py
  src/ansys/mapdl/core/_commands/aux3/results_files.py
  src/ansys/mapdl/core/_commands/aux3_.py
  src/ansys/mapdl/core/commands.py
Labels: documentation, maintenance, dependencies

chore: adding changelog file 3739.documentation.md [dependabot-skip]
  doc/changelog.d/3739.documentation.md
Labels: none

feat: adding __del__ to mapdl_console
  src/ansys/mapdl/core/mapdl_console.py
  tests/test_console.py
Labels: none

fix: update patch for in test_pool.py
  tests/test_pool.py
Labels: none

fix: update regex in test_xpl_str for improved matching
  tests/test_xpl.py
Labels: none

fix: improve job ID handling and remove atexit registration in MAPDL core
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_core.py
Labels: none

refactor: remove debug launch arguments from MapdlPool and update related tests
  src/ansys/mapdl/core/pool.py
  tests/test_pool.py
Labels: none

docs: adding docstring.
  src/ansys/mapdl/core/pool.py
Labels: none

fix: exiting on class deletion (#3738)
  doc/changelog.d/3738.fixed.md
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_console.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_console.py
  tests/test_mapdl.py
Labels: none

fix: update cube_solve fixture to include cleared parameter
  tests/test_xpl.py
Labels: none

fix: enable live logging in pytest and clean up unused mute settings in clear function
  pyproject.toml
  tests/conftest.py
Labels: maintenance, dependencies

feat: ``aux15`` submodule
  doc/source/mapdl_commands/aux15.rst
  doc/source/mapdl_commands/aux15/iges.rst
  doc/source/mapdl_commands/aux15/index.rst
  doc/source/mapdl_commands/index.rst
  src/ansys/mapdl/core/_commands/aux15/__init__.py
  src/ansys/mapdl/core/_commands/aux15/iges.py
  src/ansys/mapdl/core/_commands/aux15_.py
  src/ansys/mapdl/core/commands.py
Labels: documentation

chore: adding changelog file 3741.documentation.md [dependabot-skip]
  doc/changelog.d/3741.documentation.md
Labels: none

fix: ``vale``
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

fix: order in ``commands.py``
  src/ansys/mapdl/core/commands.py
Labels: none

fix: remove fixture
  tests/test_xpl.py
Labels: none

chore: adding changelog file 3742.maintenance.md [dependabot-skip]
  doc/changelog.d/3742.maintenance.md
Labels: none
