Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']

chore: adding changelog file 3743.dependencies.md [dependabot-skip]
  doc/changelog.d/3743.dependencies.md
Labels: none

chore: adding changelog file 3744.dependencies.md [dependabot-skip]
  doc/changelog.d/3744.dependencies.md
Labels: none

chore: merge branch 'ci/testing-improvements' into tests/improving-pool-testing
  doc/changelog.d/3716.dependencies.md
  pyproject.toml
  src/ansys/mapdl/core/mapdl_core.py
  tests/conftest.py
  tests/test_xpl.py
Labels: maintenance, dependencies

feat: reducing amount of logging in non_interactive
  src/ansys/mapdl/core/mapdl_core.py
Labels: none

test: changing order
  tests/test_xpl.py
Labels: none

fix: limit logging output to first few lines of responses
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: none

feat: making sure we clean before creating new model.
  tests/test_xpl.py
Labels: none

chore: not using live log since it does polute the logs
  pyproject.toml
Labels: maintenance, dependencies

docs: homgenizing commit/branches/pull request prefix (#3737)
  doc/changelog.d/3737.documentation.md
  doc/source/getting_started/develop_pymapdl.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

fix: harfrq command (#3729)
  doc/changelog.d/3729.fixed.md
  src/ansys/mapdl/core/_commands/solution/dynamic_options.py
Labels: none

feat: adding opened attribute (#3731)
  doc/changelog.d/3731.miscellaneous.md
  src/ansys/mapdl/core/xpl.py
  tests/test_xpl.py
Labels: none

build: update sphinx-autodoc-typehints to 3.0.1 (#3733)
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
  doc/changelog.d/3733.dependencies.md
  pyproject.toml
Labels: maintenance, dependencies, CI/CD

fix: ram units (#3730)
  doc/changelog.d/3730.fixed.md
  tests/test_launcher/test_tools.py
Labels: none

fix: allow numpy types for parameters (#3720)
  doc/changelog.d/3720.fixed.md
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/parameters.py
  tests/test_mapdl.py
  tests/test_parameters.py
Labels: none

fix: using cached version for remove lock on exit (#3709)
  doc/changelog.d/3709.fixed.md
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: none

feat: avoiding reconnecting if MAPDL exited already (#3708)
  doc/changelog.d/3708.miscellaneous.md
  src/ansys/mapdl/core/errors.py
  tests/test_cli.py
  tests/test_mapdl.py
Labels: none

fix: exiting on class deletion (#3738)
  doc/changelog.d/3738.fixed.md
  src/ansys/mapdl/core/mapdl_console.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_console.py
  tests/test_mapdl.py
Labels: none

ci: improving testing (#3716)
  doc/changelog.d/3716.dependencies.md
  pyproject.toml
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_xpl.py
Labels: maintenance, dependencies

fix for issue 3305
  src/ansys/mapdl/core/mapdl_extended.py
Labels: none

chore: adding changelog file 3745.fixed.md [dependabot-skip]
  doc/changelog.d/3745.fixed.md
Labels: none

chore: adding changelog file 3745.fixed.md [dependabot-skip]
  doc/changelog.d/3745.fixed.md
Labels: none

chore: adding changelog file 3745.fixed.md [dependabot-skip]
  doc/changelog.d/3745.fixed.md
Labels: none

chore: adding changelog file 3745.fixed.md [dependabot-skip]
  doc/changelog.d/3745.fixed.md
Labels: none

chore: adding changelog file 3745.fixed.md [dependabot-skip]
  doc/changelog.d/3745.fixed.md
Labels: none

chore: adding changelog file 3745.fixed.md [dependabot-skip]
  doc/changelog.d/3745.fixed.md
Labels: none

doc string updated for load_table method and tests updated
  src/ansys/mapdl/core/mapdl_extended.py
  tests/test_mapdl.py
Labels: none

chore: adding changelog file 3745.fixed.md [dependabot-skip]
  doc/changelog.d/3745.fixed.md
Labels: none

chore: adding changelog file 3745.fixed.md [dependabot-skip]
  doc/changelog.d/3745.fixed.md
Labels: none

test: adding a bit more tests
  tests/test_parameters.py
Labels: none

Update src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/mapdl_extended.py
Labels: none

fix: problem with the load_table method (#3745)
  doc/changelog.d/3745.fixed.md
  src/ansys/mapdl/core/mapdl_extended.py
  tests/test_mapdl.py
  tests/test_parameters.py
Labels: none

fix: do all the cleaning commands before cleaning the database, so we avoid having to issue `/POST1`.
  tests/test_xpl.py
Labels: none

chore: adding changelog file 3747.fixed.md [dependabot-skip]
  doc/changelog.d/3747.fixed.md
Labels: none

feat: adding latest changes
  src/ansys/mapdl/core/_commands/aux15/iges.py
Labels: none

feat: adding latest changes
  doc/source/mapdl_commands/aux12/index.rst
  src/ansys/mapdl/core/_commands/aux12/general_radiation.py
  src/ansys/mapdl/core/_commands/aux12/radiation_matrix_method.py
  src/ansys/mapdl/core/_commands/aux12/radiosity_solver.py
Labels: documentation

fix: do all the cleaning commands before cleaning the database, so we avoid having to issue `/POST1`. (#3747)
  doc/changelog.d/3747.fixed.md
  tests/test_xpl.py
Labels: none

fix: avoid respawning the instances
  src/ansys/mapdl/core/pool.py
Labels: none

feat: adding ``database`` submodule
  doc/source/mapdl_commands/database/components.rst
  doc/source/mapdl_commands/database/coord_sys.rst
  doc/source/mapdl_commands/database/coordinate_system.rst
  doc/source/mapdl_commands/database/index.rst
  doc/source/mapdl_commands/database/picking.rst
  doc/source/mapdl_commands/database/selecting.rst
  doc/source/mapdl_commands/database/set_up.rst
  doc/source/mapdl_commands/database/setup.rst
  doc/source/mapdl_commands/database/working_plane.rst
  src/ansys/mapdl/core/_commands/database/__init__.py
  src/ansys/mapdl/core/_commands/database/components.py
  src/ansys/mapdl/core/_commands/database/coord_sys.py
  src/ansys/mapdl/core/_commands/database/coordinate_system.py
  src/ansys/mapdl/core/_commands/database/picking.py
  src/ansys/mapdl/core/_commands/database/selecting.py
  src/ansys/mapdl/core/_commands/database/set_up.py
  src/ansys/mapdl/core/_commands/database/setup.py
  src/ansys/mapdl/core/_commands/database/working_plane.py
Labels: documentation

chore: adding changelog file 3748.documentation.md [dependabot-skip]
  doc/changelog.d/3748.documentation.md
Labels: none

feat: ``aux12`` submodule (#3739)
  doc/changelog.d/3739.documentation.md
  doc/source/mapdl_commands/aux12/general_radiation.rst
  doc/source/mapdl_commands/aux12/index.rst
  doc/source/mapdl_commands/aux12/radiation_mat.rst
  doc/source/mapdl_commands/aux12/radiation_matrix_method.rst
  doc/source/mapdl_commands/aux12/radiosity_solver.rst
  src/ansys/mapdl/core/_commands/aux12/__init__.py
  src/ansys/mapdl/core/_commands/aux12/general_radiation.py
  src/ansys/mapdl/core/_commands/aux12/radiation_matrix_method.py
  src/ansys/mapdl/core/_commands/aux12/radiosity_solver.py
  src/ansys/mapdl/core/_commands/aux12_/general_radiation.py
  src/ansys/mapdl/core/_commands/aux12_/radiation_mat.py
  src/ansys/mapdl/core/_commands/aux12_/radiosity_solver.py
  src/ansys/mapdl/core/commands.py
Labels: documentation
