Repository ansys/pymapdl, changes with the labels that .github/labeler.yml gives for each.
All labels: documentation, examples, maintenance, dependencies, CI/CD

.github/labeler.yml:

documentation:
- changed-files:
  - any-glob-to-any-file: ['doc/source/**/*', 'examples/**/*', 'doc/styles/**/*']

examples:
- changed-files:
  - any-glob-to-any-file: ['examples/**/*']

maintenance:
- changed-files:
  - any-glob-to-any-file: ['.github/**/*', 'codecov.yml', '.flake8', '.coveragerc', 'ignore_words.txt', 'pyproject.toml', '.devcontainer/**/requirements.txt', 'doc/make.bat', 'doc/Makefile', minimum_requirements.txt]

dependencies:
- changed-files:
  - any-glob-to-any-file: ['pyproject.toml']

CI/CD:
- changed-files:
  - any-glob-to-any-file: ['docker/**/*', '.github/**/*', '.ci/**/*', '.devcontainer/**/*']

feat: using reusable workflows instead
  .github/actions/build-matrix/action.yml
  .github/workflows/ci.yml
  .github/workflows/doc-build.yml
  .github/workflows/test-local.yml
  .github/workflows/test-remote.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3787.maintenance.md [dependabot-skip]
  doc/changelog.d/3787.maintenance.md
Labels: none

fix: update latest-version to 252 in CI workflow
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: update CI workflow to use 'username' instead of 'actor' and adjust mapdl-version syntax
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: correct variable reference for latest-version in test-local workflow
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

fix: remove unused main-python-version input from test-local workflow
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

fix: update test-local workflow to streamline input parameters and improve boolean checks
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

fix: add directory listing to test-remote workflow for better debugging
  .github/workflows/test-remote.yml
Labels: maintenance, CI/CD

fix: tests
  .github/workflows/ci.yml
  .github/workflows/test-local.yml
  .github/workflows/test-remote.yml
  tests/test_mapdl.py
Labels: maintenance, CI/CD

fix: add pytest arguments to enhance test execution and reporting
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

fix: remove some composite actions
  .github/actions/doc-build/action.yml
  .github/actions/test-local/action.yml
  .github/actions/test-remote/action.yml
Labels: maintenance, CI/CD

fix: update password secret reference in test-local workflow
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

fix: rename password secret to token in CI workflows for clarity
  .github/workflows/ci.yml
  .github/workflows/test-remote.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3785.maintenance.md [dependabot-skip]
  doc/changelog.d/3785.maintenance.md
Labels: none

fix: add step to install Git and checkout project in doc-build workflow
  .github/workflows/doc-build.yml
Labels: maintenance, CI/CD

fix: standardize license server secret naming in workflows
  .github/workflows/doc-build.yml
  .github/workflows/test-remote.yml
Labels: maintenance, CI/CD

fix: standardize license server secret naming in CI workflow
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: add MAPDL package and environment variables in test-remote workflow
  .github/workflows/test-remote.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3788.dependencies.md [dependabot-skip]
  doc/changelog.d/3788.dependencies.md
Labels: none

chore: adding changelog file 3789.dependencies.md [dependabot-skip]
  doc/changelog.d/3789.dependencies.md
Labels: none

fix: update CI workflows to use reusable workflows for minimal and console
  .github/workflows/ci.yml
  .github/workflows/test-local.yml
Labels: maintenance, CI/CD

fix: add MAPDL package environment variable to doc-build and test-remote workflows
  .github/workflows/doc-build.yml
  .github/workflows/test-remote.yml
Labels: maintenance, CI/CD

fix: update CI workflows to standardize environment variables and improve testing configurations
  .github/workflows/ci.yml
  .github/workflows/doc-build.yml
  .github/workflows/test-local.yml
  .github/workflows/test-remote.yml
Labels: maintenance, CI/CD

fix: update CI workflow dependencies for minimal and console jobs
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

fix: remove obsolete changelog entry for PyMAPDL GitHub Action
  doc/changelog.d/3785.maintenance.md
Labels: none

chore: adding changelog file 3787.maintenance.md [dependabot-skip]
  doc/changelog.d/3787.maintenance.md
Labels: none

fix: specify Python version for Pytest-summary action in CI workflow
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

ci: using reusable workflows (#3787)
  .github/actions/build-matrix/action.yml
  .github/actions/pytest-summary/action.yml
  .github/actions/test-julia/action.yml
  .github/actions/test-windows/action.yml
  .github/workflows/ci.yml
  .github/workflows/doc-build.yml
  .github/workflows/test-local.yml
  .github/workflows/test-remote.yml
  doc/changelog.d/3787.maintenance.md
  tests/test_mapdl.py
Labels: maintenance, CI/CD

chore: adding changelog file 3750.documentation.md [dependabot-skip]
  doc/changelog.d/changelog_template.jinja
Labels: none

chore: adding changelog file 3649.miscellaneous.md [dependabot-skip]
  doc/changelog.d/3649.miscellaneous.md
Labels: none

fix: adding console testing
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

chore: adding changelog file 3791.fixed.md [dependabot-skip]
  doc/changelog.d/3791.fixed.md
Labels: none

fix: using MAPDL calls only to get the nodes in coordinate systems
  src/ansys/mapdl/core/mesh_grpc.py
Labels: none

chore: adding changelog file 3792.added.md [dependabot-skip]
  doc/changelog.d/3792.added.md
Labels: none

chore: adding changelog file 3793.maintenance.md [dependabot-skip]
  doc/changelog.d/3793.maintenance.md
Labels: none

fix: update MAPDL calls to use instance methods for node location retrieval
  src/ansys/mapdl/core/mesh_grpc.py
Labels: none

fix: replace starget with get for node count retrieval in MeshGrpc
  src/ansys/mapdl/core/mesh_grpc.py
Labels: none

ci: update console testing configuration to disable minimal testing
  .github/workflows/ci.yml
Labels: maintenance, CI/CD

perf: using MAPDL calls only to get the nodes in coordinate systems (#3792)
  doc/changelog.d/3792.added.md
  src/ansys/mapdl/core/mesh_grpc.py
Labels: none

fix: update title_format in changelog for proper version reference
  pyproject.toml
Labels: maintenance, dependencies
