Repository ansys/pymapdl, pull requests merged in 2021-12, with the labels that each got.

#728 Add vm2
  doc/source/_static/vm2_setup.png
  examples/06-verif-manual/vm-002-beam_stresses_and_deflections.py
Labels: Documentation

#755 account for edge case with hidden nodes
  .github/workflows/ci.yml
  ansys/mapdl/core/mapdl.py
  ansys/mapdl/core/mesh_grpc.py
  tests/test_mapdl.py
Labels: Bug

#739 Feat/Adding contact friction stresses to post processing module
  ansys/mapdl/core/post.py
  tests/test_post.py
Labels: Enhancement

#754 Fix missing arguments in inquire
  ansys/mapdl/core/_commands/apdl/parameter_definition.py
  ansys/mapdl/core/mapdl.py
  ansys/mapdl/core/mapdl_grpc.py
  ansys/mapdl/core/pool.py
  tests/test_mapdl.py
Labels: Enhancement

#770 allow color parm for area plotting
  ansys/mapdl/core/mapdl.py
Labels: Bug

#778 Feat/post processing consistency properties
  ansys/mapdl/core/post.py
  examples/00-mapdl-examples/pressure_vessel.py
  examples/00-mapdl-examples/transient_thermal.py
  examples/06-verif-manual/vm-004-deflection_of_a_hinged_support.py
  tests/test_post.py
Labels: Enhancement

#777 Fix/returning only values for selected elements in post processing
  ansys/mapdl/core/post.py
  tests/test_post.py
Labels: Bug, Enhancement

#784 Updated gitignore to exclude PyCharm local settings folder.
  .gitignore
Labels: Enhancement

#771 Fix parsing time values in `post_processing` module
  ansys/mapdl/core/post.py
Labels: Bug

#779 Added import error messages regarding outdated API module.
  ansys/mapdl/core/mapdl_grpc.py
Labels: Bug, Enhancement

#782 Improved /TBFT function.
  ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: Bug

#795 Fix/ ``log_file`` keyword was not being used in ``_Mapdl``
  ansys/mapdl/core/mapdl.py
  ansys/mapdl/core/mapdl_grpc.py
Labels: Bug

#783 Detaching file location input from Mapdl.input
  ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: Enhancement
