Repository ansys/pymapdl, pull requests merged in 2022-10, with the labels that each got.

#1549 Improvements to template
  .github/ISSUE_TEMPLATE/bug.yml
Labels: CI/CD, Maintenance

#1544 Upload a coverage report at every unit test job
  .github/workflows/ci.yml
Labels: Enhancement, New Feature, CI/CD, Maintenance

#1551 Bug template improvements
  .github/ISSUE_TEMPLATE/bug.yml
Labels: CI/CD, Maintenance

#1545 Adding plotter to inputs.
  src/ansys/mapdl/core/plotting.py
  tests/test_plotting.py
Labels: Enhancement, New Feature

#1569 Fixing dependabot and commenter issue
  .github/workflows/label.yml
Labels: BUG, Enhancement, New Feature, CI/CD, Maintenance

#1560 Mode exposed in Mapdl class
  doc/source/contribution_and_api/index.rst
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_console.py
  src/ansys/mapdl/core/mapdl_corba.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_console.py
  tests/test_corba.py
  tests/test_grpc.py
  tests/test_mapdl.py
Labels: Enhancement, Documentation, New Feature

#1561 Change titles to sentence case
  README.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/running_mapdl.rst
  doc/source/getting_started/using_julia.rst
  doc/source/getting_started/versioning.rst
  doc/source/getting_started/wsl.rst
  doc/source/index.rst
  doc/source/learning/index.rst
  doc/source/user_guide/convert.rst
  doc/source/user_guide/database.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/launcher.rst
  doc/source/user_guide/mapdl.rst
  doc/source/user_guide/mapdl_examples.rst
Labels: Documentation

#1553 Small style fix to lathe example
  examples/00-mapdl-examples/lathe_cutter.py
Labels: BUG, Documentation

#1550 Implement extra methods in ``NLIST`` command
  src/ansys/mapdl/core/commands.py
  tests/test_commands.py
Labels: Enhancement, New Feature

#1449 DPF in build docs CICD
  .github/workflows/ci.yml
  doc/source/conf.py
  examples/00-mapdl-examples/basic_dpf_example.py
  requirements/requirements_docs.txt
  requirements/requirements_tests.txt
Labels: Enhancement, Documentation, New Feature, CI/CD, Maintenance, Dependencies

#1554 CommandOutput improvements
  .github/workflows/ci.yml
  doc/source/user_guide/post.rst
  src/ansys/mapdl/core/_commands/post1_/setup.py
  src/ansys/mapdl/core/commands.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/post.py
  tests/test_commands.py
  tests/test_mapdl.py
  tests/test_post.py
Labels: BUG, Enhancement, Documentation, New Feature, CI/CD, Maintenance

#1528 Correction of example for parameters extraction
  .gitignore
  doc/source/examples/technology_showcase_examples/techdemo-20/20-example-technology-showcase-dynamic-simulation-PCB.py
Labels: Documentation

#1441 add example file: composite dcb
  .github/workflows/ci.yml
  doc/source/images/dcb_test.png
  examples/00-mapdl-examples/composite_dcb.py
Labels: Documentation, Examples, CI/CD, Maintenance, Dependencies

#1506 Adding ``links.rst`` to docs
  .github/workflows/ci.yml
  CONTRIBUTING.md
  README.rst
  doc/Makefile
  doc/make.bat
  doc/source/_assets/lic_guide.pdf
  doc/source/conf.py
  doc/source/contribution_and_api/index.rst
  doc/source/contribution_and_api/post.rst
  doc/source/examples/extended_examples/ex_01-gmsh_example/ex_01-gmsh_example.rst
  doc/source/examples/extended_examples/index.rst
  doc/source/examples/index.rst
  doc/source/examples/technology_showcase_examples/techdemo-1/ex_0-tecbrakesqueal.rst
  doc/source/examples/technology_showcase_examples/techdemo-20/20-example-technology-showcase-dynamic-simulation-PCB.rst
  doc/source/examples/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/using_julia.rst
  doc/source/getting_started/versioning.rst
  doc/source/getting_started/wsl.rst
  doc/source/index.rst
  doc/source/learning/index.rst
  doc/source/links.rst
  doc/source/mapdl_commands/.fake
  doc/source/troubleshoot/faq.rst
  doc/source/troubleshoot/troubleshoot.rst
  doc/source/user_guide/convert.rst
  doc/source/user_guide/mapdl_examples.rst
  doc/source/user_guide/math.rst
  doc/source/user_guide/plotting.rst
  doc/source/user_guide/post.rst
  doc/source/user_guide/upf.rst
  examples/00-mapdl-examples/cyclic_analysis.py
  examples/02-geometry/01-lines.py
  examples/02-geometry/02-areas.py
  src/ansys/mapdl/core/commands.py
  tests/test_commands.py
Labels: BUG, Documentation, CI/CD, Maintenance

#1490 Exposure of Krylov Method for Frequency-Sweep Harmonic Analysis
  .github/workflows/ci.yml
  doc/source/contribution_and_api/index.rst
  doc/source/contribution_and_api/krylov.rst
  doc/source/examples/extended_examples/Krylov/Harmonic_Analysis_using_krylov_pymapdl_files/Harmonic_Analysis_using_krylov_pymapdl_15_1.png
  doc/source/examples/extended_examples/Krylov/Harmonic_Analysis_using_krylov_pymapdl_files/Harmonic_Analysis_using_krylov_pymapdl_36_1.png
  doc/source/examples/extended_examples/Krylov/Harmonic_Analysis_using_krylov_pymapdl_files/Harmonic_Analysis_using_krylov_pymapdl_38_0.png
  doc/source/examples/extended_examples/Krylov/krylov_example.rst
  doc/source/examples/extended_examples/index.rst
  doc/source/examples/index.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/krylov.rst
  src/ansys/mapdl/core/_commands/apdl/matrix_op.py
  src/ansys/mapdl/core/krylov.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_files/krylov_point_load.cdb
  tests/test_files/krylov_pressure_load.cdb
  tests/test_krylov.py
  tests/test_math.py
Labels: Enhancement, Documentation, New Feature, CI/CD, Maintenance

#1557 Upload test for DPF
  .github/workflows/ci.yml
  .github/workflows/nightly-doc-build.yml
  .github/workflows/nightly-mapdl-check.yml
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_dpf.py
  tests/test_grpc.py
  tests/test_mapdl.py
Labels: Enhancement, New Feature, CI/CD, Maintenance

#1582 Fix nightly dpf doc building issue
  .github/workflows/nightly-doc-build.yml
  .github/workflows/nightly-mapdl-check.yml
Labels: BUG, CI/CD, Maintenance

#1583 Small improvements in sphinx build
  doc/source/_static/custom.css
  doc/source/_templates/sidebar-nav-bs.html
  doc/source/conf.py
  doc/source/examples/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
Labels: Enhancement, Documentation, New Feature
