Repository ansys/pymapdl, pull requests merged in 2022-11, with the labels that each got.

#1600 Small improvements to logging
  src/ansys/mapdl/core/licensing.py
  src/ansys/mapdl/core/logging.py
  tests/test_logging.py
Labels: Enhancement, New Feature

#1589 Documentation improvements
  .codespellrc
  .github/workflows/ci.yml
  README.rst
  doc/source/_static/custom.css
  doc/source/conf.py
  doc/source/examples/index.rst
  doc/source/examples/technology_showcase_examples/index.rst
  doc/source/examples/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  doc/source/getting_started/versioning.rst
  doc/source/troubleshoot/index.rst
Labels: Documentation, CI/CD, Maintenance

#1584 Improving docstrings in post.
  src/ansys/mapdl/core/_commands/database/setup.py
  src/ansys/mapdl/core/_commands/post1_/setup.py
  src/ansys/mapdl/core/post.py
  tests/test_post.py
Labels: Enhancement, Documentation

#1574 Using multiple PR for dependabot
  .github/dependabot.yml
  .github/workflows/dependabot.yml
Labels: Enhancement, New Feature, CI/CD, Maintenance

#1605 General edit of Krylov example
  doc/source/examples/extended_examples/Krylov/krylov_example.rst
  doc/source/links.rst
  doc/source/user_guide/krylov.rst
Labels: Documentation

#1599 FIX: Add animation using DPF animate()
  .github/workflows/ci.yml
  doc/source/examples/technology_showcase_examples/techdemo-1/ex_0-tecbrakesqueal.rst
  doc/source/examples/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  doc/source/images/dcb_test.png
  examples/00-mapdl-examples/composite_dcb.py
Labels: BUG, Documentation, CI/CD, Maintenance, Dependencies

#1612 Upgrading default python to 3.9
  .github/workflows/ci.yml
  .github/workflows/nightly-doc-build.yml
  .github/workflows/nightly-mapdl-check.yml
Labels: Enhancement, New Feature, CI/CD, Maintenance

#1607 Reviewing basic DPF example
  examples/00-mapdl-examples/basic_dpf_example.py
Labels: Enhancement, Documentation

#1617 Unnecessary file coverage.xml
  .gitignore
  coverage.xml
Labels: BUG, Dependencies

#1610 Example for building documentation
  .pre-commit-config.yaml
  doc/source/contribution_and_api/building_example.rst
  doc/source/contribution_and_api/index.rst
Labels: Documentation

#1627 Update flake8 source import
  .codespellrc
  .pre-commit-config.yaml
  doc/source/conf.py
  doc/source/examples/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  examples/00-mapdl-examples/mapdl_beam.py
  examples/04-general-fea/00-how_finite_element_works.py
  src/ansys/mapdl/core/common_grpc.py
  src/ansys/mapdl/core/database/nodes.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
Labels: Documentation, Maintenance

#1631 add basic static cyclic example
  examples/00-mapdl-examples/cyclic_static.py
Labels: Documentation

#1637 Migrating the requirements
  .github/dependabot.yml
  .github/labeler.yml
  .github/workflows/ci.yml
  .github/workflows/nightly-doc-build.yml
  .github/workflows/nightly-mapdl-check.yml
  pyproject.toml
  requirements/requirements_build.txt
  requirements/requirements_docs.txt
  requirements/requirements_tests.txt
  tox.ini
Labels: CI/CD, Maintenance, Dependencies

#1616 Adding Windows testing
  .github/workflows/ci.yml
  tests/conftest.py
Labels: Enhancement, New Feature, CI/CD, Maintenance

#1621 Adding unit testing section
  doc/source/contribution_and_api/index.rst
  doc/source/contribution_and_api/unit_testing.rst
  doc/source/images/cicd.jpg
  doc/source/images/codecov_increase.png
  doc/source/links.rst
Labels: Documentation

#1649 Deleting techdemos folder
  doc/source/examples/index.rst
  doc/source/examples/technology_showcase_examples/index.rst
  doc/source/examples/technology_showcase_examples/techdemo-1/cont_slide.png
  doc/source/examples/technology_showcase_examples/techdemo-1/ex_0-tecbrakesqueal.rst
  doc/source/examples/technology_showcase_examples/techdemo-1/gtecbrakesqueal_fig1.gif
  doc/source/examples/technology_showcase_examples/techdemo-1/gtecbrakesqueal_fig10.gif
  doc/source/examples/technology_showcase_examples/techdemo-1/gtecbrakesqueal_fig5.gif
  doc/source/examples/technology_showcase_examples/techdemo-1/gtecbrakesqueal_fig6.png
  doc/source/examples/technology_showcase_examples/techdemo-1/gtecbrakesqueal_fig7.png
  doc/source/examples/technology_showcase_examples/techdemo-1/ndisp_21.png
  doc/source/examples/technology_showcase_examples/techdemo-1/ndisp_21_linear.png
  doc/source/examples/technology_showcase_examples/techdemo-1/ndisp_22.png
  doc/source/examples/technology_showcase_examples/techdemo-20/20-example-technology-showcase-dynamic-simulation-PCB.ipynb
  doc/source/examples/technology_showcase_examples/techdemo-20/20-example-technology-showcase-dynamic-simulation-PCB.py
  doc/source/examples/technology_showcase_examples/techdemo-20/20-example-technology-showcase-dynamic-simulation-PCB.py.md5
  doc/source/examples/technology_showcase_examples/techdemo-20/20-example-technology-showcase-dynamic-simulation-PCB.rst
  doc/source/examples/technology_showcase_examples/techdemo-20/20-example-technology-showcase-dynamic-simulation-PCB_codeobj.pickle
  doc/source/examples/technology_showcase_examples/techdemo-20/images/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_001.png
  doc/source/examples/technology_showcase_examples/techdemo-20/images/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_002.png
  doc/source/examples/technology_showcase_examples/techdemo-20/images/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_003.png
  doc/source/examples/technology_showcase_examples/techdemo-20/images/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_004.png
  doc/source/examples/technology_showcase_examples/techdemo-20/images/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_005.png
  doc/source/examples/technology_showcase_examples/techdemo-20/images/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_006.png
  doc/source/examples/technology_showcase_examples/techdemo-20/images/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_007.png
  doc/source/examples/technology_showcase_examples/techdemo-20/images/thumb/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_thumb.png
  doc/source/examples/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  doc/source/examples/technology_showcase_examples/techdemo-28/graphics/gtecfricstir-anim.gif
  doc/source/examples/technology_showcase_examples/techdemo-28/graphics/gtecfricstir_fig17.png
  doc/source/examples/technology_showcase_examples/techdemo-28/graphics/gtecfricstir_fig3.png
  doc/source/links.rst
Labels: Documentation, Maintenance

#1658 Solving rendering issues for examples documentation
  doc/source/examples/index.rst
Labels: BUG, Documentation

#1615 Use ubuntu image to run as local
  .ci/start_mapdl_ubuntu.sh
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  codecov.yml
  src/ansys/mapdl/core/common_grpc.py
  src/ansys/mapdl/core/errors.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_launcher.py
  tests/test_mapdl.py
  tests/test_pool.py
Labels: Enhancement, DO NOT MERGE, New Feature, CI/CD, Maintenance

#1661 Adding timeout to windows and local ubuntu jobs.
  .github/workflows/ci.yml
Labels: Enhancement, CI/CD
