Repository ansys/pymapdl, pull requests merged in 2022-06, with the labels that each got.

#1159 Fix nplot example
  src/ansys/mapdl/core/mapdl.py
Labels: Documentation

#1191 Fix language warning
  doc/source/conf.py
Labels: BUG, Documentation

#1192 Fix identation in readme
  README.rst
Labels: BUG, Documentation

#1202 Timeout keyword argument not having effect
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: BUG

#1198 Removing duplicated `CNCHECK`
  src/ansys/mapdl/core/_commands/preproc/database.py
Labels: BUG, Documentation

#1197 Fix `ANTYPE` docstring
  src/ansys/mapdl/core/_commands/solution/analysis_options.py
Labels: BUG, Documentation

#1199 Adding 'convert_apdl_block' to docs
  doc/source/api/helper.rst
Labels: Enhancement, Documentation, NEW FEATURE

#1215 Implement pyansys-tools-report in PyMAPDL
  pyproject.toml
  requirements/requirements_tests.txt
  src/ansys/mapdl/core/misc.py
  tests/test_misc.py
Labels: Enhancement, New Feature, Maintenance, Dependencies
