Repository ansys/pymapdl, pull requests merged in 2022-08, with the labels that each got.

#1335 Adding ansys student support
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/_version.py
  src/ansys/mapdl/core/launcher.py
  tests/conftest.py
  tests/test_pool.py
Labels: BUG

#1358 Replace stray usage of `_get_array` with `get_array`
  src/ansys/mapdl/core/post.py
Labels: Enhancement

#1359 Correct misnamed `nnum` to `enum`
  src/ansys/mapdl/core/post.py
  tests/test_post.py
Labels: BUG

#1343 Fixing labeler again
  .github/labels.yml
  .github/workflows/label.yml
Labels: BUG, CI/CD, Maintenance

#1344 Improving post mortem info
  .ci/start_mapdl.sh
  .github/workflows/ci.yml
  .github/workflows/nightly-doc-build.yml
  .github/workflows/nightly-mapdl-check.yml
Labels: Enhancement, CI/CD

#1384 Fix/lsread to non interactive
  doc/source/user_guide/mapdl.rst
  src/ansys/mapdl/core/_commands/solution/load_step_operations.py
  src/ansys/mapdl/core/errors.py
  src/ansys/mapdl/core/mapdl.py
  tests/conftest.py
  tests/test_mapdl.py
  tests/test_plotting.py
Labels: BUG, Enhancement, Documentation

#1386 Fixing order import
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/jupyter.py
Labels: BUG, Enhancement

#1385 Fix/corba import, Python version docs, and Python 3.10 smoke tests
  .github/workflows/ci.yml
  README.rst
  doc/source/getting_started/index.rst
  src/ansys/mapdl/core/launcher.py
Labels: BUG, Documentation, CI/CD, Maintenance

#1392 Adding database notes and some improvements
  doc/source/user_guide/database.rst
  doc/source/user_guide/index.rst
  src/ansys/mapdl/core/database/__init__.py
  src/ansys/mapdl/core/database/database.py
  src/ansys/mapdl/core/database/elems.py
  src/ansys/mapdl/core/database/nodes.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_database.py
Labels: BUG, Enhancement, Documentation

#1400 Removing needs from unit tests in CICD
  .github/workflows/ci.yml
Labels: CI/CD

#1402 Fix load_table
  src/ansys/mapdl/core/mapdl.py
  tests/test_mapdl.py
Labels: BUG

#1412 Small example fixes and improvements
  doc/source/_static/custom.css
  doc/source/_templates/layout.html
  doc/source/examples/technology_showcase_examples/techdemo-1/ex_0-tecbrakesqueal.rst
  doc/source/examples/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  examples/00-mapdl-examples/2d_plate_with_a_hole.py
  examples/00-mapdl-examples/3d_notch.py
  examples/00-mapdl-examples/pyvista_mesh.py
  examples/01-apdlmath-examples/eigen_solve.py
  examples/02-geometry/00-keypoints.py
  examples/02-geometry/02-areas.py
  examples/03-tips-n-tricks/00-example-template.py
  examples/03-tips-n-tricks/01-smoothing-element-size-transitions.py
  examples/04-general-fea/00-how_finite_element_works.py
  examples/06-verif-manual/vm-002-beam_stresses_and_deflections.py
  examples/06-verif-manual/vm-007-plastic_compression_of_a_pipe_assembly.py
  examples/06-verif-manual/vm-010-bending_of_a_t-shaped_beam.py
Labels: BUG, Documentation, Examples

#1403 Removing redundant map function
  .github/workflows/ci.yml
  doc/source/mapdl_commands/map.rst
  src/ansys/mapdl/core/_commands/map_cmd.py
  src/ansys/mapdl/core/_commands/session/processor_entry.py
Labels: BUG, Documentation, CI/CD, Maintenance

#1299 Reducing ``pymapdl-reader`` dependency on the ``mesh`` module
  .github/workflows/ci.yml
  doc/make.bat
  doc/source/examples/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  examples/03-tips-n-tricks/03-using_inline_functions_and_Query.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/mesh/__init__.py
  src/ansys/mapdl/core/mesh/mesh.py
  src/ansys/mapdl/core/mesh_grpc.py
  tests/conftest.py
  tests/test_grpc.py
  tests/test_mapdl.py
  tests/test_mesh_grpc.py
  tests/test_post.py
Labels: Enhancement, Documentation, New Feature, CI/CD, Maintenance, Dependencies

#1279 Using DPF in example
  doc/source/examples/technology_showcase_examples/techdemo-20/20-example-technology-showcase-dynamic-simulation-PCB.ipynb
  doc/source/examples/technology_showcase_examples/techdemo-20/20-example-technology-showcase-dynamic-simulation-PCB.py
  doc/source/examples/technology_showcase_examples/techdemo-20/20-example-technology-showcase-dynamic-simulation-PCB.py.md5
  doc/source/examples/technology_showcase_examples/techdemo-20/20-example-technology-showcase-dynamic-simulation-PCB.rst
  doc/source/examples/technology_showcase_examples/techdemo-20/20-example-technology-showcase-dynamic-simulation-PCB_codeobj.pickle
  doc/source/examples/technology_showcase_examples/techdemo-20/images/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_001.png
  doc/source/examples/technology_showcase_examples/techdemo-20/images/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_002.png
  doc/source/examples/technology_showcase_examples/techdemo-20/images/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_003.png
  doc/source/examples/technology_showcase_examples/techdemo-20/images/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_004.png
  doc/source/examples/technology_showcase_examples/techdemo-20/images/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_005.png
  doc/source/examples/technology_showcase_examples/techdemo-20/images/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_006.png
  src/ansys/mapdl/core/mapdl.py
  tests/test_mapdl.py
Labels: Enhancement, Documentation, New Feature, Examples

#1422 Prioritize the non-student versions
  codecov.yml
  doc/source/getting_started/running_mapdl.rst
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/misc.py
  tests/conftest.py
Labels: Enhancement, Documentation, New Feature, Maintenance

#1413 Improving error message in ``mapdl.get_value``
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_grpc.py
  tests/test_mapdl.py
Labels: Enhancement, New Feature

#1432 Fixing dependabot and commeter
  .github/workflows/label.yml
Labels: BUG, CI/CD, Maintenance
