Repository ansys/pymapdl, pull requests merged in 2022-01, with the labels that each got.

#799 Adding support to ``***inq`` functions
  ansys/mapdl/core/_commands/inq_func.py
  ansys/mapdl/core/commands.py
  ansys/mapdl/core/mapdl_grpc.py
  doc/source/mapdl_commands/index.rst
  doc/source/mapdl_commands/inqfun.rst
  tests/test_commands.py
Labels: New feature

#805 Fix table format
  doc/source/user_guide/extended_examples/techdemo-1/ex_0-tecbrakesqueal.rst
Labels: Bug

#807 Added missing return
  ansys/mapdl/core/mapdl.py
Labels: Bug

#803 Fixing broken code block
  doc/source/user_guide/mapdl.rst
Labels: Bug

#756 Add Verification Manual VM6
  .idea/.gitignore
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/pymapdl.iml
  .idea/vcs.xml
  doc/source/_static/vm6_setup.png
  examples/06-verif-manual/vm-006-pinched_cylinder.py
  requirements_test.txt
Labels: Documentation

#810 Fix doc build auth
  .github/workflows/ci.yml
  .github/workflows/nightly-doc-build.yml
  .github/workflows/nightly-mapdl-check.yml
  doc/source/conf.py
  doc/source/index.rst
Labels: CI/CD

#814 Fixing broken links.
  doc/source/user_guide/extended_examples/techdemo-1/ex_0-tecbrakesqueal.rst
Labels: Bug, Documentation

#818 Adding binaries building and uploading to pypi
  .github/workflows/ci.yml
Labels: Enhancement, CI/CD

#815 Feat/adding `input strings` function
  ansys/mapdl/core/mapdl.py
  doc/source/api/mapdl.rst
  doc/source/user_guide/mapdl.rst
  tests/test_mapdl.py
Labels: Enhancement

#816 Feat/Richer cmd output for listing commands
  ansys/mapdl/core/commands.py
  ansys/mapdl/core/mapdl.py
  ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_commands.py
  tests/test_post.py
Labels: Enhancement

#819 Feat/Boundary conditions listing wrappers
  ansys/mapdl/core/commands.py
  ansys/mapdl/core/mapdl.py
  ansys/mapdl/core/mapdl_grpc.py
  tests/test_commands.py
Labels: Enhancement

#826 Add DIST output to the KDIST and NDIST
  ansys/mapdl/core/_commands/parse.py
  ansys/mapdl/core/_commands/preproc/keypoints.py
  ansys/mapdl/core/_commands/preproc/nodes.py
  tests/test_geometry.py
Labels: New feature

#822 Add docs to command output
  ansys/mapdl/core/__init__.py
  ansys/mapdl/core/commands.py
  doc/source/api/commands.rst
  doc/source/api/index.rst
  doc/source/user_guide/convert.rst
  doc/source/user_guide/post.rst
Labels: Enhancement, Documentation

#832 Fixing wrong argument passing.
  ansys/mapdl/core/commands.py
Labels: Bug

#785 Add Verification Manual VM7
  doc/source/_static/vm7_setup.png
  doc/source/_static/vm7_setup_1.png
  doc/source/_static/vm7_setup_2.png
  examples/06-verif-manual/vm-007-plastic_compression_of_a_pipe_assembly.py
  requirements_docs.txt
  requirements_test.txt
Labels: Documentation

#825 Fix/example00 block code
  examples/00-mapdl-examples/3d_notch.py
Labels: Bug, Documentation

#843 clarify non supported commands
  doc/source/conf.py
  doc/source/user_guide/mapdl.rst
  requirements_docs.txt
Labels: Enhancement, Documentation

#853 Add Verification Manual VM9
  doc/source/_static/vm9_setup.png
  doc/source/_static/vm9_setup_2.png
  examples/06-verif-manual/vm-009-large_lateral_deflection_of_unequal_stiffness_springs.py
Labels: Documentation

#820 Add Verification Manual VM8
  .idea/.gitignore
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/pymapdl.iml
  .idea/vcs.xml
  doc/source/_static/vm8_setup.png
  examples/06-verif-manual/vm-008-parametric_calculation.py
Labels: Documentation

#855 Add Verification Manual VM10
  doc/source/_static/vm10_setup.png
  doc/source/_static/vm10_setup_1.png
  examples/06-verif-manual/vm-010-bending_of_a_t-shaped_beam.py
Labels: Documentation

#852 Update pytest in nightly mapdl check
  .github/workflows/nightly-mapdl-check.yml
Labels: Bug, CI/CD

#859 Adding pandas to test requirements
  requirements_test.txt
Labels: Enhancement, Unit-Test

#860 Fixing ``CWD`` and failing tests
  ansys/mapdl/core/mapdl.py
  tests/test_mapdl.py
Labels: Bug

#866 Print ``/COM`` to python console
  ansys/mapdl/core/_commands/session/list_controls.py
  ansys/mapdl/core/convert.py
  ansys/mapdl/core/launcher.py
  ansys/mapdl/core/mapdl.py
  ansys/mapdl/core/mapdl_console.py
  ansys/mapdl/core/mapdl_corba.py
  ansys/mapdl/core/mapdl_grpc.py
  doc/source/user_guide/convert.rst
  tests/test_commands.py
  tests/test_convert.py
  tests/test_mapdl.py
Labels: Enhancement

#867 Check printout option before using get
  ansys/mapdl/core/mapdl.py
  tests/test_mapdl.py
Labels: Bug, Enhancement

#865 Return camera position is optional in general plotter
  ansys/mapdl/core/plotting.py
  tests/test_console.py
  tests/test_corba.py
  tests/test_mapdl.py
  tests/test_post.py
Labels: Bug, Enhancement

#870 Feat/print coms
  ansys/mapdl/core/launcher.py
Labels: Bug

#868 Adding missing arguments to RESCONTROL
  ansys/mapdl/core/_commands/solution/miscellaneous_loads.py
  tests/test_mapdl.py
Labels: Bug
