Repository ansys/pymapdl, pull requests merged in 2022-03, with the labels that each got.

#928 Expand download options
  .coveragerc
  ansys/mapdl/core/mapdl_grpc.py
  doc/source/user_guide/mapdl.rst
  tests/test_grpc.py
  tests/test_mapdl.py
Labels: Enhancement

#947 Fixing requirements installations
  .github/workflows/nightly-doc-build.yml
Labels: Documentation, CI/CD

#948 Fix nightly doc build
  .github/workflows/nightly-doc-build.yml
Labels: Bug, build-dependencies, Documentation, CI/CD

#946 Fix `SELTOL` always resetting to default values
  src/ansys/mapdl/core/_commands/database/selecting.py
  tests/test_mapdl.py
Labels: Bug

#944 Math module file uploader
  README.rst
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/math.py
  tests/test_math.py
Labels: Bug, Enhancement

#939 Fred ans/fix sym
  src/ansys/mapdl/core/math.py
Labels: Bug, MAPDL

#942 Increasing the format for printing numbers in _get_parameter_array
  src/ansys/mapdl/core/parameters.py
Labels: Bug

#938 Adding new example : dynamic simulation of PCB
  examples/07-technology-showcase-examples/20-example-technology-showcase-dynamic-simulation-PCB.py
  examples/07-technology-showcase-examples/README.txt
  examples/README.txt
Labels: Examples

#954 Missing changes in PCB example
  examples/07-technology-showcase-examples/20-example-technology-showcase-dynamic-simulation-PCB.py
Labels: Documentation

#940 Matching _version file to toml project.
  src/ansys/mapdl/core/_version.py
  tests/test_mapdl.py
Labels: Bug

#953 Using cache when building documentation
  .github/workflows/ci.yml
  codecov.yml
Labels: Enhancement, Documentation, CI/CD

#955 Minor adjustments to PCB example
  examples/07-technology-showcase-examples/20-example-technology-showcase-dynamic-simulation-PCB.py
Labels: Documentation

#957 Flexible number format in `_get_parameter_array`
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/parameters.py
  tests/test_parameters.py
Labels: Enhancement

#964 Improving unit test for `math.status`
  tests/test_math.py
Labels: BUG

#961 Feat/fix 404 not found page
  doc/source/404.rst
  doc/source/conf.py
Labels: BUG, Documentation

#962 Fix load file in local mode
  src/ansys/mapdl/core/math.py
  tests/test_math.py
Labels: BUG

#977 Fix MPREAD not having effect
  src/ansys/mapdl/core/_commands/preproc/materials.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/math.py
  src/ansys/mapdl/core/misc.py
  tests/test_mapdl.py
Labels: BUG

#982 Fix/page404 format
  doc/source/conf.py
Labels: BUG

#976 File uploader in MPREAD and MPWRITE
  src/ansys/mapdl/core/mapdl.py
  tests/test_mapdl.py
Labels: NEW FEATURE

#972 Empty mesh object instabilities
  src/ansys/mapdl/core/mapdl_geometry.py
  src/ansys/mapdl/core/mesh_grpc.py
  tests/test_geometry.py
  tests/test_mesh_grpc.py
Labels: BUG

#980 Using a newer version of pymapdl reader.
  pyproject.toml
  requirements/requirements_docs.txt
Labels: CI/CD

#1003 Docker container location update
  .github/workflows/ci.yml
  .github/workflows/nightly-doc-build.yml
  doc/source/getting_started/docker.rst
  doc/source/getting_started/wsl.rst
  docker/README.md
  docker/mapdl/IMAGE_NAME
Labels: BUG

#1005 Avoiding nodes mapping in PyMAPDL.
  src/ansys/mapdl/core/math.py
  tests/test_math.py
Labels: BUG
