Repository ansys/pymapdl, pull requests merged in 2022-12, with the labels that each got.

#1662 Updating ubuntu section
  doc/source/getting_started/docker.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/running_mapdl.rst
  doc/source/troubleshoot/troubleshoot.rst
Labels: Enhancement, Documentation, New Feature, CI/CD

#1679 FIX: gh_token scope
  .github/workflows/ci.yml
Labels: BUG, CI/CD, Maintenance

#1676 Increasing timeout for ubuntu
  .github/workflows/ci.yml
Labels: BUG, CI/CD, Maintenance

#1680 DOC: implement multi-doc in v0.63
  .github/workflows/ci.yml
  .github/workflows/nightly-doc-build.yml
  .pre-commit-config.yaml
  doc/Makefile
  doc/make.bat
  doc/source/conf.py
  doc/source/favicon.png
  doc/validate_png.py
  requirements/requirements_doc.txt
Labels: Enhancement, Documentation, New Feature, CI/CD, Maintenance, Dependencies

#1682 Adding code spaces support
  docker/docker-compose.local.yml
Labels: Enhancement, New Feature, CI/CD

#1684 Doc/adding proxy and firewall info
  doc/source/examples/index.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/running_mapdl.rst
  doc/source/getting_started/wsl.rst
  doc/source/links.rst
  doc/source/mapdl_commands/index.rst
  doc/source/troubleshoot/troubleshoot.rst
  doc/source/user_guide/math.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: Documentation

#1685 Adding devcontainer support
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Labels: Enhancement, New Feature, CI/CD

#1683 Adding types to label workflow
  .github/workflows/label.yml
Labels: CI/CD, Maintenance

#1693 Adding root to docker run
  .ci/start_mapdl_ubuntu.sh
  .github/workflows/ci.yml
Labels: BUG, CI/CD

#1691 Fix/aplot index error
  src/ansys/mapdl/core/mapdl.py
Labels: BUG

#1497 Adding a webApp example using Dash
  .github/workflows/ci.yml
  doc/source/examples/extended_examples/dash/dash-vm35.zip
  doc/source/examples/extended_examples/dash/dash_example.rst
  doc/source/examples/extended_examples/index.rst
  doc/source/examples/index.rst
  doc/source/learning/index.rst
Labels: Documentation, Examples

#1689 Reorganizing the headers
  .github/workflows/ci.yml
  .github/workflows/nightly-doc-build.yml
  doc/Makefile
  doc/source/api/building_example.rst
  doc/source/api/commands.rst
  doc/source/api/database.rst
  doc/source/api/geometry.rst
  doc/source/api/helper.rst
  doc/source/api/index.rst
  doc/source/api/inline.rst
  doc/source/api/krylov.rst
  doc/source/api/logging.rst
  doc/source/api/mapdl.rst
  doc/source/api/math.rst
  doc/source/api/mesh.rst
  doc/source/api/parameters.rst
  doc/source/api/plotting.rst
  doc/source/api/pool.rst
  doc/source/api/post.rst
  doc/source/api/solution.rst
  doc/source/api/unit_testing.rst
  doc/source/api/xpl.rst
  doc/source/conf.py
  doc/source/getting_started/contribution.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/faq.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/learning.rst
  doc/source/getting_started/running_mapdl.rst
  doc/source/getting_started/using_julia.rst
  doc/source/getting_started/versioning.rst
  doc/source/getting_started/wsl.rst
  doc/source/index.rst
  doc/source/troubleshoot/index.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/troubleshoot.rst
Labels: Documentation, CI/CD, Maintenance

#1698 Externalizing dev doc publishing and avoiding re-run CI on merging.
  .github/workflows/ci.yml
  .github/workflows/dev-docs-publish.yml
  .pre-commit-config.yaml
Labels: Enhancement, New Feature, CI/CD, Maintenance

#1701 Adding downloader from other workflows
  .github/workflows/dev-docs-publish.yml
Labels: BUG, CI/CD, Maintenance

#1700 Improving process killing
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_grpc.py
Labels: Enhancement, New Feature

#1707 Fix dev docs uploader-adding token
  .github/workflows/dev-docs-publish.yml
Labels: BUG, CI/CD, Maintenance

#1709 Fixing numpy version
  .github/workflows/ci.yml
  doc/source/links.rst
  examples/00-mapdl-examples/exhaust_manifold_thermal_stress.py
  examples/00-mapdl-examples/lathe_cutter.py
  examples/00-mapdl-examples/transient_thermal.py
  examples/02-geometry/01-lines.py
  examples/02-geometry/02-areas.py
  pyproject.toml
  src/ansys/mapdl/core/mapdl_geometry.py
  src/ansys/mapdl/core/math.py
  src/ansys/mapdl/core/mesh_grpc.py
  tests/test_math.py
Labels: BUG, Maintenance, Dependencies

#1724 fix convert example
  src/ansys/mapdl/core/convert.py
Labels: BUG

#1714 Fix dependabot permissions
  .github/workflows/dependabot.yml
Labels: BUG, CI/CD, Maintenance

#1728 Hiding docker
  README.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/running_mapdl.rst
  doc/source/getting_started/versioning.rst
Labels: Documentation

#1730 Fix coverage issue with unchanged files
  examples/00-mapdl-examples/composite_dcb.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/xpl.py
  tests/test_grpc.py
  tests/test_mapdl.py
  tests/test_misc.py
Labels: BUG, Documentation

#1731 Adding ``on_docker`` and ``is_local`` methods
  src/ansys/mapdl/core/mapdl.py
  tests/test_mapdl.py
Labels: Enhancement, New Feature

#1732 Update faq.rst
  doc/source/getting_started/faq.rst
Labels: Documentation

#1729 Adding string array and 3d array support
  src/ansys/mapdl/core/parameters.py
  tests/test_parameters.py
Labels: Enhancement, New Feature

#1735 Uploading coverage at the merging to main.
  .github/workflows/Merge-main.yml
  .github/workflows/ci.yml
  .github/workflows/dev-docs-publish.yml
  codecov.yml
Labels: BUG, Enhancement, CI/CD, Maintenance

#1733 Adding the PyMAPDL architecture diagram
  doc/source/images/architecture_diagram.png
  doc/source/index.rst
Labels: Documentation, Maintenance

#1726 Documenting differences between MAPDL and PyMAPDL
  doc/source/getting_started/faq.rst
  doc/source/links.rst
Labels: Documentation

#1738 Removing ip file option and small changes in learning section
  doc/source/getting_started/learning.rst
  doc/source/getting_started/versioning.rst
  doc/source/links.rst
  src/ansys/mapdl/core/launcher.py
Labels: BUG, Documentation

#1739 `XSEL` commands return ids
  doc/source/api/commands.rst
  doc/source/getting_started/faq.rst
  doc/source/getting_started/using_julia.rst
  doc/source/user_guide/post.rst
  src/ansys/mapdl/core/_commands/database/selecting.py
  src/ansys/mapdl/core/commands.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_geometry.py
  src/ansys/mapdl/core/misc.py
  tests/test_commands.py
  tests/test_mapdl.py
  tests/test_plotting.py
Labels: Enhancement, Documentation, New Feature

#1741 Set Ansys version and executable from env vars
  doc/source/api/index.rst
  doc/source/api/launcher.rst
  doc/source/getting_started/contribution.rst
  doc/source/getting_started/learning.rst
  src/ansys/mapdl/core/_version.py
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: Enhancement

#1742 Fix devcontainer setup
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
Labels: BUG

#1740 Adding google analytics tag
  doc/source/conf.py
  pyproject.toml
Labels: Enhancement, Documentation, New Feature

#1743 Deprecating ``allow_ignore`` in favor of ``ignore_errors``
  doc/source/api/mapdl.rst
  doc/source/user_guide/mapdl.rst
  src/ansys/mapdl/core/mapdl.py
  tests/conftest.py
  tests/test_mapdl.py
Labels: BUG, Documentation
