Repository ansys/pymapdl, pull requests merged in 2022-04, with the labels that each got.

#1025 Fix misspelled `_channel_str` attribute
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_database.py
  tests/test_grpc.py
Labels: BUG

#1027 Changing keyword args default to avoid a savefig error.
  src/ansys/mapdl/core/plotting.py
Labels: BUG

#1023 Updating docstring in `download`
  src/ansys/mapdl/core/_commands/preproc/meshing.py
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: BUG, Documentation

#1022 Fixing indentation in UPF python example
  doc/source/user_guide/extended_examples/Python_UPF/python_upf_examples.rst
Labels: BUG

#1006 Fix/mesh.elem not returning element numbers
  src/ansys/mapdl/core/mesh_grpc.py
  tests/test_database.py
  tests/test_mapdl.py
  tests/test_mesh_grpc.py
Labels: BUG

#1033 Docstring formatting issues
  src/ansys/mapdl/core/_commands/apdl/array_param.py
Labels: BUG, Documentation

#1035 Adding release github file.
  .github/labeler.yml
  .github/release.yml
  .github/workflows/label.yml
Labels: Enhancement, DO NOT MERGE, CI/CD

#1034 Fixing some format issues in WSL guide.
  doc/source/getting_started/wsl.rst
Labels: BUG

#1040 Small fixes in the WSL Guide
  doc/source/getting_started/wsl.rst
Labels: Documentation

#1039 Removing obsolete section
  doc/source/user_guide/index.rst
Labels: BUG

#1029 Extended examples as a section of examples
  doc/Makefile
  doc/source/conf.py
  doc/source/examples/extended_examples/Python_UPF/python_upf_examples.rst
  doc/source/examples/extended_examples/ex_01-gmsh_example/ex_01-gmsh_example.rst
  doc/source/examples/extended_examples/ex_01-gmsh_example/gmsh_generator.py
  doc/source/examples/extended_examples/ex_01-gmsh_example/mesh_converter.py
  doc/source/examples/extended_examples/ex_01-gmsh_example/modal_analysis.py
  doc/source/examples/extended_examples/ex_01-gmsh_example/pf_coil_case_1.stp
  doc/source/examples/extended_examples/index.rst
  doc/source/examples/index.rst
  doc/source/examples/technology_showcase_examples/README.txt
  doc/source/examples/technology_showcase_examples/techdemo-1/cont_slide.png
  doc/source/examples/technology_showcase_examples/techdemo-1/ex_0-tecbrakesqueal.rst
  doc/source/examples/technology_showcase_examples/techdemo-1/gtecbrakesqueal_fig1.gif
  doc/source/examples/technology_showcase_examples/techdemo-1/gtecbrakesqueal_fig10.gif
  doc/source/examples/technology_showcase_examples/techdemo-1/gtecbrakesqueal_fig5.gif
  doc/source/examples/technology_showcase_examples/techdemo-1/gtecbrakesqueal_fig6.png
  doc/source/examples/technology_showcase_examples/techdemo-1/gtecbrakesqueal_fig7.png
  doc/source/examples/technology_showcase_examples/techdemo-1/ndisp_21.png
  doc/source/examples/technology_showcase_examples/techdemo-1/ndisp_21_linear.png
  doc/source/examples/technology_showcase_examples/techdemo-1/ndisp_22.png
  doc/source/examples/technology_showcase_examples/techdemo-20/20-example-technology-showcase-dynamic-simulation-PCB.ipynb
  doc/source/examples/technology_showcase_examples/techdemo-20/20-example-technology-showcase-dynamic-simulation-PCB.py
  doc/source/examples/technology_showcase_examples/techdemo-20/20-example-technology-showcase-dynamic-simulation-PCB.py.md5
  doc/source/examples/technology_showcase_examples/techdemo-20/20-example-technology-showcase-dynamic-simulation-PCB.rst
  doc/source/examples/technology_showcase_examples/techdemo-20/20-example-technology-showcase-dynamic-simulation-PCB_codeobj.pickle
  doc/source/examples/technology_showcase_examples/techdemo-20/images/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_001.png
  doc/source/examples/technology_showcase_examples/techdemo-20/images/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_002.png
  doc/source/examples/technology_showcase_examples/techdemo-20/images/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_003.png
  doc/source/examples/technology_showcase_examples/techdemo-20/images/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_004.png
  doc/source/examples/technology_showcase_examples/techdemo-20/images/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_005.png
  doc/source/examples/technology_showcase_examples/techdemo-20/images/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_006.png
  doc/source/examples/technology_showcase_examples/techdemo-20/images/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_007.png
  doc/source/examples/technology_showcase_examples/techdemo-20/images/thumb/sphx_glr_20-example-technology-showcase-dynamic-simulation-PCB_thumb.png
  doc/source/mapdl_commands/post1/status.rst
  doc/source/user_guide/index.rst
  examples/00-mapdl-examples/2d_pressure_vessel.py
  examples/01-apdlmath-examples/eigen_solve.py
  examples/01-apdlmath-examples/scipy_sparse_matrix.py
  examples/01-apdlmath-examples/solve_sparse_matrix.py
  examples/02-geometry/README.txt
  examples/03-tips-n-tricks/README.txt
  examples/06-verif-manual/vm-001-statically_indeterminate_reaction_force_analysis.py
  examples/06-verif-manual/vm-002-beam_stresses_and_deflections.py
  examples/06-verif-manual/vm-003-thermally_loaded_support_structure.py
  examples/06-verif-manual/vm-004-deflection_of_a_hinged_support.py
  examples/06-verif-manual/vm-005-laterally_loaded_tapered_support_structure.py
  examples/06-verif-manual/vm-006-pinched_cylinder.py
  examples/06-verif-manual/vm-007-plastic_compression_of_a_pipe_assembly.py
  examples/06-verif-manual/vm-008-parametric_calculation.py
  examples/06-verif-manual/vm-009-large_lateral_deflection_of_unequal_stiffness_springs.py
  examples/06-verif-manual/vm-010-bending_of_a_t-shaped_beam.py
  examples/07-technology-showcase-examples/README.txt
  examples/README.txt
  pyproject.toml
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/misc.py
Labels: Enhancement

#1051 update test_grpc.py for rebranding changes
  tests/test_grpc.py
Labels: BUG, CI/CD

#1052 Allowing brackets and spaces in parameters name
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/parameters.py
  tests/test_mapdl.py
  tests/test_parameters.py
Labels: BUG, Major Priority, BLOCKER

#1047 Improving `save_ansys_path` function
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: BUG, Enhancement

#1044 Removing undesired command output
  src/ansys/mapdl/core/database/database.py
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: BUG

#1054 Command output repr
  README.rst
  src/ansys/mapdl/core/commands.py
  src/ansys/mapdl/core/mapdl.py
  tests/test_commands.py
Labels: Enhancement

#1055 Avoid `DLIST` parsing the ANSYS version
  src/ansys/mapdl/core/commands.py
  tests/test_commands.py
Labels: BUG

#1057 Improving Github docker registry logging
  .ci/start_mapdl.sh
  .github/workflows/ci.yml
  .github/workflows/nightly-doc-build.yml
  .github/workflows/nightly-mapdl-check.yml
  requirements/requirements_tests.txt
Labels: Enhancement

#1056 Fixing release notes
  .github/release.yml
Labels: BUG

#1060 Not plotting if `return_plotter` is equal `True`.
  src/ansys/mapdl/core/plotting.py
Labels: Enhancement

#1059 Fix pull request labeler
  .github/labeler.yml
  .github/release.yml
  .github/workflows/label.yml
Labels: BUG, CI/CD

#1058 Adding stale bot.
  .github/stale.yml
Labels: Enhancement, CI/CD

#1069 Adding 'AWP_ROOT' var to get_ansys_bin
  src/ansys/mapdl/core/misc.py
  tests/test_misc.py
Labels: Enhancement

#1065 Making ``tqdm`` optional
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/pool.py
Labels: Enhancement, Dependencies

#1066 Removing pyvista dependency
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/_commands/preproc/elements.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/plotting.py
  tests/test_mapdl.py
Labels: Enhancement, Dependencies

#1073 Mapdl.info property
  doc/source/api/mapdl.rst
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/misc.py
  tests/test_mapdl.py
  tests/test_misc.py
Labels: Enhancement, NEW FEATURE

#1082 `mapdl.input` not working in local and without fullpath
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: BUG
