Repository ansys/pymapdl, pull requests merged in 2022-05, with the labels that each got.

#1085 Fix labeler syntax
  .github/workflows/label.yml
Labels: BUG, CI/CD, Maintenance

#1095 Fix labels name in autolabeler
  .github/workflows/label.yml
Labels: BUG, CI/CD, Maintenance

#1092 Removing ``scooby`` dependency
  src/ansys/mapdl/core/misc.py
  tests/test_misc.py
Labels: Enhancement, NEW FEATURE

#1091 PyPIM integration
  doc/source/conf.py
  pyproject.toml
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_launcher_remote.py
Labels: Enhancement, Documentation, NEW FEATURE, Maintenance, Dependencies

#1100 Fix dependabot labeler
  .github/dependabot.yml
Labels: BUG, CI/CD, Maintenance

#1094 Fixing missing warn import
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/misc.py
  tests/test_misc.py
Labels: BUG

#1080 Fixing `TBFT` not working
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: BUG

#1109 Adding missing package to report class
  src/ansys/mapdl/core/misc.py
Labels: BUG, Enhancement

#1108 Adding contain and iter methods.
  src/ansys/mapdl/core/parameters.py
  tests/test_parameters.py
Labels: BUG, Enhancement

#1111 Minor pool documentation cleanup
  .gitignore
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/pool.py
Labels: Documentation

#1112 Bump PyPIM dependency version to ~=1.0
  pyproject.toml
Labels: Enhancement, NEW FEATURE, Maintenance, Dependencies

#1116 no longer need to pin ansys-mapdl-reader req
  .github/dependabot.yml
Labels: CI/CD, Maintenance

#1115 Adding templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/feature.yml
  CODE_OF_CONDUCT.md
  CONTRIBUTING.md
Labels: Enhancement, NEW FEATURE, CI/CD, Maintenance

#963 Boundary conditions plotting
  doc/source/api/mapdl.rst
  doc/source/images/aplot.png
  doc/source/images/bc_plot.png
  doc/source/images/bc_plot_2.png
  doc/source/user_guide/plotting.rst
  examples/00-mapdl-examples/mapdl_3d_beam.py
  src/ansys/mapdl/core/_commands/preproc/elements.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mesh_grpc.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/plotting.py
  src/ansys/mapdl/core/post.py
  tests/conftest.py
  tests/test_mapdl.py
  tests/test_misc.py
  tests/test_plotting.py
  tests/test_post.py
Labels: Enhancement, DO NOT MERGE, Documentation, NEW FEATURE

#1120 Fixing equal sign in comments and title.
  src/ansys/mapdl/core/mapdl.py
  tests/test_mapdl.py
Labels: BUG

#1130 Using non-fixed input and output files
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: BUG

#1131 Adding lathe cutter example
  doc/source/_static/lathe_cutter_model.png
  examples/00-mapdl-examples/lathe_cutter.py
  src/ansys/mapdl/core/examples/downloads.py
  tests/test_examples.py
Labels: Documentation, Examples

#1123 Adding pickable nodes
  examples/00-mapdl-examples/lathe_cutter.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/plotting.py
  tests/test_mapdl.py
  tests/test_misc.py
  tests/test_plotting.py
Labels: Enhancement, Documentation, NEW FEATURE

#1141 Fix empty arg in ``_get_args_xsel``
  src/ansys/mapdl/core/misc.py
Labels: BUG, Critical Priority

#731 Example/Tech demo 28
  .gitignore
  doc/source/examples/index.rst
  doc/source/examples/technology_showcase_examples/README.txt
  doc/source/examples/technology_showcase_examples/techdemo-1/ex_0-tecbrakesqueal.rst
  doc/source/examples/technology_showcase_examples/techdemo-28/ex_28-tecfricstir.rst
  doc/source/examples/technology_showcase_examples/techdemo-28/graphics/gtecfricstir-anim.gif
  doc/source/examples/technology_showcase_examples/techdemo-28/graphics/gtecfricstir_fig17.png
  doc/source/examples/technology_showcase_examples/techdemo-28/graphics/gtecfricstir_fig3.png
  pyproject.toml
  requirements/requirements_docs.txt
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/plotting.py
Labels: Documentation, Examples, Maintenance, Dependencies

#1119 Add checks before accessing database
  src/ansys/mapdl/core/database/__init__.py
  src/ansys/mapdl/core/database/database.py
  src/ansys/mapdl/core/database/elems.py
  src/ansys/mapdl/core/database/nodes.py
  tests/test_database.py
Labels: Enhancement

#1143 disable download bar always on
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: BUG

#1151 Making PIM package lazy
  src/ansys/mapdl/core/launcher.py
Labels: Enhancement, NEW FEATURE
