Repository ansys/pymapdl, pull requests merged in 2023-01, with the labels that each got.

#1522 Reusing ``_raise_output_errors`` in ``_flush_stored``
  .github/workflows/ci.yml
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_errors.py
  tests/test_mapdl.py
  tests/test_parameters.py
Labels: Enhancement, New Feature

#1747 Adding ``avoid non interactive`` non-documented argument
  doc/source/user_guide/troubleshoot.rst
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/parameters.py
  tests/test_mapdl.py
Labels: Enhancement, New Feature

#1764 Fixing dash typos
  doc/source/examples/extended_examples/dash/dash_example.rst
  doc/source/links.rst
Labels: BUG, Documentation

#1746 Catching MAPDL process output
  doc/source/api/logging.rst
  examples/00-mapdl-examples/composite_dcb.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_corba.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: Enhancement, Documentation, New Feature

#1772 Removing ubuntu local from release requirements
  .github/workflows/ci.yml
Labels: BUG, CI/CD, Maintenance

#1769 Upgrading dev version.
  pyproject.toml
Labels: Enhancement, New Feature, Maintenance, Dependencies

#1780 Avoiding use 'self._path' in '_verify_local'
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: BUG

#1782 Coming back to old release procedures
  .github/workflows/ci.yml
Labels: BUG, CI/CD, Maintenance

#1763 Skipping license check on launching MAPDL instance for test
  tests/conftest.py
Labels: BUG

#1783 Adding v23.1 to the CI/CD
  .github/workflows/ci.yml
Labels: Enhancement, New Feature, CI/CD, Maintenance

#1784 Removing temporary files at the end of execution
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: Enhancement, New Feature

#1473 FEAT: deprecate check_version.py in favor of pyansys-tools-versioning
  pyproject.toml
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/check_version.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/math.py
  tests/test_krylov.py
  tests/test_math.py
  tests/test_xpl.py
Labels: Enhancement, New Feature, Maintenance, Dependencies

#1767 Standarize the file name and location functions/approaches.
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
  tests/test_math.py
Labels: BUG

#1786 Remove direct dependency
  pyproject.toml
Labels: Enhancement, New Feature, Maintenance, Dependencies

#1790 Removing uploading html docs
  .github/workflows/ci.yml
Labels: BUG, CI/CD, Maintenance

#1795 Generate macOS wheels when releasing
  .github/workflows/ci.yml
  pyproject.toml
Labels: CI/CD, Maintenance, Dependencies

#1798 Fixing ``__del__`` method
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: BUG, Maintenance, Dependencies

#1768 on_docker tests not correctly designed
  src/ansys/mapdl/core/mapdl.py
  tests/test_mapdl.py
Labels: BUG

#1801 Improving stability of ubuntu local tests
  .github/workflows/ci.yml
  pyproject.toml
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/build_static_beam.py
  tests/conftest.py
  tests/test_launcher.py
  tests/test_mapdl.py
Labels: BUG

#1800 Filtering out the extra zips
  .github/workflows/ci.yml
Labels: BUG, CI/CD, Maintenance

#1807 Use grpcio==1.51.1 for docbuild
  pyproject.toml
Labels: BUG, Maintenance, Dependencies

#1793 Update building_example.rst
  doc/source/api/building_example.rst
Labels: Documentation

#1809 Attemping to resync the labels to avoid later comment
  .github/workflows/label.yml
Labels: BUG, CI/CD, Maintenance

#1820 Updating pre-commit
  .pre-commit-config.yaml
Labels: BUG, CI/CD
