Repository ansys/pymapdl, pull requests merged in 2023-09, with the labels that each got.

#2276 Check kwarg in mapdl.run
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_mapdl.py
Labels: Enhancement

#2297 Quick fix in an example
  examples/00-mapdl-examples/2d_plate_with_a_hole.py
Labels: BUG, Documentation, Examples

#2295 Fixing `post_processing` plots
  src/ansys/mapdl/core/plotting.py
Labels: BUG, Critical Priority

#2300 Improving SATIN command
  src/ansys/mapdl/core/mapdl.py
Labels: Enhancement, New Feature

#2303 Fixing pool example
  doc/source/user_guide/pool.rst
Labels: Documentation

#2304 Updating checkout action
  .github/workflows/cache_cleaner.yml
  .github/workflows/ci.yml
  .github/workflows/label.yml
  .github/workflows/linkchecker.yml
  .github/workflows/nightly-doc-build.yml
  doc/source/examples/extended_examples/executable/executable.rst
Labels: Documentation, CI/CD, Maintenance

#2294 Removing nightly doc build
  .github/workflows/nightly-doc-build.yml
Labels: Enhancement, New Feature, CI/CD, Maintenance

#2293 Adding `mapdl.solution()` to enter in solution processor
  src/ansys/mapdl/core/solution.py
  tests/test_solution.py
Labels: Enhancement, New Feature

#2307 Adding bot which open an issue if the scheduled build fails
  .github/labels.yml
  .github/workflows/ci.yml
Labels: CI/CD, Maintenance

#2309 Document better the arguments "replace_env_vars" and "add_env_vars"
  src/ansys/mapdl/core/launcher.py
Labels: Documentation

#2312 Allowing extended testing on dispatch (optional) and schedule
  .ci/start_mapdl.sh
  .ci/start_mapdl_ubuntu.sh
  .github/workflows/ci.yml
  tests/test_solution.py
Labels: CI/CD, Maintenance

#2319 Fixing area meshing error in doc build
  examples/00-mapdl-examples/pressure_vessel.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/misc.py
Labels: BUG, Documentation, CI/CD

#2327 Small improvements in the devcontainer configuration
  .devcontainer/docker-compose.yml
  .devcontainer/script.sh
Labels: CI/CD

#2277 Pool improvements
  .github/workflows/ci.yml
  doc/source/user_guide/pool.rst
  examples/00-mapdl-examples/geometry.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/pool.py
  tests/test_database.py
  tests/test_pool.py
Labels: Enhancement, Documentation, New Feature

#2311 Improving connection commands testing
  .github/workflows/ci.yml
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_files/CAD_formats/CubeWithHole.CATPart
  tests/test_files/CAD_formats/CubeWithHole.igs
  tests/test_files/CAD_formats/CubeWithHole.sat
  tests/test_files/CAD_formats/CubeWithHole.x_t
  tests/test_importing_geometries.py
Labels: Enhancement, CI/CD

#2322 Small fixes in Krylov example
  doc/source/examples/extended_examples/Krylov/krylov_example.rst
Labels: Documentation

#2324 Supporting launching MAPDL from WSL
  doc/source/getting_started/macos.rst
  doc/source/getting_started/wsl.rst
  doc/source/links.rst
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: Enhancement, New Feature

#2337 Adding codecov token
  .github/workflows/ci.yml
Labels: CI/CD, Maintenance

#2338 Fix locally build docs in Windows
  doc/source/user_guide/math.rst
  examples/00-mapdl-examples/composite_dcb.py
  examples/00-mapdl-examples/cyclic_static.py
  src/ansys/mapdl/core/krylov.py
  src/ansys/mapdl/core/xpl.py
Labels: BUG, Documentation

#2340 Added articles to recommended
  doc/source/getting_started/learning.rst
  doc/source/links.rst
Labels: Documentation

#2339 Fix geometry connection command tests on earlier MAPDL versions
  .github/workflows/ci.yml
  .github/workflows/linkchecker.yml
  tests/common.py
  tests/conftest.py
  tests/test_importing_geometries.py
Labels: BUG, CI/CD, Maintenance

#2343 Using quicker configuration to launch mapdl in unit tests
  tests/conftest.py
  tests/test_launcher.py
  tests/test_launcher_remote.py
  tests/test_licensing.py
  tests/test_mapdl.py
  tests/test_pool.py
Labels: Enhancement, CI/CD

#2342 Fixing no saving on exit
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: BUG, Enhancement, New Feature, MAPDL

#2348 Bumping to 0.67.dev
  pyproject.toml
Labels: Enhancement, New Feature, Maintenance, Dependencies

#2332 Add modal example
  .github/workflows/ci.yml
  examples/00-mapdl-examples/3d_notch.py
  examples/00-mapdl-examples/modal_beam.py
Labels: Documentation

#2353 Adding lines to `kplot` and `nplot` when using mouse picking
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/plotting.py
  tests/test_plotting.py
Labels: Enhancement, New Feature

#2368 doc: enhance search bar experience by using pymeilisearch
  .github/workflows/ci.yml
  doc/source/conf.py
Labels: Documentation, CI/CD, Maintenance

#2375 Adding conditions for 24.1
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/plotting.py
  tests/test_importing_geometries.py
  tests/test_mapdl.py
  tests/test_plotting.py
Labels: CI/CD

#2341 Removing edit button fix
  doc/source/_templates/edit-this-page.html
  doc/source/conf.py
  src/ansys/mapdl/core/docs.py
  tests/test_docs.py
Labels: Documentation
