Repository ansys/pymapdl, pull requests merged in 2023-08, with the labels that each got.

#2194 Updating pyvista to 0.41
  doc/source/conf.py
  pyproject.toml
  src/ansys/mapdl/core/theme.py
  tests/test_dpf.py
  tests/test_pool.py
Labels: Maintenance, Dependencies

#2228 Fixing vale warnings
  doc/source/getting_started/versioning.rst
Labels: BUG, Documentation

#2229 Small improvements to approver.
  .github/workflows/approver.yml
Labels: CI/CD, Maintenance

#2008 Update basic_dpf_example.py
  doc/source/user_guide/convert.rst
  examples/00-mapdl-examples/basic_dpf_example.py
  examples/00-mapdl-examples/composite_dcb.py
Labels: Documentation

#2234 Update release branch for 0.65.2
  doc/source/conf.py
  pyproject.toml
  src/ansys/mapdl/core/theme.py
  tests/test_dpf.py
  tests/test_pool.py
Labels: Documentation, Maintenance, Dependencies

#2233 Adding a body flux example
  doc/source/_static/model_solenoid_2d.png
  doc/source/conf.py
  examples/00-mapdl-examples/BodyFlux-Averaging.py
  src/ansys/mapdl/core/mapdl.py
Labels: Documentation, Examples

#2235 Add links for doc and cheat sheet
  README.rst
  doc/source/index.rst
Labels: Documentation

#2247 Fix reminder bot
  .github/labels.yml
Labels: BUG, CI/CD, Maintenance

#2231 Adding info about docker and MacOS
  .devcontainer/README.rst
  .github/workflows/ci.yml
  doc/source/conf.py
  doc/source/examples/index.rst
  doc/source/getting_started/contribution.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/learning.rst
  doc/source/getting_started/macos.rst
  doc/source/getting_started/running_mapdl.rst
  doc/source/getting_started/versioning.rst
  doc/source/links.rst
  doc/source/substitutions.rst
  doc/source/user_guide/database.rst
  doc/source/user_guide/pool.rst
  doc/source/user_guide/troubleshoot.rst
  doc/styles/Vocab/ANSYS/accept.txt
  docker/docker-compose.dpf.yml
  docker/docker-compose.license_server.yml
  docker/docker-compose.yml
Labels: Documentation, CI/CD

#2243 Using python 3.10 as default
  .github/workflows/ci.yml
Labels: CI/CD, Maintenance

#2246 Exposing more internal properties.
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: Enhancement, New Feature

#2240 Fixing linkcheck CICD
  .github/workflows/linkchecker.yml
  doc/source/api/unit_testing.rst
  doc/source/conf.py
  doc/source/getting_started/docker.rst
  doc/source/links.rst
  doc/source/substitutions.rst
  examples/00-mapdl-examples/cyclic_analysis.py
  src/ansys/mapdl/core/component.py
  src/ansys/mapdl/core/krylov.py
  src/ansys/mapdl/core/mapdl_geometry.py
  src/ansys/mapdl/core/parameters.py
  src/ansys/mapdl/core/solution.py
Labels: BUG, Documentation

#2251 Removing listing files in build docs.
  .github/workflows/ci.yml
Labels: BUG, CI/CD, Maintenance

#2252 Updating plotly.
  pyproject.toml
Labels: Maintenance, Dependencies

#2257 Removing extension from file name, and using explicitly the ext field.
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: BUG

#2262 Fixing link in approver comment
  .github/workflows/approver.yml
Labels: BUG, CI/CD, Maintenance

#2263 Added distributed test
  tests/conftest.py
  tests/test_mapdl.py
Labels: Enhancement, New Feature

#2207 Mesh selection
  src/ansys/mapdl/core/_commands/database/selecting.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_geometry.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/plotting.py
  src/ansys/mapdl/core/theme.py
  tests/test_plotting.py
Labels: Enhancement, DO NOT MERGE, New Feature

#2261 Update sphinx
  doc/source/conf.py
  pyproject.toml
Labels: Maintenance, Dependencies

#2267 Fix ASBL command
  src/ansys/mapdl/core/_commands/preproc/booleans.py
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: BUG

#2268 Updating ansys-sphinx-theme to 0.10.4
  pyproject.toml
  src/ansys/mapdl/core/plotting.py
Labels: Maintenance, Dependencies

#2269 More reorg rebranding
  .devcontainer/README.rst
  .github/workflows/label.yml
  README.rst
  doc/source/api/building_example.rst
  doc/source/getting_started/contribution.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/versioning.rst
  docker/make_container.rst
  examples/00-mapdl-examples/pressure_vessel.py
  src/ansys/mapdl/core/docs.py
  src/ansys/mapdl/core/examples/downloads.py
  src/ansys/mapdl/core/jupyter.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/plotting.py
  tests/test_docs.py
  tests/test_grpc.py
Labels: Documentation, CI/CD, Maintenance
