Repository ansys/pymapdl, pull requests merged in 2023-07, with the labels that each got.

#2041 Implementing component manager
  doc/source/api/components.rst
  doc/source/api/index.rst
  src/ansys/mapdl/core/_commands/database/components.py
  src/ansys/mapdl/core/component.py
  src/ansys/mapdl/core/errors.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/logging.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_geometry.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/parameters.py
  tests/common.py
  tests/conftest.py
  tests/test_component.py
  tests/test_database.py
  tests/test_grpc.py
  tests/test_mesh_grpc.py
Labels: Enhancement, New Feature

#2162 Fixing type annotation in python 3.8
  src/ansys/mapdl/core/logging.py
Labels: BUG

#2163 Rolling back static python and scipy for python3.8 support
  pyproject.toml
  src/ansys/mapdl/core/component.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/plotting.py
Labels: BUG, Maintenance, Dependencies

#2174 Adding trame
  pyproject.toml
Labels: Enhancement, Documentation, New Feature, Maintenance, Dependencies

#2175 Updating pymapdl-reader
  pyproject.toml
Labels: BUG, Documentation, CI/CD, Maintenance, Dependencies

#2172 Fix redirection and link checker
  .github/workflows/linkchecker.yml
  doc/source/conf.py
  pyproject.toml
Labels: BUG, Documentation, CI/CD, Maintenance, Dependencies

#2186 Adding missing `mapdl.tbdele` argument
  src/ansys/mapdl/core/_commands/preproc/material_data_tables.py
Labels: BUG

#2182 Updating docker targets
  docker/docker-compose.dpf.yml
  docker/docker-compose.license_server.yml
  docker/docker-compose.yml
Labels: BUG, CI/CD

#1912 Implementing unique session id
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/errors.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/mapdl_types.py
  src/ansys/mapdl/core/parameters.py
  src/ansys/mapdl/core/pool.py
  tests/conftest.py
  tests/test_examples.py
  tests/test_grpc.py
  tests/test_mapdl.py
Labels: Enhancement, DO NOT MERGE, New Feature, CI/CD, Maintenance

#2176 Adding timeout to pool.__getitem__
  src/ansys/mapdl/core/pool.py
Labels: BUG

#2170 Fixing and extending theme.
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/examples/examples.py
  src/ansys/mapdl/core/theme.py
  tests/test_theme.py
Labels: BUG, Documentation

#2135 Improving 'file' command and testing
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: BUG

#2198 Fixing pyvista to 0.40.X
  pyproject.toml
Labels: Maintenance, Dependencies

#2141 Fix having to plot twice to get a file with size bigger than 3kb
  src/ansys/mapdl/core/mapdl.py
  tests/test_plotting.py
Labels: BUG

#2200 NumPy version depending on Python version
  pyproject.toml
Labels: Documentation, Maintenance, Dependencies

#2203 Bump `ansys-mapdl-reader` to 0.52.19
  pyproject.toml
Labels: Maintenance, Dependencies

#2125 Homogenizing geometry API
  doc/Makefile
  doc/source/api/geometry.rst
  doc/source/images/multiblock_pic1.png
  doc/source/images/multiblock_pic2.png
  doc/source/images/multiblock_pic3.png
  doc/source/user_guide/mesh_geometry.rst
  examples/01-geometry/00-keypoints.py
  examples/01-geometry/01-lines.py
  examples/01-geometry/02-areas.py
  examples/01-geometry/03-volumes.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_geometry.py
  tests/conftest.py
  tests/test_component.py
  tests/test_geometry.py
  tests/test_mapdl.py
  tests/test_mesh_grpc.py
Labels: Enhancement, New Feature

#2192 Detaching `examples`
  src/ansys/mapdl/core/__init__.py
  tests/test_examples.py
Labels: Enhancement, New Feature

#2046 fix: Force render in example
  .github/workflows/ci.yml
  doc/source/images/dcb.gif
  examples/00-mapdl-examples/composite_dcb.py
Labels: BUG, Documentation

#2205 using PNG by default for plots.
  doc/source/api/mapdl.rst
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_plotting.py
Labels: Enhancement, Documentation, New Feature

#2195 Fixing area coloring
  .github/workflows/ci.yml
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/plotting.py
  src/ansys/mapdl/core/theme.py
  tests/test_plotting.py
Labels: BUG, Enhancement, New Feature

#2216 Removing xfails.
  tests/test_launcher.py
  tests/test_mapdl.py
  tests/test_misc.py
  tests/test_parameters.py
  tests/test_plotting.py
Labels: Enhancement, Maintenance

#2218 Supporting CMPLOT
  src/ansys/mapdl/core/mapdl.py
  tests/test_plotting.py
Labels: Enhancement, New Feature

#2215 Update sphinx to 7.1.1
  pyproject.toml
Labels: Maintenance, Dependencies

#2217 Small improvements to issues templates
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/config.yml
Labels: CI/CD, Maintenance

#2220 Adding v24.1 to cicd
  .github/workflows/ci.yml
Labels: CI/CD, Maintenance

#2214 Adding missing import in queries
  src/ansys/mapdl/core/inline_functions/core.py
Labels: BUG
