Repository ansys/pymapdl, pull requests merged in 2023-04, with the labels that each got.

#1959 Expose Vector Scaling introduced in MAPDL V232
  src/ansys/mapdl/core/_commands/apdl/matrix_op.py
  src/ansys/mapdl/core/math.py
  tests/test_math.py
Labels: Enhancement, New Feature

#1965 Removing nightly MAPDL check
  .github/workflows/nightly-mapdl-check.yml
Labels: CI/CD, Maintenance

#1962 Applying pyansys/actions v0.4 patch on 0.63
  .github/workflows/ci.yml
  doc/source/_templates/sidebar-nav-bs.html
  doc/source/conf.py
  requirements/requirements_doc.txt
  requirements/requirements_tests.txt
  src/ansys/mapdl/core/_commands/solution/load_step_operations.py
Labels: BUG, Documentation, CI/CD, Maintenance, Dependencies

#1963 Applying pyansys/actions v0.4 patch on 0.62
  .github/workflows/ci.yml
  doc/source/_templates/sidebar-nav-bs.html
  doc/source/conf.py
  requirements/requirements_doc.txt
  requirements/requirements_tests.txt
Labels: BUG, Documentation, CI/CD, Maintenance, Dependencies

#1964 Applying pyansys/actions v0.4 patch on 0.61
  .ci/start_mapdl.sh
  .github/workflows/ci.yml
  doc/source/_templates/sidebar-nav-bs.html
  doc/source/conf.py
  requirements/requirements_doc.txt
  requirements/requirements_tests.txt
Labels: Documentation, CI/CD

#1969 Patch/activating-patch-ci-0.63
  .github/workflows/ci.yml
Labels: BUG, CI/CD, Maintenance

#1970 Patch/activating-patch-ci-0.62
  .github/workflows/ci.yml
Labels: BUG, CI/CD, Maintenance

#1961 Implementing pyansys/actions v0.4
  .github/workflows/ci.yml
  doc/source/conf.py
  doc/source/links.rst
Labels: Documentation, CI/CD, Maintenance

#1973 Fix/pyvista-package-version-in-release-0.62
  requirements/requirements_doc.txt
Labels: BUG, Dependencies

#1981 Updating sphinx theme
  pyproject.toml
Labels: Maintenance, Dependencies

#1978 Methods for nodes location in current cs and nodes rotation
  doc/source/user_guide/post.rst
  src/ansys/mapdl/core/commands.py
  src/ansys/mapdl/core/mesh_grpc.py
  tests/test_mesh_grpc.py
Labels: Enhancement, New Feature, Maintenance, Dependencies

#1986 Reducing MAPDL versions testing
  .github/workflows/ci.yml
Labels: CI/CD, Maintenance

#1982 Exposing item3, it3num, item4, and it4num in `*GET` command
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: BUG, Enhancement, New Feature

#1976 Fixing whitespace bug in IGESIN.
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: BUG

#1987 Allowing extended testing on release
  .github/workflows/ci.yml
Labels: Enhancement, New Feature, CI/CD, Maintenance

#1988 Fixing plotting elements with midnodes
  src/ansys/mapdl/core/mesh/mesh.py
  tests/conftest.py
  tests/test_mapdl.py
Labels: BUG

#1989 Adding v23.2 and switching to private containers
  .github/workflows/ci.yml
Labels: CI/CD, Maintenance

#2000 Drop support for VTK v8
  pyproject.toml
  src/ansys/mapdl/core/mesh/mesh.py
Labels: BUG, Maintenance, Dependencies

#2001 Fixing cheatsheet link
  doc/source/getting_started/learning.rst
Labels: BUG, Documentation

#1997 Fixing not passing ``comp`` to the ``nodal_values`` function
  src/ansys/mapdl/core/post.py
  tests/test_plotting.py
Labels: BUG

#1995 Use ansys-tools-path package
  .github/workflows/ci.yml
  doc/Makefile
  doc/source/api/launcher.rst
  doc/source/conf.py
  doc/source/links.rst
  doc/source/substitutions.rst
  doc/source/user_guide/troubleshoot.rst
  pyproject.toml
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/commands.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/misc.py
  tests/conftest.py
  tests/test_launcher.py
  tests/test_mapdl.py
  tests/test_misc.py
  tests/test_pool.py
Labels: Enhancement, Documentation, New Feature, Maintenance, Dependencies

#2014 Improving env var section
  doc/source/user_guide/mapdl.rst
Labels: Documentation

#2017 Return all the subtitles even if they are empty.
  src/ansys/mapdl/core/misc.py
  tests/test_misc.py
Labels: BUG, Enhancement

#2010 Raising error if using non allowed argument
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_launcher.py
Labels: Enhancement, New Feature

#2015 Small fixes and typos
  doc/source/user_guide/post.rst
  examples/00-mapdl-examples/composite_dcb.py
Labels: BUG, Documentation

#2016 Removing duplicated code
  .github/workflows/ci.yml
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: Enhancement, New Feature

#2022 Allowing to use ``input`` and ``input_strings`` inside ``non_interactive``
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: BUG

#2028 Adding more methods to ``Parameters``
  src/ansys/mapdl/core/parameters.py
Labels: Enhancement, New Feature

#2025 Implementing ``checking_valid_IP`` on MapdlGrpc classs
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: Enhancement, New Feature

#2024 Implementing ``rlblock``'s methods to parse ``R`` constants
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mesh_grpc.py
  tests/test_mapdl.py
  tests/test_mesh_grpc.py
Labels: Enhancement, New Feature
