Repository ansys/pymapdl, pull requests merged in 2023-05, with the labels that each got.

#2034 Adding more info to learning section
  .github/workflows/ci.yml
  doc/source/api/helper.rst
  doc/source/conf.py
  doc/source/examples/extended_examples/executable/executable.rst
  doc/source/examples/pymapdl_examples_repo/index.rst
  doc/source/getting_started/Cheat_Sheet_PyMAPDL.pdf
  doc/source/getting_started/learning.rst
  doc/source/links.rst
  doc/source/user_guide/lic_guide.pdf
  doc/source/user_guide/troubleshoot.rst
  doc/styles/Vocab/ANSYS/accept.txt
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/misc.py
Labels: Documentation

#2026 Expanding ``non_interactive`` documentation
  doc/source/api/mapdl.rst
  doc/source/user_guide/mapdl.rst
  src/ansys/mapdl/core/mapdl.py
Labels: Documentation

#2035 Allowing >22.2 versions for database module
  src/ansys/mapdl/core/database/__init__.py
  src/ansys/mapdl/core/database/database.py
  tests/test_database.py
Labels: BUG

#2039 Making contains method case insenstive
  src/ansys/mapdl/core/docs.py
  src/ansys/mapdl/core/parameters.py
  tests/test_mapdl.py
  tests/test_parameters.py
Labels: BUG

#2020 Adding test to mapdl.exit
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: BUG

#2030 Allowing iterables in other XSEL commands
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_geometry.py
  src/ansys/mapdl/core/misc.py
  tests/test_mapdl.py
  tests/test_plotting.py
Labels: Enhancement, New Feature

#2042 Windows tests
  src/ansys/mapdl/core/docs.py
  src/ansys/mapdl/core/mapdl.py
  tests/conftest.py
  tests/test_launcher.py
Labels: BUG, Enhancement

#2056 maint: change PyAnsys actions ref
  .github/workflows/ci.yml
  .github/workflows/nightly-doc-build.yml
  pyproject.toml
Labels: CI/CD, Maintenance

#2036 Reformatting code blocks
  .devcontainer/README.rst
  README.rst
  doc/source/api/building_example.rst
  doc/source/getting_started/contribution.rst
  doc/source/getting_started/running_mapdl.rst
  doc/source/getting_started/using_julia.rst
  doc/source/getting_started/wsl.rst
  doc/source/user_guide/convert.rst
  doc/source/user_guide/troubleshoot.rst
  docker/make_container.rst
  src/ansys/mapdl/core/launcher.py
Labels: Documentation, CI/CD

#2065 Skipping test database test in v22.2
  tests/test_database.py
Labels: CI/CD

#2083 Fixing missing full file
  examples/01-apdlmath-examples/eigen_solve.py
  examples/01-apdlmath-examples/scipy_sparse_matrix.py
  examples/01-apdlmath-examples/solve_sparse_matrix.py
  src/ansys/mapdl/core/misc.py
Labels: BUG, Documentation

#2054 Fixing dependencies
  doc/source/conf.py
  pyproject.toml
Labels: BUG, DO NOT MERGE, Documentation, Maintenance, Dependencies

#2069 Using a function to get branch name
  src/ansys/mapdl/core/docs.py
  src/ansys/mapdl/core/misc.py
  tests/conftest.py
  tests/test_docs.py
Labels: Enhancement, New Feature

#2064 Improving windows data path
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/launcher.py
Labels: BUG

#2068 Improving cache management
  .github/workflows/cache_cleaner.yml
  .github/workflows/ci.yml
Labels: Enhancement, CI/CD, Maintenance, Dependencies

#2091 Improving bug template
  .github/ISSUE_TEMPLATE/bug.yml
Labels: CI/CD, Maintenance

#2074 add cpxmod field to eigs function in math module
  src/ansys/mapdl/core/math.py
Labels: BUG, Enhancement
