Repository ansys/pymapdl, pull requests merged in 2023-06, with the labels that each got.

#2098 Fixing linkcode tests for release
  tests/test_docs.py
Labels: BUG

#2097 Bump to 0.66
  pyproject.toml
Labels: New Feature, Maintenance, Dependencies

#2094 Fixing upper version limit
  tests/test_mapdl.py
Labels: BUG, Enhancement

#2099 Rendering the last 5 versions in documentation
  .github/workflows/ci.yml
Labels: Documentation, CI/CD, Maintenance

#2110 Updating pyiges package flag
  pyproject.toml
Labels: BUG, Maintenance, Dependencies

#2088 Fix mutidependabot ci
  .github/workflows/dependabot.yml
Labels: BUG, CI/CD, Maintenance

#2117 Dropping Python 3.7 support
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/examples.yml
  .github/workflows/ci.yml
  README.rst
  doc/source/getting_started/index.rst
  doc/source/user_guide/upf.rst
  pyproject.toml
  tox.ini
Labels: Documentation, CI/CD, Maintenance, Dependencies

#2100 add a section to convert the app to an executable to examples
  doc/source/examples/extended_examples/executable/cli_rotor.spec
  doc/source/examples/extended_examples/executable/executable.rst
  doc/source/links.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: Documentation

#2118 Fix/logging
  src/ansys/mapdl/core/logging.py
Labels: BUG

#2129 replace appdirs by platformdirs
  .github/workflows/dependabot.yml
  pyproject.toml
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/misc.py
Labels: Enhancement, New Feature, CI/CD, Maintenance, Dependencies

#2124 Fixing cache cleanup
  .github/workflows/cache_cleaner.yml
Labels: CI/CD, Maintenance

#2090 Links checker and redirection capabilities
  .github/workflows/linkchecker.yml
  CONTRIBUTING.md
  README.rst
  doc/Makefile
  doc/source/conf.py
  doc/source/getting_started/wsl.rst
  doc/source/links.rst
  examples/00-mapdl-examples/basic_dpf_example.py
  examples/00-mapdl-examples/cyclic_analysis.py
  src/ansys/mapdl/core/_commands/solution/load_step_operations.py
Labels: Documentation, CI/CD, Maintenance

#2143 Allowing savefig when vtk=false
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: Enhancement, New Feature

#2140 Fixing Pyvista for the next release
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/mapdl_geometry.py
Labels: BUG

#2147 Fix/mapdl_download
  src/ansys/mapdl/core/common_grpc.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_console.py
  tests/test_grpc.py
  tests/test_krylov.py
  tests/test_mapdl.py
Labels: BUG

#2152 Fixing non existing argument
  src/ansys/mapdl/core/_commands/database/components.py
Labels: BUG

#2126 Testing coverage changes
  .github/workflows/ci.yml
  README.rst
  src/ansys/mapdl/core/_commands/preproc/explicit_dynamics.py
  src/ansys/mapdl/core/common_grpc.py
  src/ansys/mapdl/core/examples/downloads.py
  src/ansys/mapdl/core/krylov.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/licensing.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_corba.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/xpl.py
  tests/common.py
  tests/conftest.py
  tests/test_console.py
  tests/test_corba.py
  tests/test_docs.py
  tests/test_dpf.py
  tests/test_geometry.py
  tests/test_grpc.py
  tests/test_launcher.py
  tests/test_licensing.py
  tests/test_logging.py
  tests/test_mapdl.py
  tests/test_plotting.py
  tests/test_pool.py
  tests/test_post.py
Labels: CI/CD
