Repository ansys/pymapdl, pull requests merged in 2023-11, with the labels that each got.

#2443 Create a minimal requirements file
  .ci/run_vms.py
  .github/workflows/ci.yml
  doc/source/getting_started/contribution.rst
  minimum_requirements.txt
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/convert.py
  src/ansys/mapdl/core/examples/downloads.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/licensing.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_console.py
  src/ansys/mapdl/core/mapdl_corba.py
  src/ansys/mapdl/core/mapdl_geometry.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/mesh_grpc.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/pool.py
  src/ansys/mapdl/core/theme.py
  src/ansys/mapdl/core/xpl.py
  tests/.image_cache/bc_plot_options[False-False-False].png
  tests/.image_cache/bc_plot_options[False-False-True].png
  tests/.image_cache/bc_plot_options[False-True-False].png
  tests/.image_cache/bc_plot_options[False-True-True].png
  tests/.image_cache/bc_plot_options[True-False-False].png
  tests/.image_cache/bc_plot_options[True-False-True].png
  tests/.image_cache/bc_plot_options[True-True-False].png
  tests/.image_cache/bc_plot_options[True-True-True].png
  tests/common.py
  tests/conftest.py
  tests/test_commands.py
  tests/test_component.py
  tests/test_console.py
  tests/test_convert.py
  tests/test_corba.py
  tests/test_database.py
  tests/test_dpf.py
  tests/test_element.py
  tests/test_examples.py
  tests/test_files/sector.cdb
  tests/test_geometry.py
  tests/test_grpc.py
  tests/test_inline_functions/test_query.py
  tests/test_krylov.py
  tests/test_launcher.py
  tests/test_launcher_remote.py
  tests/test_licensing.py
  tests/test_logging.py
  tests/test_mapdl.py
  tests/test_mesh_grpc.py
  tests/test_misc.py
  tests/test_plotting.py
  tests/test_pool.py
  tests/test_post.py
  tests/test_theme.py
  tests/test_xpl.py
Labels: Enhancement, New Feature, CI/CD, Maintenance

#2475 Fix vale 2.29.6
  .github/workflows/ci.yml
  doc/.vale.ini
  doc/source/api/unit_testing.rst
  doc/source/examples/devportal.rst
  doc/source/examples/extended_examples/executable/executable.rst
  doc/source/getting_started/contribution.rst
  doc/source/getting_started/learning.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/krylov.rst
  doc/source/user_guide/mesh_geometry.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: BUG, Documentation, CI/CD, Maintenance

#2469 Limiting the python upper version to 3.11
  pyproject.toml
Labels: Maintenance, Dependencies

#2470 Adding context to install/support jupyter lab
  README.rst
  doc/.vale.ini
  pyproject.toml
Labels: Enhancement, New Feature, Maintenance, Dependencies

#2476 Fixing plot indexing
  src/ansys/mapdl/core/post.py
  tests/test_post.py
Labels: BUG, Enhancement

#2485 Adding global unit test duration limit
  .ci/run_vms.py
  .github/workflows/ci.yml
  pyproject.toml
Labels: CI/CD, Maintenance, Dependencies

#2471 Improving Components API
  doc/source/user_guide/components.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/parameters.rst
  examples/00-mapdl-examples/2d_pressure_vessel.py
  examples/00-mapdl-examples/composite_dcb.py
  src/ansys/mapdl/core/component.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mesh_grpc.py
  tests/test_component.py
  tests/test_mesh_grpc.py
Labels: Enhancement, New Feature

#2467 Fix `mapdl.get` always asking for multiline output when using `item3`
  src/ansys/mapdl/core/mapdl.py
Labels: BUG

#2492 Removing vm step from minimal
  .ci/run_vms.py
  .github/workflows/ci.yml
Labels: BUG, CI/CD, Maintenance

#2489 Referencing the PDF in the docs
  doc/source/conf.py
  doc/source/index.rst
  doc/source/links.rst
Labels: Documentation

#2483 Implementing memory limitations in dockerizer jobs
  .ci/start_mapdl.sh
  .ci/start_mapdl_ubuntu.sh
  .github/workflows/ci.yml
Labels: CI/CD, Maintenance

#2484 Avoiding running `get_array` and `non_interactive` raising exceptions
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: BUG

#2495 Delaying codecov report until CI is finished
  codecov.yml
Labels: CI/CD, Maintenance

#2514 Fixing CICD: Adding missing `libgomp1` dependency
  .github/workflows/ci.yml
Labels: CI/CD, Maintenance

#2490 Reducing README to avoid duplicity
  README.rst
Labels: Documentation

#2487 Removing skip regression check cli argument
  .github/workflows/ci.yml
  tests/conftest.py
Labels: BUG, CI/CD, Maintenance

#2507 feat: add support for Python 3.12
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/examples.yml
  .github/workflows/ci.yml
  doc/source/getting_started/index.rst
  doc/source/user_guide/upf.rst
  pyproject.toml
  tox.ini
Labels: Enhancement, Documentation, New Feature, CI/CD, Maintenance, Dependencies

#2488 Improve launcher documentation
  doc/source/getting_started/contribution.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/faq.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/install_mapdl.rst
  doc/source/getting_started/install_pymapdl.rst
  doc/source/getting_started/launcher.rst
  doc/source/getting_started/running_mapdl.rst
  doc/source/getting_started/using_julia.rst
  doc/source/index.rst
  doc/source/links.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/launcher.rst
  doc/source/user_guide/mapdl.rst
  doc/source/user_guide/troubleshoot.rst
  examples/00-mapdl-examples/lathe_cutter.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/pool.py
Labels: Documentation

#2515 Allowing latest as version
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: Enhancement, New Feature

#2468 Moving functions to Mapdl class
  src/ansys/mapdl/core/_commands/apdl/array_param.py
  src/ansys/mapdl/core/_commands/apdl/macro_files.py
  src/ansys/mapdl/core/_commands/apdl/matrix_op.py
  src/ansys/mapdl/core/_commands/apdl/parameter_definition.py
  src/ansys/mapdl/core/_commands/session/files.py
  src/ansys/mapdl/core/_commands/session/list_controls.py
  src/ansys/mapdl/core/_commands/solution/load_step_operations.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/misc.py
  tests/test_mapdl.py
Labels: Enhancement, New Feature

#2380 Adding missing envvar for connection commands in CICD
  .ci/start_mapdl.sh
  .ci/start_mapdl_ubuntu.sh
  .github/workflows/ci.yml
Labels: BUG, CI/CD

#2496 Documenting non-interactive
  doc/source/links.rst
  doc/source/user_guide/mapdl.rst
  src/ansys/mapdl/core/parameters.py
  tests/test_parameters.py
Labels: Enhancement, Documentation

#2527 Update contributing file
  CONTRIBUTING.md
Labels: Documentation

#2522 `inquire` return something when no `=` in response
  src/ansys/mapdl/core/mapdl.py
Labels: Enhancement

#2517 Deprecating CORBA and Python 3.8
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/examples.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  codecov.yml
  pyproject.toml
  src/ansys/mapdl/core/errors.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_corba.py
  src/ansys/mapdl/core/misc.py
  tests/conftest.py
  tests/test_console.py
  tests/test_corba.py
  tests/test_grpc.py
  tests/test_launcher.py
  tests/test_mapdl.py
  tox.ini
Labels: CI/CD, Maintenance
