Repository ansys/pymapdl, pull requests merged in 2023-02, with the labels that each got.

#1829 Fixing spaces in parameter string
  src/ansys/mapdl/core/parameters.py
  tests/test_parameters.py
Labels: BUG

#1830 Adding Python 3.11
  .github/dependabot.yml
  .github/workflows/ci.yml
  .github/workflows/dependabot.yml
  tests/test_mapdl.py
Labels: CI/CD, Maintenance

#1838 Fixing some tests
  src/ansys/mapdl/core/launcher.py
  tests/test_corba.py
  tests/test_launcher.py
  tests/test_mapdl.py
  tests/test_pool.py
Labels: BUG, Enhancement

#1821 Improving mapdl.input documentation
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: BUG, Enhancement, Documentation

#1831 Recache processes to make sure we close them all.
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: Enhancement, New Feature

#1835 Homogenization of input API
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_grpc.py
Labels: Enhancement, New Feature

#1839 Removing gcc console output
  .github/workflows/ci.yml
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: BUG

#1802 Fix mapdl.eplot() silent fatal crash
  src/ansys/mapdl/core/_commands/database/components.py
Labels: BUG

#1848 Create AUTHORS.md
  AUTHORS.md
Labels: Enhancement, New Feature

#1850 Modifying the Sphinx dependency version
  pyproject.toml
Labels: Maintenance, Dependencies

#1851 Avoid checking non-existing process.
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: BUG

#1852 Removing XPASS flag
  tests/test_mapdl.py
  tests/test_parameters.py
Labels: BUG, Maintenance

#1865 Limiting the number of scalars values for colour in aplot.
  src/ansys/mapdl/core/mapdl.py
Labels: BUG

#1859 Improve error reporting when connnecting with a bad channel
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: BUG

#1868 Bump year in copyright to 2023
  LICENSE
Labels: Documentation

#1873 Allowing floats as argument. Updating docstring
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: BUG

#1875 Passing plotter not requiring return_plotter
  examples/00-mapdl-examples/3d_notch.py
  src/ansys/mapdl/core/plotting.py
Labels: Enhancement, Documentation, New Feature

#1869 Adding python cli application example
  doc/source/examples/extended_examples/executable/cli_rotor.py
  doc/source/examples/extended_examples/executable/executable.rst
  doc/source/examples/extended_examples/executable/rotor.py
  doc/source/examples/extended_examples/executable/volumes.jpg
  doc/source/examples/extended_examples/executable/volumes_with_watermark.jpg
  doc/source/examples/extended_examples/index.rst
  doc/source/examples/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: Enhancement, Documentation, New Feature

#1874 Small fixes to Versioning section
  doc/source/examples/extended_examples/executable/executable.rst
  doc/source/getting_started/versioning.rst
  src/ansys/mapdl/core/mapdl.py
Labels: Documentation

#1756 Using pydata analytics option
  .github/workflows/dependabot.yml
  doc/source/conf.py
  pyproject.toml
Labels: BUG, Documentation, CI/CD, Maintenance, Dependencies

#1880 Increasing timeout
  doc/source/user_guide/troubleshoot.rst
  src/ansys/mapdl/core/launcher.py
Labels: Enhancement, Documentation, New Feature

#1752 Improving ubuntu devcontainer
  .devcontainer/README.rst
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .devcontainer/script.sh
  doc/source/getting_started/devcontainer_link.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/make_container_link.rst
  doc/source/getting_started/wsl.rst
  doc/source/images/devcontainer/codespace_main.png
  doc/source/images/devcontainer/open_codespaces.png
  doc/source/links.rst
  docker/.dockerignore
  docker/Dockerfile
  docker/docker-compose.dpf.yml
  docker/docker-compose.license_server.yml
  docker/docker-compose.local.yml
  docker/docker-compose.yml
  docker/make_container.rst
Labels: Enhancement, New Feature, CI/CD

#1882 Code update for Ansvec __getitem__ to handle complex dtype
  src/ansys/mapdl/core/math.py
  tests/test_math.py
Labels: BUG
