Repository ansys/pymapdl, pull requests merged in 2023-10, with the labels that each got.

#2359 Adding files to pull request
  .github/workflows/ci.yml
  pyproject.toml
Labels: CI/CD, Maintenance

#2365 Bracket example
  doc/Makefile
  doc/make.bat
  doc/source/images/bracket_dimensions.png
  doc/source/links.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/00-mapdl-examples/2d_plate_with_a_hole.py
  examples/00-mapdl-examples/3d_notch.py
  examples/00-mapdl-examples/bracket_static.py
  examples/00-mapdl-examples/pressure_vessel.py
  src/ansys/mapdl/core/solution.py
Labels: Documentation

#2392 Disabling database tests for v24.1
  .github/workflows/ci.yml
  tests/test_database.py
Labels: BUG, CI/CD, MAPDL

#2393 Activate database testing in local. It should be skipped by pytest db fixture.
  .github/workflows/ci.yml
Labels: CI/CD, Maintenance

#2395 fix numpy typing import
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/mapdl.py
  tests/.image_cache/plot_incomplete_nodal_selection.png
Labels: BUG

#2396 Fixing temporal cicd
  .github/workflows/ci.yml
Labels: CI/CD, Maintenance

#2405 maint: updating `ansys-sphinx-theme` version
  pyproject.toml
Labels: Maintenance, Dependencies

#2411 Updating pyvista doc dependency
  pyproject.toml
Labels: BUG, Maintenance, Dependencies

#2420 Bumping dev version
  pyproject.toml
Labels: Enhancement, New Feature, Maintenance, Dependencies

#2421 Preserving case style in additional_switches
  pyproject.toml
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: BUG, Enhancement, New Feature

#2394 Fixing vale warning
  .github/workflows/ci.yml
  doc/.vale.ini
  doc/source/api/unit_testing.rst
  doc/source/examples/extended_examples/ex_01-gmsh_example/ex_01-gmsh_example.rst
  doc/source/examples/extended_examples/gui/executable.rst
  doc/source/examples/extended_examples/index.rst
  doc/source/getting_started/running_mapdl.rst
  doc/source/user_guide/convert.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/mapdl.rst
  doc/source/user_guide/parameters.rst
  doc/source/user_guide/plotting.rst
  doc/source/user_guide/pool.rst
  doc/source/user_guide/troubleshoot.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: BUG

#2431 Renaming `mapdl.mode` to `mapdl.connection`
  src/ansys/mapdl/core/mapdl.py
  tests/.image_cache/plot_incomplete_nodal_selection.png
  tests/test_grpc.py
  tests/test_mapdl.py
Labels: Enhancement, New Feature

#2381 Adding numpydoc hook
  .pre-commit-config.yaml
  pyproject.toml
  src/ansys/mapdl/core/_commands/preproc/elements.py
  src/ansys/mapdl/core/common_grpc.py
  src/ansys/mapdl/core/errors.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/logging.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_corba.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/mesh_grpc.py
  src/ansys/mapdl/core/parameters.py
  src/ansys/mapdl/core/plotting.py
  src/ansys/mapdl/core/post.py
  src/ansys/mapdl/core/xpl.py
Labels: CI/CD, Maintenance, Dependencies

#2445 Setting navigation with keys to False
  doc/source/conf.py
Labels: BUG, Documentation

#2433 Improving converter
  doc/source/user_guide/launcher.rst
  src/ansys/mapdl/core/_commands/apdl/parameter_definition.py
  src/ansys/mapdl/core/_commands/aux12_/radiosity_solver.py
  src/ansys/mapdl/core/_commands/post1_/special.py
  src/ansys/mapdl/core/_commands/post26_/special.py
  src/ansys/mapdl/core/_commands/preproc/special_purpose.py
  src/ansys/mapdl/core/_commands/solution/analysis_options.py
  src/ansys/mapdl/core/_commands/solution/spectrum_options.py
  src/ansys/mapdl/core/convert.py
  src/ansys/mapdl/core/examples/verif/vm132.dat
  src/ansys/mapdl/core/examples/verif/vm139.dat
  src/ansys/mapdl/core/examples/verif/vm147.dat
  src/ansys/mapdl/core/examples/verif/vm221.dat
  src/ansys/mapdl/core/examples/verif/vm227.dat
  src/ansys/mapdl/core/examples/verif/vm273.dat
  src/ansys/mapdl/core/examples/verif/vm285.dat
  src/ansys/mapdl/core/examples/verif/vm287.dat
  src/ansys/mapdl/core/examples/verif/vm309.dat
  src/ansys/mapdl/core/examples/verif/vm51.dat
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/post.py
  tests/test_convert.py
  tests/test_mapdl.py
Labels: Enhancement, Documentation, New Feature

#2451 Clarifying email usage
  README.rst
  doc/source/examples/index.rst
  doc/source/getting_started/contribution.rst
  doc/source/getting_started/learning.rst
  doc/source/getting_started/versioning.rst
  doc/source/index.rst
  doc/source/links.rst
  doc/source/user_guide/database.rst
Labels: Documentation

#2432 Adding new commands
  src/ansys/mapdl/core/_commands/graphics_/annotation.py
  src/ansys/mapdl/core/_commands/graphics_/scaling.py
  src/ansys/mapdl/core/_commands/graphics_/style.py
Labels: New Feature

#2450 Adding dev portal articles section
  doc/Makefile
  doc/source/conf.py
  doc/source/examples/devportal.rst
  doc/source/examples/index.rst
  doc/source/links.rst
  pyproject.toml
Labels: Documentation, Maintenance, Dependencies

#2454 Implementing `save_selection` and small change in Components API
  doc/source/api/unit_testing.rst
  src/ansys/mapdl/core/component.py
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_geometry.py
  src/ansys/mapdl/core/mesh_grpc.py
  src/ansys/mapdl/core/post.py
  tests/.image_cache/components_selection_keep_between_plots.png
  tests/test_component.py
  tests/test_mapdl.py
Labels: BUG, Enhancement
