Repository ansys/pymapdl, pull requests merged in 2023-03, with the labels that each got.

#1903 Update emails
  pyproject.toml
Labels: Documentation, Maintenance, Dependencies

#1910 Fix use name arg
  src/ansys/mapdl/core/mapdl.py
  tests/test_mapdl.py
Labels: BUG

#1888 Update ISSUE_TEMPLATE folder
  .github/ISSUE_TEMPLATE/documentation.yml
  .github/ISSUE_TEMPLATE/examples.yml
Labels: CI/CD, Maintenance

#1921 Implementing ``force_output``
  src/ansys/mapdl/core/mapdl.py
  tests/test_mapdl.py
Labels: Enhancement, New Feature

#1911 Raising warning if lenght of string is GT 32 chars
  src/ansys/mapdl/core/parameters.py
  tests/test_mapdl.py
Labels: BUG

#1913 Fixing activation of labeler
  .github/workflows/label.yml
Labels: BUG, CI/CD

#1923 Homogenising error handling
  src/ansys/mapdl/core/mapdl.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_commands.py
  tests/test_errors.py
  tests/test_grpc.py
  tests/test_inline_functions/test_query.py
Labels: Enhancement

#1924 Small fixes to the docker documentation
  docker/Dockerfile
  docker/make_container.rst
Labels: Documentation

#1925 Upgrading PIM interface
  src/ansys/mapdl/core/launcher.py
Labels: Enhancement, CI/CD

#1920 Changing error in parse_chunks
  src/ansys/mapdl/core/common_grpc.py
Labels: BUG

#1937 Adding ``RUNNING_TESTS`` global flag.
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/examples/downloads.py
  tests/conftest.py
  tests/test_examples.py
Labels: Enhancement

#1938 Exposing some Pyvista kwargs in ``general_plotter`` functions
  src/ansys/mapdl/core/plotting.py
Labels: New Feature

#1941 Fix nightlies
  .github/workflows/label.yml
  .github/workflows/nightly-doc-build.yml
  .github/workflows/nightly-mapdl-check.yml
Labels: BUG, CI/CD, Maintenance

#1942 Simplying CI
  .github/workflows/Merge-main.yml
  .github/workflows/ci.yml
Labels: BUG, CI/CD

#1940 Fixing composite animation
  examples/00-mapdl-examples/composite_dcb.py
Labels: BUG
