Repository ansys/pymapdl, pull requests merged in 2024-10, with the labels that each got.

#3449 docs: adding directive to hide elements
  doc/changelog.d/3449.documentation.md
  doc/source/conf.py
  doc/source/helpers.py
  doc/source/index.rst
Labels: documentation

#3445 ci: changing pre-commit commit and pr name
  .pre-commit-config.yaml
  doc/changelog.d/3445.maintenance.md
Labels: CI/CD

#3439 fix: small plotting fix
  doc/changelog.d/3439.fixed.md
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/plotting/theme.py
  tests/test_theme.py
Labels: bug

#3465 docs: another hpc docs reorg
  doc/changelog.d/3465.documentation.md
  doc/source/user_guide/hpc/examples.rst
  doc/source/user_guide/hpc/pymapdl.rst
  doc/source/user_guide/hpc/settings.rst
  doc/source/user_guide/index.rst
Labels: documentation

#3460 feat: having two global flags. One for visualizer and one for pyvista
  doc/changelog.d/3460.miscellaneous.md
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/plotting/__init__.py
  src/ansys/mapdl/core/plotting/visualizer.py
  src/ansys/mapdl/core/post.py
Labels: new feature

#3468 fix: add ``build cheatsheet`` as env variable within doc-build
  .github/workflows/ci.yml
  doc/changelog.d/3468.fixed.md
  doc/source/conf.py
Labels: CI/CD, documentation, bug, maintenance

#3461 fix: environment variables not being passed to MAPDL process
  doc/changelog.d/3461.fixed.md
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: bug

#3463 fix: exiting earlier to avoid exceptions from gRPC calls
  doc/changelog.d/3463.fixed.md
  src/ansys/mapdl/core/errors.py
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: bug

#3472 ci: bypass team check if it is dependabot
  .github/workflows/ci.yml
  doc/changelog.d/3472.maintenance.md
Labels: CI/CD, maintenance

#3473 refactor: removing deprecated arguments
  doc/changelog.d/3473.added.md
  src/ansys/mapdl/core/cli/start.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/pool.py
  tests/test_cli.py
  tests/test_launcher.py
  tests/test_pool.py
Labels: enhancement

#3469 docs: fix cheat sheet rendering
  doc/changelog.d/3469.documentation.md
  doc/source/cheat_sheet/cheat_sheet.qmd
Labels: documentation

#3475 refactor: launch_mapdl
  doc/changelog.d/3475.added.md
  doc/source/examples/extended_examples/executable/cli_rotor.py
  doc/source/examples/extended_examples/executable/rotor.py
  examples/00-mapdl-examples/composite_dcb.py
  pyproject.toml
  src/ansys/mapdl/core/examples/downloads.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/pool.py
  tests/common.py
  tests/conftest.py
  tests/test_launcher.py
  tests/test_mapdl.py
  tests/test_pool.py
Labels: examples, documentation, dependencies, maintenance, enhancement

#3487 feat: adding 'pymapdl_nproc' to non-slurm runs
  doc/changelog.d/3487.miscellaneous.md
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: new feature

#3491 refactor: moving information class to another module
  doc/changelog.d/3491.added.md
  doc/source/api/mapdl.rst
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/information.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/misc.py
  tests/test_information.py
  tests/test_misc.py
Labels: documentation, enhancement

#3488 ci: avoiding linkcheck on changelog page
  doc/changelog.d/3488.documentation.md
  doc/source/conf.py
Labels: CI/CD, documentation

#3490 refactor: `__init__` file
  doc/changelog.d/3490.added.md
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/helpers.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/licensing.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/pool.py
  tests/conftest.py
Labels: enhancement

#3500 feat: passing tight integration env vars to mapdl
  doc/changelog.d/3466.documentation.md
  doc/changelog.d/3500.documentation.md
  doc/source/examples/extended_examples/hpc/hpc_ml_ga.rst
  doc/source/user_guide/hpc/pymapdl.rst
  doc/source/user_guide/hpc/settings.rst
  doc/source/user_guide/hpc/troubleshooting.rst
  doc/source/user_guide/mapdl.rst
  doc/source/user_guide/troubleshoot.rst
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: documentation, new feature

#3474 refactor: modifying ``subprocess`` calls and removing ``try except continue`` statements
  doc/changelog.d/3474.added.md
  minimum_requirements.txt
  src/ansys/mapdl/core/examples/downloads.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/licensing.py
  src/ansys/mapdl/core/mapdl_console.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/pool.py
  src/ansys/mapdl/core/xpl.py
  tests/test_cli.py
  tests/test_examples.py
  tests/test_launcher.py
Labels: maintenance, enhancement

#3505 ci: ``ansys/actions/check-vulnerabilities`` to CI-CD
  .github/workflows/ci.yml
  doc/changelog.d/3505.maintenance.md
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/licensing.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: CI/CD, maintenance

#3466 docs: documenting using pymapdl on clusters
  doc/changelog.d/3466.documentation.md
  doc/source/examples/extended_examples/hpc/hpc_ml_ga.rst
  doc/source/user_guide/hpc/pymapdl.rst
  doc/source/user_guide/hpc/settings.rst
  doc/source/user_guide/hpc/troubleshooting.rst
  doc/source/user_guide/mapdl.rst
  doc/source/user_guide/troubleshoot.rst
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: documentation, new feature, waiting doc review

#3506 docs: review of documenting using pymapdl on clusters (#3466)
  doc/changelog.d/3466.documentation.md
  doc/changelog.d/3506.documentation.md
  doc/source/user_guide/hpc/pymapdl.rst
  doc/source/user_guide/hpc/settings.rst
  doc/source/user_guide/hpc/troubleshooting.rst
  doc/source/user_guide/mapdl.rst
  src/ansys/mapdl/core/launcher.py
Labels: documentation

#3507 fix: raising port busy when connecting
  doc/changelog.d/3507.fixed.md
  src/ansys/mapdl/core/launcher.py
Labels: bug

#3511 refactor: externalise 'report' features to module
  doc/changelog.d/3511.added.md
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/report.py
  tests/test_misc.py
  tests/test_report.py
Labels: enhancement

#3517 refactor: simplifying directory setter property
  doc/changelog.d/3517.added.md
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_mapdl.py
Labels: new feature, enhancement

#3513 docs: adding-sbatch-support
  doc/changelog.d/3513.documentation.md
  doc/source/user_guide/hpc/launch_mapdl_entrypoint.rst
  doc/source/user_guide/hpc/pymapdl.rst
  doc/source/user_guide/mapdl.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation, waiting doc review

#3497 feat: support for launching an MAPDL instance in an SLURM HPC cluster
  .github/workflows/ci.yml
  doc/changelog.d/3497.documentation.md
  doc/changelog.d/3513.documentation.md
  doc/source/user_guide/hpc/launch_mapdl_entrypoint.rst
  doc/source/user_guide/hpc/pymapdl.rst
  doc/source/user_guide/mapdl.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
  pyproject.toml
  src/ansys/mapdl/core/errors.py
  src/ansys/mapdl/core/helpers.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/misc.py
  tests/conftest.py
  tests/test_launcher.py
  tests/test_mapdl.py
Labels: DO NOT MERGE, CI/CD, documentation, dependencies, new feature, maintenance

#3523 refactor: moving tests to classes to avoid repeated fixtures execution
  doc/changelog.d/3523.added.md
  tests/conftest.py
  tests/test_post.py
Labels: enhancement

#3526 docs: removing extra links from landing page.
  doc/changelog.d/3526.documentation.md
  doc/source/index.rst
Labels: documentation

#3525 fix: logo link
  README.md
  doc/changelog.d/3525.fixed.md
Labels: bug

#3528 feat: using version instead of exec_path for the MPI checks
  doc/changelog.d/3528.miscellaneous.md
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: new feature
