Repository ansys/pymapdl, pull requests merged in 2024-04, with the labels that each got.

#2955 Improving precision in array retrieval
  src/ansys/mapdl/core/parameters.py
Labels: Enhancement, New Feature

#2952 Fixing escaping characters in docstrings
  src/ansys/mapdl/core/_commands/apdl/array_param.py
  src/ansys/mapdl/core/_commands/apdl/macro_files.py
  src/ansys/mapdl/core/_commands/apdl/matrix_op.py
  src/ansys/mapdl/core/_commands/apdl/parameter_definition.py
  src/ansys/mapdl/core/_commands/aux12_/radiosity_solver.py
  src/ansys/mapdl/core/_commands/aux3_.py
  src/ansys/mapdl/core/_commands/database/components.py
  src/ansys/mapdl/core/_commands/database/picking.py
  src/ansys/mapdl/core/_commands/database/selecting.py
  src/ansys/mapdl/core/_commands/graphics_/annotation.py
  src/ansys/mapdl/core/_commands/graphics_/labeling.py
  src/ansys/mapdl/core/_commands/graphics_/style.py
  src/ansys/mapdl/core/_commands/inq_func.py
  src/ansys/mapdl/core/_commands/map_cmd.py
  src/ansys/mapdl/core/_commands/post1_/animation.py
  src/ansys/mapdl/core/_commands/post1_/element_table.py
  src/ansys/mapdl/core/_commands/post1_/load_case.py
  src/ansys/mapdl/core/_commands/post1_/path_operations.py
  src/ansys/mapdl/core/_commands/post1_/results.py
  src/ansys/mapdl/core/_commands/post1_/special.py
  src/ansys/mapdl/core/_commands/post1_/surface_operations.py
  src/ansys/mapdl/core/_commands/post26_/setup.py
  src/ansys/mapdl/core/_commands/preproc/areas.py
  src/ansys/mapdl/core/_commands/preproc/elements.py
  src/ansys/mapdl/core/_commands/preproc/explicit_dynamics.py
  src/ansys/mapdl/core/_commands/preproc/hard_points.py
  src/ansys/mapdl/core/_commands/preproc/keypoints.py
  src/ansys/mapdl/core/_commands/preproc/meshing.py
  src/ansys/mapdl/core/_commands/preproc/sections.py
  src/ansys/mapdl/core/_commands/reduced/generation.py
  src/ansys/mapdl/core/_commands/solution/analysis_options.py
  src/ansys/mapdl/core/_commands/solution/dynamic_options.py
  src/ansys/mapdl/core/_commands/solution/fe_body_loads.py
  src/ansys/mapdl/core/_commands/solution/miscellaneous_loads.py
  src/ansys/mapdl/core/_commands/solution/multi_field_solver_load_transfer.py
  src/ansys/mapdl/core/_commands/solution/radiosity.py
  src/ansys/mapdl/core/_commands/solution/spectrum_options.py
  src/ansys/mapdl/core/commands.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/parameters.py
Labels: BUG

#2956 Update minimal python version
  pyproject.toml
  src/ansys/mapdl/core/__init__.py
Labels: Maintenance, Dependencies

#2954 Some format fix in docstrings
  src/ansys/mapdl/core/_commands/apdl/abbreviations.py
  src/ansys/mapdl/core/_commands/apdl/array_param.py
  src/ansys/mapdl/core/_commands/aux12_/radiation_mat.py
  src/ansys/mapdl/core/_commands/aux12_/radiosity_solver.py
  src/ansys/mapdl/core/_commands/aux15_.py
  src/ansys/mapdl/core/_commands/aux2_/bin_dump.py
  src/ansys/mapdl/core/_commands/aux2_/bin_manip.py
  src/ansys/mapdl/core/_commands/aux3_.py
  src/ansys/mapdl/core/_commands/conn.py
  src/ansys/mapdl/core/_commands/database/components.py
  src/ansys/mapdl/core/_commands/database/coord_sys.py
  src/ansys/mapdl/core/_commands/database/picking.py
  src/ansys/mapdl/core/_commands/database/selecting.py
  src/ansys/mapdl/core/_commands/database/setup.py
  src/ansys/mapdl/core/_commands/database/working_plane.py
  src/ansys/mapdl/core/_commands/display_/setup.py
  src/ansys/mapdl/core/_commands/graphics_/annotation.py
  src/ansys/mapdl/core/_commands/graphics_/graphs.py
  src/ansys/mapdl/core/_commands/graphics_/labeling.py
  src/ansys/mapdl/core/_commands/graphics_/scaling.py
  src/ansys/mapdl/core/_commands/hidden.py
  src/ansys/mapdl/core/_commands/map_cmd.py
  src/ansys/mapdl/core/_commands/post1_/load_case.py
  src/ansys/mapdl/core/_commands/preproc/database.py
Labels: Documentation

#2960 Refactoring CLI
  src/ansys/mapdl/core/cli.py
  src/ansys/mapdl/core/cli/__init__.py
  src/ansys/mapdl/core/cli/convert.py
  src/ansys/mapdl/core/cli/list_instances.py
  src/ansys/mapdl/core/cli/start.py
  src/ansys/mapdl/core/cli/stop.py
  tests/test_cli.py
Labels: Enhancement, Maintenance

#2982 feat: add a `MAPDL version` section in for bug issues
  .github/ISSUE_TEMPLATE/bug.yml
Labels: Enhancement, New Feature, CI/CD, Maintenance

#2999 Adding some env var print to report
  src/ansys/mapdl/core/misc.py
Labels: Enhancement, New Feature

#3002 Adding option to `_ctrl` command
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: BUG, Enhancement

#2998 Customize agent for linkchecker
  doc/source/conf.py
Labels: Documentation, CI/CD

#3035 Avoiding future shinx warning
  doc/source/conf.py
Labels: BUG, Enhancement, Documentation

#3023 Adding cycexpand
  doc/source/mapdl_commands/prep7/special_purpose.rst
  src/ansys/mapdl/core/_commands/preproc/special_purpose.py
Labels: Enhancement, New Feature

#2966 HPC documentation
  doc/source/links.rst
  doc/source/user_guide/hpc.rst
  doc/source/user_guide/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: Documentation
