Repository ansys/pymapdl, pull requests merged in 2024-02, with the labels that each got.

#2725 fix: launch_mapdl with specific ip value
  src/ansys/mapdl/core/launcher.py
Labels: BUG

#2728 Small improvements to documentation codespace
  .devcontainer/codespaces-docs/welcome.rst
Labels: Documentation

#2745 Changing token in approval reaction
  .github/workflows/approver.yml
Labels: CI/CD, Maintenance

#2727 Revamping landing page
  doc/source/_static/custom.css
  doc/source/_static/logo_dark.png
  doc/source/_static/logo_light.png
  doc/source/_static/pyansys-logo-black-cropped.png
  doc/source/_static/vm10_setup.png
  doc/source/_static/vm10_setup_1.png
  doc/source/_static/vm1_setup.png
  doc/source/_static/vm2_setup.png
  doc/source/_static/vm3_setup.png
  doc/source/_static/vm4_setup.png
  doc/source/_static/vm5_setup.png
  doc/source/_static/vm6_setup.png
  doc/source/_static/vm7_setup.png
  doc/source/_static/vm7_setup_1.png
  doc/source/_static/vm7_setup_2.png
  doc/source/_static/vm8_setup.png
  doc/source/_static/vm9_setup.png
  doc/source/_static/vm9_setup_2.png
  doc/source/_templates/layout.html
  doc/source/conf.py
  doc/source/getting_started/index.rst
  doc/source/getting_started/learning.rst
  doc/source/getting_started/project.rst
  doc/source/images/lathe_cutter_model.png
  doc/source/images/model_solenoid_2d.png
  doc/source/index.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/00-mapdl-examples/2d_magnetostatic_solenoid-BodyFlux_Averaging.py
  examples/00-mapdl-examples/lathe_cutter.py
Labels: Documentation

#2749 Small improvements to converter
  src/ansys/mapdl/core/convert.py
  tests/test_convert.py
Labels: Enhancement

#2720 Fixing nodes label order
  src/ansys/mapdl/core/mapdl_geometry.py
  src/ansys/mapdl/core/plotting.py
  tests/test_plotting.py
Labels: BUG

#2767 Delete array after retrieving
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/mapdl_geometry.py
  src/ansys/mapdl/core/plotting.py
Labels: BUG

#2721 Reducing memory footprint
  src/ansys/mapdl/core/launcher.py
  tests/test_grpc.py
  tests/test_launcher.py
  tests/test_mapdl.py
  tests/test_plotting.py
Labels: Enhancement

#2770 Disabling catching all in logger
  src/ansys/mapdl/core/logging.py
Labels: BUG, Enhancement, New Feature

#2774 Removing mentions to codespaces
  README.md
  doc/source/getting_started/codespaces-dev.rst
  doc/source/getting_started/codespaces-docs.rst
  doc/source/getting_started/codespaces.rst
  doc/source/getting_started/devcontainer.rst
  doc/source/getting_started/develop_pymapdl.rst
  doc/source/getting_started/index.rst
Labels: Enhancement, Documentation, New Feature

#2782 Added an intro section with better info.
  doc/source/getting_started/learning.rst
  doc/source/links.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/00-mapdl-examples/bracket_static.py
Labels: Documentation

#2794 Improving example template
  doc/source/getting_started/write_documentation.rst
  doc/source/links.rst
  examples/02-tips-n-tricks/00-example-template.py
Labels: Documentation

#2778 Disabling session ID check by default
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: Enhancement, New Feature

#2775 Abilitates a default codespaces (no MAPDL)
  .devcontainer/codespaces-dev/Dockerfile
  .devcontainer/codespaces-dev/README.rst
  .devcontainer/codespaces-dev/devcontainer.json
  .devcontainer/codespaces-dev/docker-compose.yml
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-dev/start.sh
  .devcontainer/codespaces-dev/welcome.rst
Labels: CI/CD

#2773 Fix get_value
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: BUG

#2804 Installing xindy to fix PDF building process
  .github/workflows/ci.yml
Labels: BUG, CI/CD, Maintenance

#2803 Avoiding issuing exit on any version until further notice
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: BUG

#2776 Reorganizing CLI
  doc/source/user_guide/cli.rst
  doc/source/user_guide/convert.rst
  pyproject.toml
  src/ansys/mapdl/core/cli.py
  tests/test_cli.py
  tests/test_convert.py
Labels: Enhancement, New Feature, Maintenance, Dependencies

#2805 Fix contact example
  examples/00-mapdl-examples/contact_elements.py
Labels: Documentation

#2821 Fix nightly
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
  pyproject.toml
  tests/test_database.py
Labels: BUG

#2832 Update to 0.69.dev
  pyproject.toml
Labels: Maintenance
