Repository ansys/pymapdl, pull requests merged in 2024-11, with the labels that each got.

#3540 fix: checking port on non-grpc mapdl instances
  doc/changelog.d/3540.fixed.md
  src/ansys/mapdl/core/cli/list_instances.py
Labels: bug

#3546 maint: remove importlib-metadata requirement
  .github/dependabot.yml
  doc/changelog.d/3546.documentation.md
  doc/source/examples/extended_examples/hpc/requirements.txt
  minimum_requirements.txt
  pyproject.toml
  src/ansys/mapdl/core/report.py
Labels: CI/CD, documentation, dependencies, maintenance

#3542 chore: fix codecov.yml content
  codecov.yml
  doc/changelog.d/3542.added.md
Labels: maintenance, enhancement

#3551 refactor: removing-`run_as_prep7`-in-favour-of-`run_as`
  doc/changelog.d/3551.added.md
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_geometry.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/misc.py
  tests/test_misc.py
Labels: enhancement

#3552 fix: warning and add an exception if using class alone
  doc/changelog.d/3552.fixed.md
  src/ansys/mapdl/core/mapdl.py
Labels: bug

#3553 refactor: adding-type-ints-to-misc
  doc/changelog.d/3553.added.md
  src/ansys/mapdl/core/misc.py
Labels: enhancement

#3555 fix: gui-extended-example
  doc/changelog.d/3555.fixed.md
  doc/source/examples/extended_examples/gui/base_app.png
  doc/source/examples/extended_examples/gui/executable.rst
  doc/source/examples/extended_examples/gui/final_app_postprocessing.png
  doc/source/examples/extended_examples/gui/final_app_preprocessing.png
  doc/source/examples/extended_examples/gui/final_app_solver.png
  doc/source/examples/extended_examples/gui/gui_app.py
  doc/source/examples/extended_examples/gui/requirements.txt
Labels: documentation, bug

#3564 ci: skipping student versions when user is authenticated
  .ci/build_matrix.sh
  doc/changelog.d/3564.maintenance.md
Labels: CI/CD

#3560 refactor: using find_mapdl instead of find_ansys
  doc/changelog.d/3560.added.md
  doc/source/api/launcher.rst
  doc/source/getting_started/launcher.rst
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/launcher.py
  tests/conftest.py
  tests/test_launcher.py
  tests/test_pool.py
Labels: documentation, enhancement

#3556 refactor: increase post module coverage
  doc/changelog.d/3556.added.md
  src/ansys/mapdl/core/post.py
  tests/test_post.py
Labels: enhancement

#3571 feat: supporting v25.1 and v25.2
  doc/changelog.d/3571.miscellaneous.md
  src/ansys/mapdl/core/_version.py
Labels: new feature

#3570 fix: python version warning
  doc/changelog.d/3570.fixed.md
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/helpers.py
  tests/test_mapdl.py
Labels: bug

#3574 feat: adding-mode-warning
  doc/changelog.d/3574.miscellaneous.md
  src/ansys/mapdl/core/launcher.py
  tests/test_component.py
  tests/test_launcher.py
  tests/test_mapdl.py
Labels: new feature

#3572 docs: updating compatible Python versions
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/examples.yml
  doc/changelog.d/3572.documentation.md
  doc/source/getting_started/install_pymapdl.rst
  doc/source/user_guide/hpc/settings.rst
  pyproject.toml
Labels: CI/CD, documentation, dependencies, maintenance

#3576 feat: adding ``check_has_mapdl``
  doc/changelog.d/3576.miscellaneous.md
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/misc.py
  tests/common.py
  tests/test_launcher.py
Labels: new feature

#3575 feat: running MPI fix only if on windows
  doc/changelog.d/3575.miscellaneous.md
  src/ansys/mapdl/core/launcher.py
Labels: new feature

#3573 refactor: replace `get_ansys_path` with `get_mapdl_path`
  doc/changelog.d/3573.added.md
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/licensing.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/pool.py
Labels: enhancement

#3582 fix: components typo
  doc/changelog.d/3582.fixed.md
  doc/source/user_guide/components.rst
  src/ansys/mapdl/core/component.py
Labels: documentation, bug

#3585 ci: adding codeql.yml
  .github/workflows/codeql.yml
  doc/changelog.d/3585.maintenance.md
Labels: CI/CD, maintenance

#3584 docs: adding some info for getting multiple compose running
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/docker-compose.yml
  .devcontainer/devcontainer-local/requirements.txt
  doc/changelog.d/3584.documentation.md
Labels: CI/CD, documentation, maintenance

#3589 fix: linkchecker and cheatsheet links
  doc/changelog.d/3589.fixed.md
  doc/source/conf.py
  doc/source/getting_started/learning.rst
  doc/source/getting_started/project.rst
Labels: documentation, bug

#3590 feat: improving load_array to reduce format line length
  doc/changelog.d/3590.miscellaneous.md
  src/ansys/mapdl/core/mapdl_extended.py
  tests/test_parameters.py
Labels: new feature
