Repository ansys/pymapdl, pull requests merged in 2024-01, with the labels that each got.

#2594 Updating license and copyright
  LICENSE
Labels: Enhancement, New Feature

#2588 Improving deployment speed by building python virtual environment in dockerfile
  .devcontainer/Dockerfile
  .devcontainer/codespaces-devs/Dockerfile
  .devcontainer/codespaces-devs/devcontainer.json
  .devcontainer/codespaces-devs/docker-compose.yml
  .devcontainer/codespaces-devs/requirements.txt
  .devcontainer/codespaces-devs/start.sh
  .devcontainer/codespaces-devs/welcome.rst
  .devcontainer/codespaces-docs/Dockerfile
  .devcontainer/codespaces-docs/devcontainer.json
  .devcontainer/codespaces-docs/docker-compose.yml
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/codespaces-docs/start.sh
  .devcontainer/codespaces-docs/welcome.rst
  .devcontainer/devcontainer-local/Dockerfile
  .devcontainer/devcontainer-local/devcontainer.json
  .devcontainer/devcontainer-local/docker-compose.yml
  .devcontainer/devcontainer-local/requirements.txt
  .devcontainer/devcontainer-local/start.sh
  .devcontainer/devcontainer-local/welcome.rst
  .github/workflows/ci.yml
Labels: CI/CD

#2601 Updating grpcio and adding missing env var.
  .github/workflows/ci.yml
  pyproject.toml
Labels: CI/CD, Maintenance, Dependencies

#2493 Fix respawning of pool instances have different names
  .github/workflows/ci.yml
  pyproject.toml
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/pool.py
  tests/conftest.py
  tests/test_pool.py
Labels: BUG

#2604 Updating labels
  .github/labels.yml
  .github/workflows/ci.yml
Labels: CI/CD, Maintenance

#2612 Updating dependabot approach
  .github/dependabot.yml
  .github/workflows/dependabot.yml
Labels: CI/CD, Maintenance

#2603 Improving port being busy detection
  src/ansys/mapdl/core/errors.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_launcher.py
  tests/test_mapdl.py
Labels: Enhancement, New Feature

#2607 Avoiding cache if pyproject is not modified
  .github/workflows/ci.yml
  pyproject.toml
Labels: Enhancement, New Feature, CI/CD, Maintenance

#2616 Checking number of processors before launching.
  .github/workflows/ci.yml
  src/ansys/mapdl/core/errors.py
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: Enhancement, New Feature

#2617 Improving more the codespaces
  .devcontainer/Dockerfile
  .devcontainer/codespaces-docs/Dockerfile
  .devcontainer/codespaces-docs/devcontainer.json
  .devcontainer/codespaces-docs/welcome.rst
  .devcontainer/devcontainer-local/Dockerfile
  .devcontainer/devcontainer-local/devcontainer.json
  .devcontainer/devcontainer.json
  .devcontainer/docker-compose.yml
  .github/dependabot.yml
  doc/Makefile
  doc/start_webserver.sh
  doc/stop_webserver.sh
Labels: CI/CD, Maintenance

#2620 Small codespaces fix
  .devcontainer/Dockerfile
  .devcontainer/codespaces-docs/Dockerfile
  .devcontainer/codespaces-docs/devcontainer.json
  .devcontainer/codespaces-docs/start.sh
  .devcontainer/codespaces-docs/welcome.rst
  .devcontainer/devcontainer-local/start.sh
  .devcontainer/start.sh
  .devcontainer/welcome.rst
  doc/start_webserver.sh
Labels: Documentation

#2533 Adding entry point to launch_mapdl
  doc/source/getting_started/cli.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/launcher.rst
  doc/source/user_guide/convert.rst
  pyproject.toml
  src/ansys/mapdl/core/cli.py
  src/ansys/mapdl/core/convert.py
  src/ansys/mapdl/core/launcher.py
  tests/conftest.py
  tests/test_cli.py
Labels: Enhancement, New Feature, Maintenance, Dependencies

#2621 [doc] Small improvements to unit testing and precommit sections
  .devcontainer/codespaces-docs/welcome.rst
  .devcontainer/welcome.rst
  doc/source/getting_started/develop_pymapdl.rst
  doc/source/links.rst
Labels: Documentation, CI/CD

#2623 Fix requirement file in codespaces doc
  .devcontainer/codespaces-docs/requirements.txt
Labels: BUG

#2605 Making local test parallels when it is not a pull request.
  .github/workflows/ci.yml
  .gitignore
  src/ansys/mapdl/core/cli.py
  src/ansys/mapdl/core/launcher.py
  tests/test_mapdl.py
Labels: CI/CD, Maintenance

#2631 Avoiding different groups in devcontainer dependabot PRs
  .github/dependabot.yml
Labels: CI/CD, Maintenance

#2632 Improving testing, coverage and codespaces documentation
  .devcontainer/README.rst
  .devcontainer/codespaces-docs/welcome.rst
  .devcontainer/develop_on_codespaces.rst
  .devcontainer/welcome.rst
  .gitignore
  doc/source/getting_started/codespaces-dev.rst
  doc/source/getting_started/codespaces-docs.rst
  doc/source/getting_started/develop_pymapdl.rst
  doc/source/getting_started/index.rst
  doc/source/links.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: BUG

#2637 Improving logging when starting fails
  src/ansys/mapdl/core/launcher.py
Labels: Enhancement, New Feature

#2642 Adding gif to approval bot mesage
  .github/workflows/approver.yml
Labels: CI/CD, Maintenance

#2638 Adding info about stopping/connecting to codespaces
  .devcontainer/README.rst
  .devcontainer/codespaces-docs/welcome.rst
  .devcontainer/develop_on_codespaces.rst
  .devcontainer/develop_on_containers.rst
  doc/Makefile
  doc/source/getting_started/codespaces.rst
  doc/source/getting_started/devcontainer.rst
  doc/source/getting_started/develop_pymapdl.rst
  doc/source/getting_started/index.rst
  doc/source/getting_started/launcher.rst
  doc/source/images/codespaces.png
  doc/source/links.rst
  doc/source/user_guide/cli.rst
  doc/source/user_guide/index.rst
  doc/start_webserver.sh
  doc/stop_webserver.sh
  doc/styles/Vocab/ANSYS/accept.txt
Labels: Documentation

#2647 Adding PyMAPDL logo
  README.rst
  doc/source/_static/landing_page_demo.gif
  doc/source/_static/logo_dark.png
  doc/source/_static/logo_light.png
  doc/source/getting_started/codespaces.rst
  doc/source/index.rst
Labels: Documentation

#2639 Deprecating corba in docs
  doc/source/getting_started/versioning.rst
Labels: Documentation

#2654 Fixing readme logo
  README.md
  README.rst
  doc/source/_static/logo_dark.png
  doc/source/_static/logo_light.png
  pyproject.toml
Labels: Documentation

#2655 Fix approver
  .github/workflows/approver.yml
Labels: CI/CD, Maintenance

#2657 Adding codespace info in readme
  README.md
Labels: Documentation

#2650 Improving coverage
  .github/workflows/ci.yml
  doc/source/api/mapdl.rst
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_grpc.py
  tests/test_launcher.py
  tests/test_mapdl.py
  tests/test_misc.py
Labels: Enhancement, New Feature

#2656 Allowing only one worker in pool
  src/ansys/mapdl/core/pool.py
  tests/test_pool.py
Labels: Enhancement, New Feature

#2658 maint: bump-ansys-sphinx-theme-version
  pyproject.toml
Labels: Maintenance, Dependencies

#2648 Fixing codecov number of builds
  .github/workflows/ci.yml
  codecov.yml
Labels: BUG, Maintenance

#2659 [Codespaces] Making sure installing an updated ansys-mapdl-core
  .devcontainer/codespaces-docs/start.sh
  .devcontainer/devcontainer-local/start.sh
  .devcontainer/start.sh
Labels: CI/CD

#2662 Limiting numpy to v2.0.0
  pyproject.toml
Labels: Maintenance, Dependencies

#2237 Modifying example in `user-guide` section
  .gitignore
  doc/source/conf.py
  doc/source/getting_started/index.rst
  doc/source/getting_started/learning.rst
  doc/source/images/cylinder_disp.png
  doc/source/images/cylinder_sx.png
  doc/source/images/cylinder_vonmises.png
  doc/source/images/spot_disp.png
  doc/source/images/spot_seqv.png
  doc/source/images/spot_sz.png
  doc/source/user_guide/convert.rst
  doc/source/user_guide/index.rst
  doc/source/user_guide/mapdl_examples.rst
  doc/source/user_guide/parameters.rst
  doc/source/user_guide/plotting.rst
  doc/source/user_guide/post.rst
  doc/source/user_guide/upf.rst
  doc/styles/Vocab/ANSYS/accept.txt
  examples/00-mapdl-examples/3d_plate_thermal.py
  examples/00-mapdl-examples/path_operations.py
  examples/00-mapdl-examples/spotweld.py
  examples/00-mapdl-examples/torsional_load.py
  examples/00-mapdl-examples/transient_thermal.py
  examples/01-geometry/00-keypoints.py
  examples/01-geometry/01-lines.py
  examples/01-geometry/02-areas.py
  pyproject.toml
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/_commands/hidden.py
  src/ansys/mapdl/core/_commands/post1_/controls.py
  src/ansys/mapdl/core/examples/downloads.py
  src/ansys/mapdl/core/logging.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/post.py
  tests/conftest.py
  tests/test_grpc.py
  tests/test_krylov.py
  tests/test_mapdl.py
  tests/test_misc.py
Labels: Documentation, Maintenance, Dependencies

#2663 Fixing MPI message
  src/ansys/mapdl/core/launcher.py
  tests/test_mapdl.py
Labels: CI/CD

#2672 Replacing with super() in custom error classes
  src/ansys/mapdl/core/errors.py
Labels: Enhancement, Maintenance

#2675 Adding test to DSCALE
  tests/test_convert.py
Labels: Maintenance

#2680 Fix codespaces no loading extensions
  .devcontainer/codespaces-docs/devcontainer.json
  .devcontainer/codespaces-docs/start.sh
  .devcontainer/devcontainer-local/devcontainer.json
  .devcontainer/devcontainer-local/start.sh
  .devcontainer/devcontainer.json
  .devcontainer/start.sh
Labels: BUG

#2671 Deriving all custom error from Exception and related
  src/ansys/mapdl/core/common_grpc.py
  src/ansys/mapdl/core/errors.py
  tests/test_errors.py
Labels: Enhancement, New Feature

#2669 Deprecating verbose
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: Enhancement, New Feature

#2695 fix: pyvista version
  pyproject.toml
Labels: BUG, Maintenance, Dependencies

#2670 Adding more info about contributing
  README.md
Labels: Documentation

#2677 Protect execution from specific exceptions
  src/ansys/mapdl/core/errors.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_errors.py
  tests/test_importing_geometries.py
Labels: BUG

#2701 Adding memory profiling pytest extension
  pyproject.toml
Labels: Enhancement, New Feature, Maintenance, Dependencies

#2719 Update blacken
  .pre-commit-config.yaml
  doc/source/user_guide/convert.rst
Labels: Maintenance
