Repository ansys/pymapdl, pull requests merged in 2024-09, with the labels that each got.

#3384 chore: skip database testing on v23.X
  doc/changelog.d/3384.added.md
  tests/test_database.py
Labels: enhancement

#3389 docs: remove ``thispagetitle`` meta tag and add default
  doc/changelog.d/3389.documentation.md
  doc/source/_templates/layout.html
  doc/source/index.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

#3396 docs: fix keywords metadata
  doc/changelog.d/3396.documentation.md
  doc/source/index.rst
Labels: documentation

#3404 chore: remove mapdl_inprocess.py from codecov analysis
  codecov.yml
  doc/changelog.d/3404.added.md
Labels: maintenance, enhancement

#3220 refactor: clean mapdl inprocess and move mute to MapdlCore
  doc/changelog.d/3220.added.md
  src/ansys/mapdl/core/mapdl_console.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/mapdl_inprocess.py
Labels: enhancement

#3412 feat: supporting ´´to_dataframe()´´ for some bc list commands
  doc/changelog.d/3412.miscellaneous.md
  src/ansys/mapdl/core/commands.py
  tests/test_commands.py
Labels: new feature

#3414 docs: cards layout for the landing page
  doc/changelog.d/3414.documentation.md
  doc/source/index.rst
Labels: documentation

#3428 fix: disabling logging on `__del__`
  doc/changelog.d/3428.fixed.md
  src/ansys/mapdl/core/mapdl_core.py
Labels: bug

#3427 perf: reduce-testing-time
  .github/workflows/ci.yml
  doc/changelog.d/3427.added.md
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/pool.py
  tests/test_launcher.py
  tests/test_mapdl.py
  tests/test_pool.py
Labels: CI/CD, maintenance, enhancement

#3421 fix: avoid changing entities ids after plotting
  .github/workflows/ci.yml
  doc/changelog.d/3421.fixed.md
  doc/source/user_guide/components.rst
  examples/00-mapdl-examples/composite_dcb.py
  src/ansys/mapdl/core/common_grpc.py
  src/ansys/mapdl/core/component.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/mapdl_geometry.py
  src/ansys/mapdl/core/mesh/mesh.py
  src/ansys/mapdl/core/mesh_grpc.py
  tests/.image_cache/plot_element_values.png
  tests/conftest.py
  tests/test_licensing.py
  tests/test_plotting.py
  tests/test_post.py
Labels: CI/CD, examples, documentation, bug, maintenance

#3435 feat: add exit to inprocess backend
  doc/changelog.d/3435.miscellaneous.md
  src/ansys/mapdl/core/mapdl_inprocess.py
Labels: new feature

#3434 docs: revamping example landing page and adding groups
  .github/workflows/ci.yml
  doc/changelog.d/3434.documentation.md
  doc/source/examples/index.rst
  doc/source/examples/pymapdl_examples_repo/index.rst
  doc/source/getting_started/index.rst
  doc/source/images/codespaces.png
  doc/source/images/examples_main_page/academic.png
  doc/source/images/examples_main_page/developer.png
  doc/source/images/examples_main_page/extended.gif
  doc/source/images/examples_main_page/geometry.png
  doc/source/images/examples_main_page/misc.png
  doc/source/images/examples_main_page/pymapdl.png
  doc/source/images/examples_main_page/showcase.png
  doc/source/images/examples_main_page/vm.png
  doc/source/mapdl_commands/index.rst
  doc/source/user_guide/index.rst
Labels: CI/CD, documentation, maintenance
