Repository ansys/pymapdl, pull requests merged in 2024-07, with the labels that each got.

#3228 docs: documenting new naming conventions for commits, branches and PRs.
  .github/labeler.yml
  .github/labels.yml
  .github/workflows/label.yml
  doc/changelog.d/3228.changed.md
  doc/source/getting_started/develop_pymapdl.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: CI/CD, documentation, maintenance

#3237 ci: increase the files checked for changes before load docs cache
  .github/workflows/ci.yml
  doc/changelog.d/3237.changed.md
Labels: CI/CD, maintenance

#3232 ci: Using a dynamically generated matrix for testing job setup
  .ci/build_matrix.sh
  .github/workflows/ci.yml
  doc/changelog.d/3232.changed.md
Labels: CI/CD, maintenance

#3251 fix: local tests always running as student
  .ci/build_matrix.sh
  .github/workflows/ci.yml
  doc/changelog.d/3251.fixed.md
  tests/conftest.py
Labels: CI/CD, bug, maintenance

#3224 build: removing reredirect sphinx extension
  .devcontainer/codespaces-docs/requirements.txt
  doc/changelog.d/3224.dependencies.md
  doc/source/conf.py
  pyproject.toml
Labels: CI/CD, documentation, dependencies, maintenance

#3210 ci: Adding v251 CentOS based image to testing
  .ci/build_matrix.sh
  doc/changelog.d/3210.miscellaneous.md
  tests/test_database.py
Labels: DO NOT MERGE, CI/CD

#3217 build: update requirements in devcontainer directory
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
  doc/changelog.d/3217.dependencies.md
  pyproject.toml
Labels: CI/CD, dependencies, maintenance

#3247 fix: not deleting temporary file when ``remove_temp_dir_on_exit``=True
  doc/changelog.d/3247.fixed.md
  src/ansys/mapdl/core/errors.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/misc.py
  tests/test_mapdl.py
  tests/test_pool.py
Labels: bug

#3227 fix: avoid inspecting suspended processes
  doc/changelog.d/3227.fixed.md
  src/ansys/mapdl/core/cli/list_instances.py
  tests/test_mapdl.py
Labels: bug

#3249 docs: adapt static images to dark/light themes
  doc/changelog.d/3249.miscellaneous.md
  doc/source/getting_started/develop_pymapdl.rst
  doc/source/getting_started/learning.rst
  doc/source/getting_started/project.rst
  doc/source/getting_started/versioning.rst
  doc/source/images/architecture_diagram.png
  doc/source/images/architecture_diagram_dark_theme.png
  doc/source/images/architecture_diagram_light_theme.png
  doc/source/images/cicd.jpg
  doc/source/images/cicd_dark_theme.png
  doc/source/images/cicd_light_theme.png
  doc/source/images/dcb_test_dark_theme.png
  doc/source/images/dcb_test_light_theme.png
  doc/source/images/rst_structure.png
  doc/source/user_guide/mapdl.rst
  examples/00-mapdl-examples/composite_dcb.py
Labels: examples, documentation

#3255 build: update ansys-api-mapdl to 0.5.2
  doc/changelog.d/3255.dependencies.md
  doc/source/examples/extended_examples/hpc/requirements.txt
  minimum_requirements.txt
  pyproject.toml
Labels: documentation, dependencies, maintenance

#3252 fix: incorrect env vars section
  .github/workflows/ci.yml
  doc/changelog.d/3252.fixed.md
  doc/source/conf.py
  doc/source/user_guide/troubleshoot.rst
Labels: CI/CD, documentation, bug, maintenance

#3259 test: skip test
  doc/changelog.d/3259.added.md
  tests/test_cli.py
  tests/test_mapdl.py
Labels: enhancement

#3256 ci: run extended array based on the person who open the PR
  .github/workflows/ci.yml
  doc/changelog.d/3256.added.md
Labels: CI/CD, maintenance, enhancement

#3240 fix: Raising `ValueError` when using ips within pool library
  doc/changelog.d/3239.miscellaneous.md
  doc/changelog.d/3240.fixed.md
  doc/source/api/pool.rst
  src/ansys/mapdl/core/errors.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/pool.py
  tests/test_misc.py
Labels: documentation, bug

#3226 fix: missing arguments on ``OCDATA`` command
  doc/changelog.d/3226.fixed.md
  src/ansys/mapdl/core/_commands/solution/ocean.py
Labels: bug

#3263 fix: not showing instances on linux
  doc/changelog.d/3263.fixed.md
  src/ansys/mapdl/core/cli/list_instances.py
Labels: bug

#3266 fix: pool issues
  .ci/build_matrix.sh
  .github/workflows/ci.yml
  doc/changelog.d/3266.fixed.md
  src/ansys/mapdl/core/cli/list_instances.py
  src/ansys/mapdl/core/cli/stop.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/pool.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_console.py
  tests/test_mapdl.py
  tests/test_pool.py
Labels: CI/CD, bug, maintenance

#3282 fix: increasing timeout for local-min
  .github/workflows/ci.yml
  doc/changelog.d/3282.fixed.md
Labels: CI/CD, bug, maintenance

#3273 fix: removing io error when logging to closed streams
  .gitignore
  doc/changelog.d/3273.fixed.md
  src/ansys/mapdl/core/mapdl_core.py
  tests/test_mapdl.py
Labels: bug

#3258 refactor: moving tests to a class and adding delete method.
  doc/changelog.d/3258.added.md
  tests/test_pool.py
Labels: enhancement

#3239 feat: refactoring `create_temp_dir`
  doc/changelog.d/3239.miscellaneous.md
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/misc.py
  tests/test_mapdl.py
  tests/test_pool.py
Labels: new feature

#3288 fix: local-min timeout
  .github/workflows/ci.yml
  doc/changelog.d/3288.fixed.md
  doc/source/user_guide/pool.rst
Labels: CI/CD, documentation, bug, maintenance

#3295 fix: missing arguments in secdata
  doc/changelog.d/3295.fixed.md
  src/ansys/mapdl/core/_commands/preproc/sections.py
Labels: bug

#3304 fix: filename with /OUTPUT command in stored commands
  doc/changelog.d/3304.fixed.md
  src/ansys/mapdl/core/mapdl_core.py
Labels: bug

#3296 docs: adding warning about *mwrite. Update *vwrite warning to include *mwrite
  doc/changelog.d/3296.miscellaneous.md
  doc/source/user_guide/convert.rst
  doc/source/user_guide/mapdl.rst
  src/ansys/mapdl/core/_commands/apdl/array_param.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_extended.py
  tests/test_mapdl.py
Labels: documentation

#3315 fix: Making sure we skip all the pool unit tests.
  doc/changelog.d/3315.fixed.md
  tests/conftest.py
  tests/test_pool.py
Labels: bug
