Repository ansys/pymapdl, pull requests merged in 2024-06, with the labels that each got.

#3151 fix: update the general files to align with PyAnsys standards
  .github/CODEOWNERS
  .pre-commit-config.yaml
  AUTHORS
  AUTHORS.md
  CODEOWNERS
  CONTRIBUTORS.md
  README.md
  pyproject.toml
Labels: BUG, Maintenance, Dependencies

#3154 Converting chained APDL commands to PyMAPDL context manager.
  src/ansys/mapdl/core/convert.py
  tests/test_convert.py
Labels: Enhancement, New Feature

#3019 feat: implementing `ansys/actions/changelogs` and adding release note in documentation
  .github/dependabot.yml
  .github/pull_request_template.md
  .github/workflows/ci.yml
  .github/workflows/label.yml
  CHANGELOG.md
  doc/changelog.d/3019.miscellaneous.md
  doc/changelog.d/changelog_template.jinja
  doc/source/changelog.rst
  doc/source/conf.py
  doc/source/getting_started/contribution.rst
  doc/source/index.rst
  doc/source/links.rst
  pyproject.toml
Labels: Documentation, CI/CD, Maintenance, Dependencies

#3171 ci: using trusted publisher release process
  .github/workflows/ci.yml
  doc/changelog.d/3171.miscellaneous.md
Labels: CI/CD, Maintenance

#3166 feat: allowing multiple IPs for remote connection on `MapdlPool`
  doc/changelog.d/3166.miscellaneous.md
  src/ansys/mapdl/core/pool.py
  tests/test_pool.py
Labels: Enhancement, New Feature

#3169 fix: combine the `docker-compose` files
  doc/changelog.d/3169.miscellaneous.md
  doc/source/getting_started/docker.rst
  docker/docker-compose.dpf.yml
  docker/docker-compose.local.yml
  docker/docker-compose.yml
Labels: BUG, Documentation, CI/CD

#3182 docs: adding previous changes in `changelog.d` repository
  .github/labels.yml
  doc/changelog.d/2960.added.md
  doc/changelog.d/2966.miscellaneous.md
  doc/changelog.d/2981.miscellaneous.md
  doc/changelog.d/2982.added.md
  doc/changelog.d/2998.miscellaneous.md
  doc/changelog.d/2999.added.md
  doc/changelog.d/3002.fixed.md
  doc/changelog.d/3019.changed.md
  doc/changelog.d/3023.added.md
  doc/changelog.d/3024.miscellaneous.md
  doc/changelog.d/3035.fixed.md
  doc/changelog.d/3036.miscellaneous.md
  doc/changelog.d/3037.added.md
  doc/changelog.d/3046.miscellaneous.md
  doc/changelog.d/3047.added.md
  doc/changelog.d/3048.added.md
  doc/changelog.d/3049.added.md
  doc/changelog.d/3071.fixed.md
  doc/changelog.d/3086.fixed.md
  doc/changelog.d/3107.changed.md
  doc/changelog.d/3118.changed.md
  doc/changelog.d/3140.miscellaneous.md
  doc/changelog.d/3147.changed.md
  doc/changelog.d/3151.fixed.md
  doc/changelog.d/3154.added.md
  doc/changelog.d/3166.added.md
  doc/changelog.d/3169.fixed.md
  doc/changelog.d/3171.changed.md
  doc/changelog.d/3179.dependencies.md
  doc/changelog.d/3180.dependencies.md
  doc/changelog.d/3181.dependencies.md
  doc/changelog.d/3182.changed.md
Labels: CI/CD

#3186 ci: Use CICD only on ``v*`` tags.
  .github/workflows/ci.yml
  doc/changelog.d/3186.changed.md
Labels: CI/CD, maintenance

#3188 fix: using same labels everywhere
  .github/labels.yml
  .github/release.yml
  .github/workflows/label.yml
  doc/changelog.d/3188.fixed.md
Labels: CI/CD, bug, maintenance

#3198 feat: Add an inprocess backend to pymapdl
  doc/changelog.d/3198.added.md
  pyproject.toml
  src/ansys/mapdl/core/mapdl_inprocess.py
Labels: dependencies, maintenance, enhancement, new feature

#3191 ci: checking documentation style in ``Examples`` directory too
  .github/workflows/ci.yml
  doc/changelog.d/3191.changed.md
  examples/.vale.ini
Labels: CI/CD, maintenance, documentation

#3211 ci: Update julia testing
  .github/workflows/ci.yml
  doc/changelog.d/3211.changed.md
Labels: CI/CD, maintenance

#3204 ci: Fix missing labels format in dependabot file
  .github/dependabot.yml
  doc/changelog.d/3204.fixed.md
Labels: CI/CD

#3205 feat: Detaching logging from main logic
  doc/changelog.d/3205.added.md
  pyproject.toml
  src/ansys/mapdl/core/cli/__init__.py
  src/ansys/mapdl/core/cli/convert.py
  src/ansys/mapdl/core/cli/hpc.py
  src/ansys/mapdl/core/cli/list_instances.py
  src/ansys/mapdl/core/cli/login.py
  src/ansys/mapdl/core/hpc/login.py
  src/ansys/mapdl/core/hpc/pyhps.py
Labels: documentation, dependencies, new feature, maintenance, enhancement

#3225 ci: wrong tagging on the coverage artifacts
  .github/workflows/ci.yml
  doc/changelog.d/3225.fixed.md
Labels: CI/CD, bug, maintenance

#3223 ci: improving if to match also schedule and workflow_dispatch
  .github/workflows/ci.yml
  doc/changelog.d/3223.changed.md
Labels: CI/CD, maintenance
