Repository ansys/pymapdl, pull requests merged in 2024-05, with the labels that each got.

#3049 add argument to disable run_at_connect in MapdlGrpc
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: Enhancement, New Feature

#3047 Adding context manager to MapdlPool
  doc/source/user_guide/pool.rst
  src/ansys/mapdl/core/pool.py
  tests/test_pool.py
Labels: Enhancement, New Feature

#3024 Setting docs version to v241
  doc/source/getting_started/launcher.rst
  doc/source/getting_started/wsl.rst
  doc/source/links.rst
  doc/source/user_guide/cli.rst
  doc/source/user_guide/mapdl.rst
  doc/source/user_guide/troubleshoot.rst
  doc/source/user_guide/upf.rst
Labels: Documentation

#3037 Update vfquery
  src/ansys/mapdl/core/_commands/aux12_/radiosity_solver.py
Labels: Enhancement, New Feature

#3046 Adding documentation about remote mapdl pool
  doc/source/user_guide/pool.rst
  src/ansys/mapdl/core/pool.py
Labels: Documentation

#3048 Allowing passing IP to MapdlPool
  doc/source/user_guide/pool.rst
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/pool.py
  tests/test_pool.py
Labels: Enhancement, New Feature

#2981 Adding ML-Genetic Algorithm example
  doc/source/examples/extended_examples/hpc/hpc_ml_ga.rst
  doc/source/examples/extended_examples/hpc/ml_ga_beam.py
  doc/source/examples/extended_examples/hpc/requirements.txt
  doc/source/examples/extended_examples/index.rst
  doc/source/links.rst
  doc/source/user_guide/hpc.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: Documentation

#3071 Clarifying MAPDL commands API section
  doc/source/_static/pyansys-logo-dark_mode.png
  doc/source/_static/pyansys-logo-light_mode.png
  doc/source/conf.py
Labels: BUG, Documentation

#3088 Revert "Skipping `test_xpl.py::test_save` on v24.2 (#2905)"
  tests/test_xpl.py
Labels: BUG

#3112 Adding inputs and outputs
  src/ansys/mapdl/core/cli/hpc.py
  src/ansys/mapdl/core/hpc/pyhps.py
Labels: Enhancement, New Feature

#3111 Adding APDL jobs support
  src/ansys/mapdl/core/cli/hpc.py
  src/ansys/mapdl/core/hpc/pyhps.py
Labels: Enhancement, New Feature

#3147 CI: Remove OS package duplicate
  .github/workflows/ci.yml
Labels: CI/CD, Maintenance

#3118 Adding tag for doc review
  .github/labels.yml
Labels: CI/CD, Maintenance

#3086 Making old API function discoverable when Click is not installed.
  src/ansys/mapdl/core/cli/__init__.py
Labels: BUG
