Repository ansys/pymapdl, pull requests merged in 2024-03, with the labels that each got.

#2843 Downgrading packages
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
Labels: BUG, Maintenance

#2846 Adding screenshot method.
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: Enhancement, New Feature

#2848 Fix documentation
  doc/source/getting_started/install_pymapdl.rst
  doc/source/user_guide/cli.rst
  doc/source/user_guide/upf.rst
  doc/styles/Vocab/ANSYS/accept.txt
Labels: Documentation

#2849 Using tabs more widely
  doc/source/getting_started/devcontainer.rst
  doc/source/getting_started/develop_pymapdl.rst
  doc/source/getting_started/docker.rst
  doc/source/getting_started/launcher.rst
  doc/source/getting_started/write_documentation.rst
  doc/source/user_guide/troubleshoot.rst
Labels: Documentation

#2854 Removing redundancies
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/misc.py
  tests/test_launcher.py
  tests/test_misc.py
Labels: Enhancement, New Feature

#2863 Using only one script to launch MAPDL
  .ci/start_mapdl.sh
  .ci/start_mapdl_student.sh
  .ci/start_mapdl_ubuntu.sh
  .github/workflows/ci.yml
Labels: CI/CD, Maintenance

#2864 Running docker pull in the background
  .github/workflows/ci.yml
Labels: CI/CD, Maintenance

#2868 Cleaning and externalising functions in ci.yml
  .ci/collect_mapdl_logs.sh
  .ci/display_logs.sh
  .ci/substitute_defective_gif.sh
  .ci/waiting_services.sh
  .github/workflows/ci.yml
Labels: CI/CD, Maintenance

#2862 Allow `pool` to connect to remote MAPDL instances
  .ci/collect_mapdl_logs.sh
  .ci/start_mapdl.sh
  .github/workflows/ci.yml
  src/ansys/mapdl/core/errors.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/pool.py
  tests/test_pool.py
Labels: Enhancement, New Feature

#2874 Setting julia cicd
  .github/workflows/ci.yml
Labels: CI/CD, Maintenance

#2132 Updating `README.rst` file
  README.md
Labels: Documentation

#2876 Update ansys-sphinx-theme
  .devcontainer/codespaces-docs/requirements.txt
  pyproject.toml
  tests/.image_cache/bc_plot_options[True-True-False].png
  tests/.image_cache/bc_plot_options[True-True-True].png
  tests/test_plotting.py
Labels: Maintenance, Dependencies

#2878 Fixing not passing start_instance
  src/ansys/mapdl/core/launcher.py
  tests/.image_cache/bc_plot_options[True-True-False].png
  tests/.image_cache/bc_plot_options[True-True-True].png
  tests/test_launcher.py
Labels: BUG

#2897 Fix edge case were MAPDL to start and we do not initialize self._version
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: BUG

#2898 Fixing the image cache issue
  src/ansys/mapdl/core/plotting.py
  tests/.image_cache/bc_plot_options[False-False-False].png
  tests/.image_cache/bc_plot_options[False-False-True].png
  tests/.image_cache/bc_plot_options[False-True-False].png
  tests/.image_cache/bc_plot_options[False-True-True].png
  tests/.image_cache/bc_plot_options[True-False-False].png
  tests/.image_cache/bc_plot_options[True-False-True].png
  tests/.image_cache/bc_plot_options[True-True-False].png
  tests/.image_cache/bc_plot_options[True-True-True].png
  tests/.image_cache/single_glyph[0-FX].png
  tests/.image_cache/single_glyph[0-FY].png
  tests/.image_cache/single_glyph[0-FZ].png
  tests/.image_cache/single_glyph[0-UX].png
  tests/.image_cache/single_glyph[0-UY].png
  tests/.image_cache/single_glyph[0-UZ].png
  tests/.image_cache/single_glyph[50-FX].png
  tests/.image_cache/single_glyph[50-FY].png
  tests/.image_cache/single_glyph[50-FZ].png
  tests/.image_cache/single_glyph[50-UX].png
  tests/.image_cache/single_glyph[50-UY].png
  tests/.image_cache/single_glyph[50-UZ].png
  tests/.image_cache/single_glyph[500-FX].png
  tests/.image_cache/single_glyph[500-FY].png
  tests/.image_cache/single_glyph[500-FZ].png
  tests/.image_cache/single_glyph[500-UX].png
  tests/.image_cache/single_glyph[500-UY].png
  tests/.image_cache/single_glyph[500-UZ].png
  tests/test_plotting.py
Labels: BUG

#2880 Adding codecov token to the uploader action
  .github/workflows/ci.yml
Labels: BUG, CI/CD, Maintenance

#2900 Revert "MAINT: Bump the documentation group in /.devcontainer with 3 updates (#2884)"
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
Labels: BUG, CI/CD

#2901 Adding more error catching
  src/ansys/mapdl/core/mapdl_core.py
  tests/test_mapdl.py
Labels: Enhancement

#2905 Skipping `test_xpl.py::test_save` on v24.2
  tests/test_xpl.py
Labels: BUG, CI/CD, MAPDL

#2907 Renaming LocalMapdlPool class
  doc/source/api/pool.rst
  doc/source/user_guide/pool.rst
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/pool.py
  tests/test_pool.py
Labels: BUG, Documentation

#2906 Fix linkchecker workflow
  .github/workflows/linkchecker.yml
  doc/source/conf.py
Labels: BUG, CI/CD, Maintenance

#2917 Fixing infinite loop cache cleaner
  .github/workflows/cache_cleaner.yml
Labels: BUG, CI/CD, Maintenance

#2912 Avoiding having both "start_instance" and "ip" set.
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: BUG

#2913 Adding a warning if there is a conflict between env vars and arguments
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: Enhancement, DO NOT MERGE, New Feature

#2915 Ignoring `PYMAPDL_START_INSTANCE` env var on CLI `pymapdl start`
  src/ansys/mapdl/core/cli.py
  tests/test_cli.py
Labels: BUG

#2920 Adding a more comprehensive printing in pytest
  tests/common.py
  tests/conftest.py
Labels: Maintenance

#2922 Fix doc builds in Windows
  src/ansys/mapdl/core/launcher.py
Labels: BUG

#2918 Fix Windows tests
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_extended.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_examples.py
  tests/test_launcher.py
  tests/test_licensing.py
  tests/test_mapdl.py
Labels: BUG

#2929 Adding v242 to CICD
  .ci/collect_mapdl_logs.sh
  .ci/start_mapdl.sh
  .github/workflows/ci.yml
  src/ansys/mapdl/core/_version.py
  src/ansys/mapdl/core/database/database.py
  tests/test_database.py
Labels: CI/CD, Maintenance

#2930 ci: use ``feat/seo-improvements`` branch of ``ansys/actions`` for doc-deploy
  .github/workflows/ci.yml
  doc/source/conf.py
Labels: Enhancement, Documentation, New Feature, CI/CD, Maintenance
