Repository ansys/pymapdl, pull requests merged in 2025-04, with the labels that each got.

#3805 ci: adapting workflow for new docker container
  .ci/build_matrix.sh
  .github/workflows/ci.yml
  .github/workflows/test-local.yml
  doc/changelog.d/3805.maintenance.md
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/common.py
  tests/conftest.py
  tests/test_launcher.py
Labels: CI/CD, maintenance

#3812 fix: aborting MAPDL
  doc/changelog.d/3812.fixed.md
  src/ansys/mapdl/core/errors.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: bug

#3822 feat: update Dockerfiles and requirements for improved library support and version upgrades
  .devcontainer/codespaces-dev/Dockerfile
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/Dockerfile
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/Dockerfile
  .devcontainer/devcontainer-local/requirements.txt
  doc/changelog.d/3822.maintenance.md
Labels: CI/CD, new feature, maintenance

#3826 fix: remove exceptions on mapdl object deletion
  doc/changelog.d/3826.fixed.md
  tests/conftest.py
  tests/test_launcher.py
  tests/test_mapdl.py
Labels: bug

#3834 ci: update action versions to v9 in CI workflows
  .github/workflows/ci.yml
  .github/workflows/docker_clean_untagged.yml
  .github/workflows/label.yml
  doc/changelog.d/3834.maintenance.md
Labels: CI/CD, maintenance

#3837 feat: update CI workflow to release to PyPI using trusted publisher
  .github/workflows/ci.yml
  doc/changelog.d/3837.maintenance.md
Labels: CI/CD, new feature, maintenance

#3791 fix: adding console testing
  .github/workflows/ci.yml
  doc/changelog.d/3791.fixed.md
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_console.py
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_console.py
  tests/test_launcher.py
Labels: CI/CD, bug, maintenance

#3820 feat: Add optional graphical target and rework graphics backend selection
  doc/changelog.d/3820.fixed.md
  doc/source/api/mapdl.rst
  doc/source/user_guide/plotting.rst
  examples/00-mapdl-examples/2d_magnetostatic_solenoid-BodyFlux_Averaging.py
  examples/00-mapdl-examples/2d_plate_with_a_hole.py
  examples/00-mapdl-examples/3d_notch.py
  examples/00-mapdl-examples/bracket_static.py
  examples/00-mapdl-examples/lathe_cutter.py
  examples/00-mapdl-examples/mapdl_beam.py
  examples/02-tips-n-tricks/01-smoothing-element-size-transitions.py
  pyproject.toml
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/_commands/graphics_/style.py
  src/ansys/mapdl/core/_commands/post1_/controls.py
  src/ansys/mapdl/core/cli/convert.py
  src/ansys/mapdl/core/convert.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_console.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/mapdl_inprocess.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/plotting/__init__.py
  src/ansys/mapdl/core/post.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_console.py
  tests/test_convert.py
  tests/test_mapdl.py
  tests/test_plotting.py
  tests/test_post.py
Labels: examples, documentation, dependencies, new feature, bug, maintenance

#3840 docs: create self-contained apdl/pymapdl conversion example
  doc/changelog.d/3840.documentation.md
  examples/02-tips-n-tricks/06-convert-apdl-to-pymapdl.py
Labels: examples, documentation

#3838 fix: Allow jupyter_backend manual selection
  doc/changelog.d/3838.fixed.md
  pyproject.toml
  src/ansys/mapdl/core/plotting/visualizer.py
Labels: dependencies, bug, maintenance

#3851 fix: add check for artifacts directory before processing files
  .github/actions/pytest-summary/action.yml
  doc/changelog.d/3851.fixed.md
Labels: CI/CD, bug, maintenance

#3854 fix: specify type for click options in convert.py
  doc/changelog.d/3854.fixed.md
  src/ansys/mapdl/core/cli/convert.py
Labels: bug

#3850 fix: linkchecker
  .github/workflows/doc-build.yml
  .github/workflows/linkchecker.yml
  doc/changelog.d/3850.fixed.md
  doc/source/conf.py
Labels: CI/CD, documentation, bug, maintenance

#3855 fix: annotate launch_mapdl and better docstring
  doc/changelog.d/3855.fixed.md
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/misc.py
Labels: bug

#3748 feat: ``database`` submodule
  .github/workflows/doc-build.yml
  doc/changelog.d/3748.documentation.md
  doc/source/mapdl_commands/database/components.rst
  doc/source/mapdl_commands/database/coord_sys.rst
  doc/source/mapdl_commands/database/coordinate_system.rst
  doc/source/mapdl_commands/database/index.rst
  doc/source/mapdl_commands/database/picking.rst
  doc/source/mapdl_commands/database/selecting.rst
  doc/source/mapdl_commands/database/set_up.rst
  doc/source/mapdl_commands/database/setup.rst
  doc/source/mapdl_commands/database/working_plane.rst
  src/ansys/mapdl/core/_commands/database/__init__.py
  src/ansys/mapdl/core/_commands/database/components.py
  src/ansys/mapdl/core/_commands/database/coord_sys.py
  src/ansys/mapdl/core/_commands/database/coordinate_system.py
  src/ansys/mapdl/core/_commands/database/picking.py
  src/ansys/mapdl/core/_commands/database/selecting.py
  src/ansys/mapdl/core/_commands/database/set_up.py
  src/ansys/mapdl/core/_commands/database/setup.py
  src/ansys/mapdl/core/_commands/database/working_plane.py
  src/ansys/mapdl/core/commands.py
Labels: CI/CD, documentation, new feature, maintenance

#3858 fix: remove duplicated lines
  doc/changelog.d/3858.fixed.md
  docker/Dockerfile
Labels: CI/CD, bug

#3852 ci: adding dpf testing to cicd
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
  .github/workflows/ci.yml
  .github/workflows/test-local.yml
  doc/changelog.d/3852.dependencies.md
  pyproject.toml
  tests/common.py
  tests/test_dpf.py
Labels: CI/CD, dependencies, maintenance

#3869 feat: add GitHub Actions workflow to recreate PRs in main repository
  .github/workflows/migrator.yml
  doc/changelog.d/3869.maintenance.md
Labels: CI/CD, new feature, maintenance

#3750 feat: ``graphics`` submodule
  doc/changelog.d/3750.documentation.md
  doc/source/mapdl_commands/graphics/annotation.rst
  doc/source/mapdl_commands/graphics/graphs.rst
  doc/source/mapdl_commands/graphics/index.rst
  doc/source/mapdl_commands/graphics/labeling.rst
  doc/source/mapdl_commands/graphics/scaling.rst
  doc/source/mapdl_commands/graphics/set_up.rst
  doc/source/mapdl_commands/graphics/setup.rst
  doc/source/mapdl_commands/graphics/style.rst
  doc/source/mapdl_commands/graphics/views.rst
  src/ansys/mapdl/core/_commands/graphics/__init__.py
  src/ansys/mapdl/core/_commands/graphics/annotation.py
  src/ansys/mapdl/core/_commands/graphics/graphs.py
  src/ansys/mapdl/core/_commands/graphics/labeling.py
  src/ansys/mapdl/core/_commands/graphics/scaling.py
  src/ansys/mapdl/core/_commands/graphics/set_up.py
  src/ansys/mapdl/core/_commands/graphics/style.py
  src/ansys/mapdl/core/_commands/graphics/views.py
  src/ansys/mapdl/core/_commands/graphics_/annotation.py
  src/ansys/mapdl/core/_commands/graphics_/graphs.py
  src/ansys/mapdl/core/_commands/graphics_/labeling.py
  src/ansys/mapdl/core/_commands/graphics_/scaling.py
  src/ansys/mapdl/core/_commands/graphics_/setup.py
  src/ansys/mapdl/core/_commands/graphics_/style.py
  src/ansys/mapdl/core/_commands/graphics_/views.py
  src/ansys/mapdl/core/commands.py
Labels: documentation, new feature
