Repository ansys/pymapdl, pull requests merged in 2025-03, with the labels that each got.

#3773 fix: missing pool name in test
  doc/changelog.d/3773.fixed.md
  src/ansys/mapdl/core/component.py
  src/ansys/mapdl/core/mesh_grpc.py
  src/ansys/mapdl/core/pool.py
  tests/test_pool.py
Labels: bug

#3778 feat: implement ignore cache reset context
  doc/changelog.d/3778.miscellaneous.md
  src/ansys/mapdl/core/common_grpc.py
  src/ansys/mapdl/core/mesh_grpc.py
  tests/test_mapdl.py
  tests/test_mesh_grpc.py
  tests/test_post.py
Labels: new feature

#3784 fix: improve element and node selection handling in post-processing
  doc/changelog.d/3784.fixed.md
  src/ansys/mapdl/core/mesh/mesh.py
  src/ansys/mapdl/core/post.py
  tests/test_post.py
Labels: bug

#3786 docs: update towncrier template
  doc/changelog.d/3786.documentation.md
  doc/changelog.d/changelog_template.jinja
Labels: documentation

#3787 ci: using reusable workflows
  .github/actions/build-matrix/action.yml
  .github/actions/pytest-summary/action.yml
  .github/actions/test-julia/action.yml
  .github/actions/test-windows/action.yml
  .github/workflows/ci.yml
  .github/workflows/doc-build.yml
  .github/workflows/test-local.yml
  .github/workflows/test-remote.yml
  doc/changelog.d/3787.maintenance.md
  tests/test_mapdl.py
Labels: CI/CD, maintenance

#3795 docs: adding reference to tags
  doc/changelog.d/3795.documentation.md
  doc/source/changelog.rst
  pyproject.toml
Labels: documentation, dependencies, maintenance

#3702 fix(plotting): Improve interface of the plotting class.
  doc/changelog.d/3702.fixed.md
  src/ansys/mapdl/core/plotting/visualizer.py
  tests/test_plotting.py
Labels: bug

#3808 docs: update supported versions table for Ansys 2023-2025
  doc/changelog.d/3808.documentation.md
  doc/source/getting_started/versioning.rst
Labels: documentation
