Repository ansys/pymapdl, pull requests merged in 2025-05, with the labels that each got.

#3605 chore: active support for Python 3.13
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/examples.yml
  .github/workflows/ci.yml
  .github/workflows/test-local.yml
  .github/workflows/test-remote.yml
  README.md
  doc/changelog.d/3605.added.md
  doc/source/examples/extended_examples/gui/requirements.txt
  doc/source/getting_started/install_pymapdl.rst
  doc/source/user_guide/upf.rst
  pyproject.toml
  tox.ini
Labels: DO NOT MERGE, CI/CD, documentation, dependencies, maintenance, enhancement

#3887 refactor: do not import ansys.tools.visualizer by default when importing ansys.mapdl.core
  doc/changelog.d/3887.added.md
  doc/changelog.d/3897.miscellaneous.md
  doc/source/api/plotting.rst
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/helpers.py
  src/ansys/mapdl/core/plotting/__init__.py
  src/ansys/mapdl/core/plotting/visualizer.py
  src/ansys/mapdl/core/post.py
  tests/test_examples.py
Labels: documentation, enhancement

#3902 feat: add CodeQL analysis workflow for Python
  .github/workflows/codeql-analysis.yml
  doc/changelog.d/3902.maintenance.md
Labels: CI/CD, new feature, maintenance

#3904 fix: update ansys-sphinx-theme version to 1.4.4 in requirements files
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
  .github/workflows/doc-build.yml
  doc/changelog.d/3904.fixed.md
  doc/source/examples/extended_examples/gui/requirements.txt
  doc/source/examples/extended_examples/hpc/requirements.txt
  pyproject.toml
Labels: CI/CD, documentation, dependencies, bug, maintenance

#3899 chore: remove xfail markers from most flaky tests
  doc/changelog.d/3899.added.md
  tests/test_importing_geometries.py
  tests/test_mapdl.py
  tests/test_pool.py
  tests/test_post.py
  tests/test_xpl.py
Labels: bug, enhancement

#3908 fix: update changelog title format to include 'v' prefix for version
  doc/changelog.d/3908.fixed.md
  pyproject.toml
Labels: dependencies, bug, maintenance

#3907 chore: update version to 0.70.dev0 in pyproject.toml
  doc/changelog.d/3907.added.md
  pyproject.toml
Labels: dependencies, maintenance, enhancement

#3905 feat: add artifact upload steps for JSONL logs in local and remote test workflows
  .ci/pytest_summary.py
  .github/actions/pytest-summary/action.yml
  .github/workflows/test-local.yml
  .github/workflows/test-remote.yml
  doc/changelog.d/3905.maintenance.md
Labels: CI/CD, new feature, maintenance

#3915 fix: Change the mapdl_inprocess graphics backend
  doc/changelog.d/3915.fixed.md
  src/ansys/mapdl/core/mapdl_inprocess.py
Labels: bug

#3920 build: update action versions in CI workflows to latest stable releases
  .github/workflows/ci.yml
  .github/workflows/docker_clean_untagged.yml
  .github/workflows/label.yml
  doc/changelog.d/3920.maintenance.md
Labels: CI/CD, maintenance

#3922 fix: add Stack Overflow links to linkcheck ignore list
  doc/changelog.d/3922.fixed.md
  doc/source/conf.py
Labels: documentation, bug

#3882 ci: use own DPF standalone Docker image reference in workflows
  .ci/collect_mapdl_logs_remote.sh
  .github/workflows/doc-build.yml
  .github/workflows/test-remote.yml
  doc/changelog.d/3882.dependencies.md
  docker/docker-compose.yml
  pyproject.toml
  tests/test_dpf.py
Labels: CI/CD, dependencies, maintenance

#3934 ci: using strict markers on pytest
  .github/workflows/test-local.yml
  .github/workflows/test-remote.yml
  doc/changelog.d/3934.dependencies.md
  pyproject.toml
  tests/conftest.py
Labels: CI/CD, dependencies, maintenance

#3930 refactor: update geometry tests
  doc/changelog.d/3930.added.md
  src/ansys/mapdl/core/mapdl_extended.py
  tests/test_importing_geometries.py
Labels: enhancement

#3938 fix: MapdlRuntimeError message in ``cwd``
  doc/changelog.d/3938.fixed.md
  src/ansys/mapdl/core/_commands/session/run_controls.py
Labels: bug

#3940 ci: adding mypy support
  .pre-commit-config.yaml
  doc/changelog.d/3935.dependencies.md
  doc/changelog.d/3940.dependencies.md
  pyproject.toml
Labels: CI/CD, dependencies, maintenance

#3935 ci: annotating launcher, convert and commands files
  doc/changelog.d/3935.dependencies.md
  doc/changelog.d/3935.maintenance.md
  src/ansys/mapdl/core/__init__.py
  src/ansys/mapdl/core/_commands/parse.py
  src/ansys/mapdl/core/commands.py
  src/ansys/mapdl/core/convert.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/plotting/theme.py
  tests/test_launcher.py
Labels: CI/CD

#3943 refactor: enhance error reporting in pytest output for better debugging
  doc/changelog.d/3943.added.md
  tests/conftest.py
  tests/test_krylov.py
  tests/test_launcher_remote.py
  tests/test_plotting.py
  tests/test_pool.py
  tests/test_theme.py
Labels: enhancement

#2346 docs: adding plottly support to gallery examples
  doc/changelog.d/2346.documentation.md
  doc/source/conf.py
  examples/00-mapdl-examples/2d_plate_with_a_hole.py
Labels: DO NOT MERGE, examples, documentation

#3947 refactor: update MyReporter to display passed tests before failed tests
  .github/workflows/test-local.yml
  .github/workflows/test-remote.yml
  doc/changelog.d/3947.added.md
  pyproject.toml
  tests/conftest.py
Labels: CI/CD, dependencies, maintenance, enhancement

#3964 feat: enhance error handling with color support and additional notes in exceptions.
  doc/changelog.d/3964.miscellaneous.md
  src/ansys/mapdl/core/errors.py
Labels: new feature

#3878 ci: implementing migrator workflow
  .github/actions/pytest-summary/action.yml
  .github/workflows/ci.yml
  .github/workflows/migrator.yml
  doc/changelog.d/3878.maintenance.md
Labels: CI/CD, maintenance
