Repository ansys/pymapdl, pull requests merged in 2025-01, with the labels that each got.

#3631 refactor: Iterate over the dictionary directly instead of using .keys().
  doc/changelog.d/3631.added.md
  src/ansys/mapdl/core/commands.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/pool.py
Labels: enhancement

#3577 refactor: small improvements to test settings
  .github/workflows/ci.yml
  doc/changelog.d/3577.added.md
  src/ansys/mapdl/core/database/database.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/parameters.py
  src/ansys/mapdl/core/post.py
  tests/common.py
  tests/conftest.py
  tests/test_database.py
  tests/test_mapdl.py
  tests/test_post.py
  tests/test_xpl.py
Labels: CI/CD, maintenance, enhancement

#3638 ci: fix safety issue
  doc/changelog.d/3638.maintenance.md
  src/ansys/mapdl/core/launcher.py
Labels: CI/CD

#3640 fix: changelog
  doc/changelog.d/3247.fixed.md
  doc/changelog.d/3640.fixed.md
Labels: bug

#3636 feat: node/element selection commands returning selected ids
  doc/changelog.d/3636.miscellaneous.md
  src/ansys/mapdl/core/commands.py
  src/ansys/mapdl/core/mapdl_core.py
  tests/conftest.py
  tests/test_mesh_grpc.py
Labels: new feature

#3642 fix: timeout for file checking
  .github/workflows/ci.yml
  doc/changelog.d/3642.fixed.md
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_grpc.py
Labels: CI/CD, bug, maintenance

#3659 ci: pin ubuntu OS to 22.04.
  .github/workflows/ci.yml
  .github/workflows/linkchecker.yml
  doc/changelog.d/3659.maintenance.md
Labels: CI/CD, maintenance

#3667 ci: downgrade add-license-headers ansys precommit hook.
  .pre-commit-config.yaml
  LICENSE
  doc/changelog.d/3667.maintenance.md
Labels: CI/CD

#3668 ci: skipping students version if on remote
  .ci/build_matrix.sh
  .github/workflows/ci.yml
  doc/changelog.d/3668.maintenance.md
Labels: CI/CD, maintenance

#3669 ci: reducing minimal and console to two versions, and after local and remote
  .github/workflows/ci.yml
  doc/changelog.d/3669.maintenance.md
Labels: CI/CD, maintenance

#3662 fix: parsing components when too many
  doc/changelog.d/3662.fixed.md
  src/ansys/mapdl/core/component.py
  tests/test_component.py
Labels: bug

#3664 refactor: using test class in test_components.py
  doc/changelog.d/3664.added.md
  tests/test_component.py
Labels: enhancement

#3665 fix: avoid com logging if not in debug mode
  doc/changelog.d/3665.fixed.md
  src/ansys/mapdl/core/mapdl_core.py
  tests/test_mapdl.py
Labels: bug

#3666 test: making sure the full and rst files exists before running the tests
  doc/changelog.d/3666.added.md
  tests/test_xpl.py
Labels: enhancement

#3663 feat: adding __len__ to components
  doc/changelog.d/3663.miscellaneous.md
  src/ansys/mapdl/core/component.py
  tests/test_component.py
Labels: new feature

#3684 docs: fix post documentation
  doc/changelog.d/3684.documentation.md
  src/ansys/mapdl/core/post.py
Labels: documentation

#3676 ci: adding-profiling-to-unit-tests
  .ci/collect_mapdl_logs_locals.sh
  .ci/collect_mapdl_logs_remote.sh
  .ci/requirements_minimal.txt
  .github/workflows/ci.yml
  .gitignore
  doc/changelog.d/3676.dependencies.md
  pyproject.toml
  tests/conftest.py
Labels: CI/CD, dependencies, maintenance

#3385 feat: ``apdl`` submodule
  .github/workflows/ci.yml
  .pre-commit-config.yaml
  doc/changelog.d/3385.added.md
  doc/source/conf.py
  doc/source/mapdl_commands/apdl/abbreviations.rst
  doc/source/mapdl_commands/apdl/array_parameters.rst
  doc/source/mapdl_commands/apdl/array_parm.rst
  doc/source/mapdl_commands/apdl/encryption_decryption.rst
  doc/source/mapdl_commands/apdl/index.rst
  doc/source/mapdl_commands/apdl/macro_files.rst
  doc/source/mapdl_commands/apdl/matrix_op.rst
  doc/source/mapdl_commands/apdl/matrix_operations.rst
  doc/source/mapdl_commands/apdl/parameter_definition.rst
  doc/source/mapdl_commands/apdl/process_controls.rst
  doc/source/mapdl_commands/index.rst
  pyproject.toml
  src/ansys/mapdl/core/_commands/apdl/__init__.py
  src/ansys/mapdl/core/_commands/apdl/abbreviations.py
  src/ansys/mapdl/core/_commands/apdl/array_param.py
  src/ansys/mapdl/core/_commands/apdl/array_parameters.py
  src/ansys/mapdl/core/_commands/apdl/encryption_decryption.py
  src/ansys/mapdl/core/_commands/apdl/macro_files.py
  src/ansys/mapdl/core/_commands/apdl/matrix_op.py
  src/ansys/mapdl/core/_commands/apdl/matrix_operations.py
  src/ansys/mapdl/core/_commands/apdl/parameter_definition.py
  src/ansys/mapdl/core/_commands/apdl/process_controls.py
  src/ansys/mapdl/core/commands.py
  src/ansys/mapdl/core/mapdl_core.py
  tests/test_krylov.py
Labels: CI/CD, documentation, dependencies, new feature, maintenance, enhancement

#3690 ci: skipping non-student versions when running on remote
  .ci/build_matrix.sh
  doc/changelog.d/3690.maintenance.md
Labels: CI/CD

#3693 ci: adding memory limitation to MAPDL command line
  .ci/start_mapdl.sh
  doc/changelog.d/3693.maintenance.md
Labels: CI/CD

#3686 fix: avoid MAPDL commands execution when gRPC connection fails.
  doc/changelog.d/3686.fixed.md
  src/ansys/mapdl/core/errors.py
  tests/common.py
  tests/conftest.py
  tests/test_grpc.py
  tests/test_mapdl.py
  tests/test_parameters.py
  tests/test_xpl.py
Labels: bug

#3648 feat: add stochastic fem example
  doc/changelog.d/3648.documentation.md
  doc/source/conf.py
  doc/source/examples/extended_examples/index.rst
  doc/source/examples/extended_examples/sfem/mean.png
  doc/source/examples/extended_examples/sfem/pdf.png
  doc/source/examples/extended_examples/sfem/problem.png
  doc/source/examples/extended_examples/sfem/realizations.png
  doc/source/examples/extended_examples/sfem/sfem.py
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
  doc/source/examples/extended_examples/sfem/variance.png
  doc/source/examples/extended_examples/sfem/young_modulus_realizations.png
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation, new feature

#3697 feat: improving performance of save_selection
  doc/changelog.d/3697.miscellaneous.md
  src/ansys/mapdl/core/mapdl_core.py
  tests/test_mapdl.py
Labels: new feature

#3694 test: adding tests asserting None are translated to "None".
  doc/changelog.d/3694.added.md
  tests/test_mapdl.py
Labels: enhancement

#3678 refactor: make cli testing not depending on MAPDL.
  doc/changelog.d/3678.added.md
  src/ansys/mapdl/core/cli/list_instances.py
  src/ansys/mapdl/core/cli/start.py
  src/ansys/mapdl/core/cli/stop.py
  tests/test_cli.py
Labels: enhancement

#3703 test: improving testing performance
  doc/changelog.d/3703.added.md
  src/ansys/mapdl/core/errors.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/common.py
  tests/conftest.py
  tests/test_grpc.py
  tests/test_mapdl.py
Labels: enhancement

#3679 feat: allow passing strings to the converter from the terminal
  doc/changelog.d/3679.documentation.md
  doc/source/user_guide/convert.rst
  src/ansys/mapdl/core/cli/__init__.py
  src/ansys/mapdl/core/cli/convert.py
  tests/test_cli.py
  tests/test_convert.py
Labels: documentation, new feature

#3708 feat: avoiding reconnecting if MAPDL exited already
  doc/changelog.d/3708.miscellaneous.md
  src/ansys/mapdl/core/errors.py
  tests/test_cli.py
  tests/test_mapdl.py
Labels: new feature

#3711 fix: sfem example typo errors
  doc/changelog.d/3711.fixed.md
  doc/source/examples/extended_examples/sfem/sfem.py
  doc/source/examples/extended_examples/sfem/stochastic_fem.rst
  doc/source/examples/extended_examples/sfem/variance.png
Labels: documentation, bug
