Repository ansys/pymapdl, pull requests merged in 2025-07, with the labels that each got.

#4059 chore: add SECURITY.md with vulnerability reporting guidelines and supported versions
  SECURITY.md
  doc/changelog.d/4059.miscellaneous.md
Labels: enhancement

#4069 docs: add Ask DeepWiki badge to README
  README.md
Labels: documentation

#4077 fix: improve restarting MAPDL during testing
  .github/workflows/test-local.yml
  .github/workflows/test-remote.yml
  doc/changelog.d/4077.fixed.md
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/common.py
  tests/conftest.py
Labels: CI/CD, bug, maintenance

#3814 ci: use ubuntu-latest github image
  .devcontainer/codespaces-dev/Dockerfile
  .devcontainer/codespaces-docs/Dockerfile
  .devcontainer/devcontainer-local/Dockerfile
  .github/workflows/ci.yml
  .github/workflows/doc-build.yml
  .github/workflows/linkchecker.yml
  .github/workflows/test-local.yml
  .github/workflows/test-remote.yml
  doc/changelog.d/3814.miscellaneous.md
Labels: CI/CD, maintenance

#4097 test: enhance testing logging
  doc/changelog.d/4097.miscellaneous.md
  tests/common.py
  tests/conftest.py
  tests/test_mapdl.py
Labels: enhancement

#4099 refactor: enhance sys method type hints and clean up return value
  doc/changelog.d/4099.miscellaneous.md
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: enhancement

#4101 refactor: using Path method for joining paths.
  doc/changelog.d/4101.miscellaneous.md
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/parameters.py
  tests/conftest.py
  tests/test_grpc.py
  tests/test_krylov.py
  tests/test_mapdl.py
  tests/test_misc.py
  tests/test_plotting.py
Labels: enhancement

#1300 feat: using dpf instead of reader in "results" module
  doc/changelog.d/1300.miscellaneous.md
  src/ansys/mapdl/core/examples/examples.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/misc.py
  src/ansys/mapdl/core/reader/__init__.py
  src/ansys/mapdl/core/reader/result.py
  tests/test_dpf.py
  tests/test_mapdl.py
  tests/test_result.py
Labels: DO NOT MERGE, new feature

#4110 feat: parameterize tests for element and volume selection in post-processing
  doc/changelog.d/4110.miscellaneous.md
  tests/test_post.py
Labels: new feature

#4108 refactor: move methods from MapdlGrpc class to core and extended
  doc/changelog.d/4108.miscellaneous.md
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_mapdl.py
Labels: enhancement

#4116 feat: allow PSD plots to show
  doc/changelog.d/4116.miscellaneous.md
  src/ansys/mapdl/core/mapdl_core.py
Labels: new feature

#4118 fix: update MAPDL image version and remove DPF server activation step in documentation build workflow
  .github/workflows/doc-build.yml
  doc/changelog.d/4118.fixed.md
Labels: CI/CD, bug, maintenance

#4119 feat: add TBPL command to PLOT_COMMANDS list
  doc/changelog.d/4119.miscellaneous.md
  src/ansys/mapdl/core/mapdl_core.py
Labels: new feature

#4128 fix: remove unused image files from image_cache_dir
  doc/changelog.d/4128.miscellaneous.md
  image_cache_dir/pick_nodes[A].png
  image_cache_dir/pick_nodes[R].png
  image_cache_dir/pick_nodes[S].png
  image_cache_dir/pick_nodes[U].png
Labels: bug

#4129 feat: add SECP command to PLOT_COMMANDS list
  doc/changelog.d/4129.miscellaneous.md
  src/ansys/mapdl/core/mapdl_core.py
Labels: new feature

#4132 fix: doc build workflow by using two containers: MAPDL and DPF
  .github/workflows/doc-build.yml
  doc/changelog.d/4118.fixed.md
  doc/changelog.d/4132.fixed.md
Labels: CI/CD, bug, maintenance

#4133 refactor: adding type hints to result.py
  doc/changelog.d/4133.miscellaneous.md
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/reader/result.py
  tests/test_result.py
Labels: enhancement
