Repository ansys/pymapdl, pull requests merged in 2025-08, with the labels that each got.

#4123 fix: update mpwrite and mpread methods to enforce 'LIB' as the only valid lib argument
  doc/changelog.d/4123.miscellaneous.md
  src/ansys/mapdl/core/mapdl_extended.py
  tests/test_commands.py
  tests/test_mapdl.py
Labels: bug

#4141 refactor: streamline environment variable usage in migrator workflow
  .github/workflows/migrator.yml
  doc/changelog.d/4141.maintenance.md
Labels: CI/CD, maintenance, enhancement

#4174 ci: adding auto assignee
  .github/workflows/ci.yml
  doc/changelog.d/4174.miscellaneous.md
Labels: CI/CD, maintenance

#4195 ci: remove unused stale issue and release configuration files
  .github/release.yml
  .github/stale.yml
  doc/changelog.d/4195.miscellaneous.md
Labels: CI/CD, maintenance

#4202 docs: update ``html_context`` with PyAnsys tags
  doc/changelog.d/4202.documentation.md
  doc/source/conf.py
Labels: documentation
