Repository ansys/pymapdl, pull requests merged in 2025-06, with the labels that each got.

#3969 feat: enhance error handling from terminal output for MAPDL launch
  doc/changelog.d/3969.documentation.md
  doc/source/user_guide/troubleshoot.rst
  src/ansys/mapdl/core/errors.py
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_grpc.py
  tests/test_launcher.py
  tests/test_pool.py
Labels: documentation, new feature

#3980 fix: plotly on docs
  doc/changelog.d/3980.fixed.md
  doc/source/conf.py
Labels: documentation, bug

#3992 docs: Update ``CONTRIBUTORS.md`` with the latest contributors
  CONTRIBUTORS.md
  doc/changelog.d/3992.miscellaneous.md
Labels: documentation

#3998 fix: selection on non-interactive
  doc/changelog.d/3998.miscellaneous.md
  src/ansys/mapdl/core/mapdl_core.py
  tests/test_mapdl.py
Labels: bug

#3895 feat: ``session`` submodule
  doc/changelog.d/3895.miscellaneous.md
  doc/source/mapdl_commands/session/files.rst
  doc/source/mapdl_commands/session/index.rst
  doc/source/mapdl_commands/session/list_controls.rst
  doc/source/mapdl_commands/session/processor_entry.rst
  doc/source/mapdl_commands/session/run_controls.rst
  src/ansys/mapdl/core/_commands/session/__init__.py
  src/ansys/mapdl/core/_commands/session/files.py
  src/ansys/mapdl/core/_commands/session/list_controls.py
  src/ansys/mapdl/core/_commands/session/processor_entry.py
  src/ansys/mapdl/core/_commands/session/run_controls.py
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/mapdl_grpc.py
Labels: documentation, new feature

#4013 fix: update article links
  .github/workflows/linkchecker.yml
  doc/changelog.d/4013.fixed.md
  doc/source/links.rst
Labels: CI/CD, documentation, bug, maintenance

#4012 fix: migrator secret escaping
  .github/workflows/migrator.yml
  doc/changelog.d/4012.fixed.md
Labels: CI/CD, bug, maintenance

#4008 ci: allow starting DPF on same container
  .ci/build_matrix.sh
  .github/workflows/test-remote.yml
  doc/changelog.d/4008.miscellaneous.md
  tests/test_pool.py
Labels: CI/CD, maintenance

#4029 docs: Update ``CONTRIBUTORS.md`` with the latest contributors
  CONTRIBUTORS.md
  doc/changelog.d/4029.miscellaneous.md
Labels: documentation

#4036 fix: typo in post
  doc/changelog.d/4036.miscellaneous.md
  src/ansys/mapdl/core/post.py
Labels: bug

#4038 fix: update import paths and add verification files to examples
  doc/changelog.d/4038.miscellaneous.md
  src/ansys/mapdl/core/examples/__init__.py
  src/ansys/mapdl/core/examples/examples.py
Labels: bug

#4035 feat: improving inquire
  doc/changelog.d/4035.miscellaneous.md
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_extended.py
  tests/test_mapdl.py
Labels: new feature

#4050 build: add support for ANSYS version 2026R1
  doc/changelog.d/4050.miscellaneous.md
  src/ansys/mapdl/core/_version.py
Labels: maintenance

#4051 build: add cooldown settings for actions and dependencies updates
  .github/dependabot.yml
  doc/changelog.d/4051.miscellaneous.md
Labels: CI/CD, maintenance

#4057 docs: Update ``CONTRIBUTORS.md`` with the latest contributors
  CONTRIBUTORS.md
  doc/changelog.d/4057.miscellaneous.md
Labels: documentation

#4002 feat: ``post1`` submodule (2/2)
  doc/changelog.d/3983.documentation.md
  doc/changelog.d/4002.miscellaneous.md
  doc/source/mapdl_commands/post1/index.rst
  doc/source/mapdl_commands/post1/magnetics_calc.rst
  doc/source/mapdl_commands/post1/magnetics_calculations.rst
  doc/source/mapdl_commands/post1/path_operations.rst
  doc/source/mapdl_commands/post1/results.rst
  doc/source/mapdl_commands/post1/set_up.rst
  doc/source/mapdl_commands/post1/setup.rst
  doc/source/mapdl_commands/post1/special.rst
  doc/source/mapdl_commands/post1/special_purpose.rst
  doc/source/mapdl_commands/post1/status.rst
  doc/source/mapdl_commands/post1/surface_operations.rst
  doc/source/mapdl_commands/post1/trace_points.rst
  src/ansys/mapdl/core/_commands/post1/__init__.py
  src/ansys/mapdl/core/_commands/post1/magnetics_calculations.py
  src/ansys/mapdl/core/_commands/post1/path_operations.py
  src/ansys/mapdl/core/_commands/post1/results.py
  src/ansys/mapdl/core/_commands/post1/set_up.py
  src/ansys/mapdl/core/_commands/post1/special_purpose.py
  src/ansys/mapdl/core/_commands/post1/status.py
  src/ansys/mapdl/core/_commands/post1/surface_operations.py
  src/ansys/mapdl/core/_commands/post1/trace_points.py
  src/ansys/mapdl/core/_commands/post1_/__init__.py
  src/ansys/mapdl/core/_commands/post1_/magnetics_calc.py
  src/ansys/mapdl/core/_commands/post1_/path_operations.py
  src/ansys/mapdl/core/_commands/post1_/results.py
  src/ansys/mapdl/core/_commands/post1_/setup.py
  src/ansys/mapdl/core/_commands/post1_/special.py
  src/ansys/mapdl/core/_commands/post1_/status.py
  src/ansys/mapdl/core/_commands/post1_/surface_operations.py
  src/ansys/mapdl/core/_commands/post1_/trace_points.py
  src/ansys/mapdl/core/commands.py
Labels: documentation, new feature
