Repository ansys/pymapdl, pull requests merged in 2025-02, with the labels that each got.

#3720 fix: allow numpy types for parameters
  doc/changelog.d/3720.fixed.md
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/parameters.py
  tests/test_mapdl.py
  tests/test_parameters.py
Labels: bug

#3730 fix: ram units
  doc/changelog.d/3730.fixed.md
  src/ansys/mapdl/core/launcher.py
  tests/test_launcher.py
Labels: bug

#3733 build: update sphinx-autodoc-typehints to 3.0.1
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
  doc/changelog.d/3733.dependencies.md
  pyproject.toml
Labels: CI/CD, dependencies, maintenance

#3731 feat: adding opened attribute
  doc/changelog.d/3731.miscellaneous.md
  src/ansys/mapdl/core/xpl.py
  tests/test_xpl.py
Labels: new feature

#3729 fix: harfrq command
  doc/changelog.d/3729.fixed.md
  src/ansys/mapdl/core/_commands/solution/dynamic_options.py
Labels: bug

#3683 feat: ``aux2`` submodule
  doc/changelog.d/3683.added.md
  doc/source/conf.py
  doc/source/mapdl_commands/aux2/bin_dump.rst
  doc/source/mapdl_commands/aux2/bin_manip.rst
  doc/source/mapdl_commands/aux2/binary_file_dump.rst
  doc/source/mapdl_commands/aux2/binary_file_manipulation.rst
  doc/source/mapdl_commands/aux2/index.rst
  pyproject.toml
  src/ansys/mapdl/core/_commands/aux2/__init__.py
  src/ansys/mapdl/core/_commands/aux2/binary_file_dump.py
  src/ansys/mapdl/core/_commands/aux2/binary_file_manipulation.py
  src/ansys/mapdl/core/_commands/aux2_/bin_dump.py
  src/ansys/mapdl/core/_commands/aux2_/bin_manip.py
  src/ansys/mapdl/core/commands.py
  src/ansys/mapdl/core/plotting/__init__.py
Labels: documentation, dependencies, new feature, maintenance, enhancement

#3737 docs: homogenizing commit/branches/pull request prefix
  doc/changelog.d/3737.documentation.md
  doc/source/getting_started/develop_pymapdl.rst
  doc/styles/config/vocabularies/ANSYS/accept.txt
Labels: documentation

#3689 feat: ``aux3`` submodule
  doc/changelog.d/3689.documentation.md
  doc/source/mapdl_commands/aux3.rst
  doc/source/mapdl_commands/aux3/index.rst
  doc/source/mapdl_commands/aux3/results_files.rst
  doc/source/mapdl_commands/index.rst
  pyproject.toml
  src/ansys/mapdl/core/_commands/aux3/__init__.py
  src/ansys/mapdl/core/_commands/aux3/results_files.py
  src/ansys/mapdl/core/_commands/aux3_.py
  src/ansys/mapdl/core/commands.py
Labels: documentation, dependencies, new feature, maintenance

#3738 fix: exiting on class deletion
  doc/changelog.d/3738.fixed.md
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_console.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_console.py
  tests/test_mapdl.py
Labels: bug

#3716 ci: improving testing
  doc/changelog.d/3716.dependencies.md
  pyproject.toml
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_xpl.py
Labels: CI/CD, dependencies, maintenance

#3745 fix: problem with the load_table method
  doc/changelog.d/3745.fixed.md
  src/ansys/mapdl/core/mapdl_extended.py
  tests/test_mapdl.py
  tests/test_parameters.py
Labels: bug

#3747 fix: do all the cleaning commands before cleaning the database, so we avoid having to issue `/POST1`.
  doc/changelog.d/3747.fixed.md
  tests/test_xpl.py
Labels: bug

#3736 test: improving pool testing
  doc/changelog.d/3736.added.md
  src/ansys/mapdl/core/pool.py
  tests/test_pool.py
  tests/test_xpl.py
Labels: enhancement

#3753 fix: Bug located in VSEL using KSWP field
  doc/changelog.d/3753.fixed.md
  src/ansys/mapdl/core/misc.py
  tests/test_plotting.py
Labels: bug

#3758 fix: Improve error handling in *GET method and enhance output logging
  doc/changelog.d/3758.fixed.md
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_extended.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_launcher.py
  tests/test_mapdl.py
  tests/test_mapdl_grpc.py
Labels: bug

#3760 feat: adding `muted` context manager
  doc/changelog.d/3760.documentation.md
  doc/source/api/mapdl.rst
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  src/ansys/mapdl/core/parameters.py
  tests/conftest.py
  tests/test_commands.py
  tests/test_grpc.py
  tests/test_inline_functions/test_component_queries.py
  tests/test_mapdl.py
  tests/test_mesh_grpc.py
  tests/test_post.py
Labels: documentation, new feature

#3759 fix: avoid returning output when using input grpc method
  doc/changelog.d/3759.fixed.md
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/test_grpc.py
Labels: bug

#3754 ci: enhance CI testing by summarizing tests durations
  .ci/collect_mapdl_logs_locals.sh
  .ci/collect_mapdl_logs_remote.sh
  .ci/pytest_summary.py
  .ci/requirements_testing_minimal.txt
  .github/workflows/ci.yml
  doc/changelog.d/3754.dependencies.md
  pyproject.toml
Labels: CI/CD, dependencies, maintenance

#3763 refactor: removing warnings
  doc/changelog.d/3763.added.md
  pyproject.toml
  src/ansys/mapdl/core/launcher.py
  src/ansys/mapdl/core/mapdl_core.py
  src/ansys/mapdl/core/mapdl_grpc.py
  tests/conftest.py
  tests/test_cli.py
  tests/test_commands.py
  tests/test_component.py
  tests/test_dpf.py
  tests/test_examples.py
  tests/test_grpc.py
  tests/test_inline_functions/test_query.py
  tests/test_launcher.py
  tests/test_logging.py
  tests/test_mapdl.py
  tests/test_pool.py
  tests/test_post.py
Labels: dependencies, maintenance, enhancement

#3767 ci: using python3.12 as main testing python version
  .devcontainer/codespaces-dev/requirements.txt
  .devcontainer/codespaces-docs/requirements.txt
  .devcontainer/devcontainer-local/requirements.txt
  .github/workflows/ci.yml
  doc/changelog.d/3767.dependencies.md
  pyproject.toml
  src/ansys/mapdl/core/plotting/visualizer.py
Labels: CI/CD, dependencies, maintenance

#3769 fix: removig star from command name in changelog
  doc/changelog.d/3758.fixed.md
  doc/changelog.d/3769.fixed.md
Labels: bug

#3771 build: temporary avoid flit latest version
  doc/changelog.d/3771.dependencies.md
  pyproject.toml
Labels: dependencies, maintenance
